<fieldset class="fieldset">
	<legend>حسابداری:</legend>
	<table id="inventory">
		<thead>
			<tr style="background: yellow;">
				<th class="font12" style="width: 4vw;">
					<span>ردیف</span>
				</th>
				<th class="vw8 font12">
					<span>شناسه سفارش</span>
				</th>
				<th class="vw12 font12">
					<span>کد رهگیری</span>
				</th>
				<th class="vw10 font12">
					<span>مبلغ تمام شده کالا</span>
				</th>
				<th class="vw8 font12">
					<span>هزینه ارسال</span>
				</th>
				<th class="vw8 font12">
					<span>ارزش افزوده</span>
				</th>
				<th class="vw8 font12">
					<span>حق ثبت</span>
				</th>
				<th class="vw8 font12">
					<span>کارمزد</span>
				</th>
				<th class="font12">
					<span>بستانکار|بدهکار فروشگاه</span>
				</th>
				<th class="font12">
					<span>بستانکار|بدهکار پست</span>
				</th>
				<th class="font12">
					<span>بستانکار|بدهکار وستانو</span>
				</th>
				<th class="vw8 font12">
					<span>پرداخت</span>
				</th>
				<th style="width: 1vw;"></th>
			</tr>
		</thead>
		<tbody>
			{% for rec in accounting['record'] %}
				<tr class="rows">
					<td style="width: 3.5vw;">
						<span>{{loop.index}}</span>
					</td>
					<td class="vw8">
						<span>{{rec[0]}}</span>
					</td>
					<td class="vw12">
						<a href="javascript:window.open('/orders-details/{{rec[0]}}/accounting', 'Details', 'width=950,height=500,top=100,left=300');" title="{{('\n'.join(rec[11]))}}"><span class="blue">{{rec[1]}}</span></a>
					</td>
					<td class="vw8">
						<span>{{rec[2]}}</span>
					</td>
					<td class="vw8">
						<span>{{rec[3]}}</span>
					</td>
					<td class="vw8">
						<span >{{rec[4]}}</span>
					</td>
					<td class="vw8">
						<span >{{rec[5]}}</span>
					</td>
					<td class="vw8">
						<span >{{rec[6]}}</span>
					</td>
					{% if rec[7] < 0 %}
						<td>
							<span class="red">{{0-rec[7]}}</span>
						</td>
					{% else %}
						<td>
							<span class="blue">{{rec[7]}}</span>
						</td>
					{% endif %}
					{% if rec[8] < 0 %}
						<td>
							<span class="red">{{0-rec[8]}}</span>
						</td>
					{% else %}
						<td>
							<span class="blue">{{rec[8]}}</span>
						</td>
					{% endif %}
					{% if rec[9] < 0 %}
						<td>
							<span class="red">{{0-rec[9]}}</span>
						</td>
					{% else %}
						<td>
							<span class="blue">{{rec[9]}}</span>
						</td>
					{% endif %}
					<td class="vw12">
						<span class="font12">{{rec[10]}}</span>
					</td>
				</tr>
			{% endfor %}
			<tr style="background: rgb(255,255,180);">
				<td colspan="3">
					<span>مجموع</span>
				</td>
				<td>
					<span>{{accounting['totalCosts'][0]}}</span>
				</td>
				<td>
					<span>{{accounting['totalCosts'][1]}}</span>
				</td>
				<td>
					<span>{{accounting['totalCosts'][2]}}</span>
				</td>
				<td>
					<span>{{accounting['totalCosts'][3]}}</span>
				</td>
				<td>
					<span >{{accounting['totalCosts'][4]}}</span>
				</td>
				{% if accounting['totalCosts'][5] < 0 %}
					<td>
						<span class="red">{{0 - accounting['totalCosts'][5]}}</span>
					</td>
				{% else %}
					<td>
						<span class="blue">{{accounting['totalCosts'][5]}}</span>
					</td>
				{% endif %}
				{% if accounting['totalCosts'][6] < 0 %}
					<td>
						<span class="red">{{0 - accounting['totalCosts'][6]}}</span>
					</td>
				{% else %}
					<td>
						<span class="blue">{{accounting['totalCosts'][6]}}</span>
					</td>
				{% endif %}
				{% if accounting['totalCosts'][7] < 0 %}
					<td>
						<span class="red">{{0 - accounting['totalCosts'][7]}}</span>
					</td>
				{% else %}
					<td>
						<span class="blue">{{accounting['totalCosts'][7]}}</span>
					</td>
				{% endif %}
			</tr>
		</tbody>
	</table>
</fieldset>

<script type="text/javascript">
	function ToRial(str) {

		str = str.replace(/\,/g, '');
		    var objRegex = new RegExp('(-?[0-9]+)([0-9]{3})');

		    while (objRegex.test(str)) {
		        str = str.replace(objRegex, '$1,$2');
		    }

		return str;
	}
</script>