{% extends 'layout.html' %}

{% include 'includes/_logo.html' %}

{% block body %}
  <div class="container">
    <main class="card" style="margin-top: 0; padding-bottom: 0;">
      <div id="login-form">
        <section>
          <form method="POST" action="">
            <fieldset>
              <legend>تغییر کلمه عبور</legend>
              <div>         
                <label for="username">کلمه عبور فعلی</label>
                <input id="current_pass" type="password" name="current_pass" required />
              </div>

              <div>
                <label for="password">کلمه عبور جدید</label>
                <input id="password" type="password" name="password" required />
              </div>

              <div>
                <label for="confirm">تایید</label>
                <input id="confirm" type="password" name="confirm" required />
              </div>
            </fieldset>

            <div>
              <input type="submit" style="font-size: 17px; font-family: BNazanin; margin-right: 15px;" value="ثبت" />
            </div>      
          </form>
        </section>
      </div>
    </main>
  </div>
{% endblock %}