<!DOCTYPE html>
<html lang="fa-IR" style="padding: 10px 10px;">
    <head>
        <title>شرکت وستانو</title>
        <!--<meta charset="utf-8" />-->
        <meta content="text/html;charset=UTF-8" http-equiv="Content-Type" />
        <meta name="viewport" content="width=device-width,initial-scale=1.0" />
        <link rel="stylesheet" type="text/css" href="/static/css/vestano.css" />
    </head>
    <body class="card" style="direction: rtl; margin: 0 auto;">
      {% include 'includes/_messages.html' %}
      <form method="POST" action="">
        <fieldset style="margin-bottom: 0; background: #fafafa;">
          <legend>ویرایش سفارش شماره {{data['orderId']}}</legend>
          <table id="ordering">
            <thead></thead>
            <tbody style="height: 100vh;">
              <tr>
                <td>
                  <fieldset style="background: rgb(255,248,248);">
                    <legend>اطلاعات</legend>
                    <div>
                      <label>فرستنده</label>
                      <input id="s_first_name" type="text" name="s_first_name" value="{{case_data['senderFirstName']}}" onchange="validator('s_first_name', 'name')" placeholder="نام" required />
                      <input id="s_last_name" type="text" name="s_last_name" value="{{case_data['senderLastName']}}" onchange="validator('s_last_name', 'name')" placeholder="نام خانوادگی" required />
                      <input id="s_cell_number" type="text" name="s_cell_number" value="{{case_data['senderCellNumber']}}" onchange="validator('s_cell_number', 'number')" placeholder="شماره موبایل" />
                      <input id="s_phone_number" type="text" name="s_phone_number" value="{{case_data['senderPhoneNumber']}}" onchange="validator('s_phone_number', 'phone')" placeholder="تلفن ثابت" />
                    </div>
                    <div>
                      <label>آدرس فرستنده</label>
                    </div>
                    <div id="address">
                      <textarea name="s_address" placeholder="نشانی فرستنده">{{case_data['senderAddress']}}</textarea>
                    </div>
                    <div id="postal_code">
                      <input id="postal_code" type="text" name="s_postal_code" value="{{case_data['senderPostalCode']}}" placeholder="کد پستی فرستنده" />
                    </div>
                    <div>
                      <label>گیرنده</label>
                      <input id="r_first_name" type="text" name="r_first_name" value="{{data['registerFirstName']}}" onchange="validator('r_first_name', 'name')" placeholder="نام" required />
                      <input id="r_last_name" type="text" name="r_last_name" value="{{data['registerLastName']}}" onchange="validator('r_last_name', 'name')" placeholder="نام خانوادگی" required />
                      <input id="r_cell_number" type="text" name="r_cell_number" value="{{data['registerCellNumber']}}" onchange="validator('r_cell_number', 'number')" placeholder="شماره موبایل" required />
                      <input id="r_phone_number" type="text" name="r_phone_number" value="{{data['registerPhoneNumber']}}" onchange="validator('r_phone_number', 'phone')" placeholder="تلفن ثابت" />
                    </div>
                    <div>
                      <label>آدرس گیرنده</label>
                      <select id="state" name="stateCode" onchange='cities()' required>
                        <option value="{{data['stateCode']}}">{{stateName}}</option>
                        {% for item in states %}
                          <option value="{{item[0]}}">{{item[1]}}</option>
                        {% endfor %}
                      </select>
                      <select id="city" name="cityCode" required>
                        <option value="{{data['cityCode']}}">{{cityName}}</option>
                      </select>
                    </div>
                    <div id="address">
                      <textarea name="address" placeholder="نشانی دقیق" required>{{data['registerAddress']}}</textarea>
                    </div>
                    <div id="postal_code">
                      <input id="postal_code" type="text" name="postal_code" value="{{data['registerPostalCode']}}" placeholder="کد پستی" />
                    </div>
                  </fieldset>
                </td>
              </tr>
              <tr>
                <td>
                  <fieldset style="background: rgb(255,248,248);">
                    <legend>اقلام سفارش</legend>
                    <table id="order-0">
                      <tr>
                        <th>
                          <span>نام محصول</span>
                        </th>
                        <th>
                          <span>تعداد</span>
                        </th>
                        <th>
                          <span>قیمت</span>
                        </th>
                        <th>
                          <span>درصد تخفیف</span>
                        </th>
                        <th>
                          <span>وزن (گرم)</span>
                        </th>
                        <th>
                          <span>عملیات</span>
                        </th>
                      </tr>
                      {% for i in range(data['products']|length) %}
                        <tr id="row{{i+1}}" class="order-0">
                          <td>
                            <select id="product{{i+1}}" style="width: 15.5vw;" name="product_{{i+1}}" onchange="caseProduct('product{{i+1}}')" required>
                              <option value="{{data['products'][i]['productId']}}">{{data['products'][i]['productName']}}</option>
                              {% for item in inventory %}
                                <option value="{{item[1]}}">{{item[0]}}</option>
                                }
                              {% endfor %}
                            </select>
                          </td>
                          <td>
                            <input id="count1" type="text" name="count_{{i+1}}" value="{{data['products'][i]['count']}}" size="4" onchange="anyChange()" required/>
                          </td>
                          <td>
                            <input id="price{{i+1}}" type="text" name="price_{{i+1}}" value="{{data['products'][i]['price']}}" size="6" onchange="priceChange()" required/>
                          </td>
                          <td>
                            <input id="discount{{i+1}}" type="text" name="discount_{{i+1}}" value="{{data['products'][i]['percentDiscount']}}" size="6" onchange="anyChange()" required/>
                          </td>
                          <td>
                            <input id="weight{{i+1}}" type="text" name="weight_{{i+1}}" value="{{data['products'][i]['weight']}}" size="6" onchange="anyChange()" required/>
                          </td>
                          <td>
                            <a href="javascript:addrow('row{{i+1}}','del')" title="حذف" class="del-box"> - </a>
                            <a href="javascript:addrow('row{{i+1}}', 'add')" title="افزودن" class="add-box"> + </a>
                          </td>
                        </tr>
                      {% endfor %}
                      <tfoot style="display: block;" class="tfoot">
                        <tr class="order-0">
                          <td>
                            <input type="text" name="sum" value="مجموع" size="16" disabled />
                          </td>                  
                          <td>
                            <input style="width: 7vw;" id="count-sum" type="number" name="count_sum" size="4" disabled/>
                          </td>
                          <td>
                            <input style="width: 7vw;" id="price-sum" type="number" name="price_sum" size="6" disabled/>
                          </td>
                          <td>
                            <input style="width: 7vw;" id="discount-sum" type="number" name="discount_sum" size="6" disabled/>
                          </td>
                          <td>
                            <input style="width: 7vw;" id="weight-sum" type="number" name="weight_sum" size="6" disabled/>
                          </td>
                          <td style="width: 200vw;"></td>
                        </tr>
                      </tfoot>
                    </table>
                  </fieldset>
                </td>
              </tr>
              <tr>
                <td>
                  <fieldset style="background: rgb(255,248,248);">
                    <legend>شیوه ارسال</legend>
                    <table id="order-1">
                      <tr>
                        {% if sType==2 %}{% set ck2='checked' %}{% else %}{% set ck2ck2 = '' %}{% endif %}
                        {% if sType==1 %}{% set ck1 = 'checked' %}{% else %}{% set ck1 = '' %}{% endif %}
                        {% if pType==88 %}{% set ck88 = 'checked' %}{% else %}{% set ck88 = '' %}{% endif %}
                        <td>
                          <label><input id="sefareshi-radio" type="radio" name="serviceType" onchange="getDeliveryPrice()" value="2" {{ck2}} required/>سفارشی <span id="sefareshi" style="color: green;"></span></label>
                        </td>
                        <td>
                          <label><input id="pishtaz-radio" type="radio" name="serviceType" onchange="getDeliveryPrice()" value="1" {{ck1}} required/>پیشتاز <span id="pishtaz" style="color: green;"></span></label>
                        </td>
                        <td>
                          <label><input id="free" type="checkbox" name="free" value="88" {{ck88}}/>ارسال رایگان</label>
                        </td>
                      </tr>
                    </table>
                  </fieldset>
                </td>
              </tr>
              <tr>
                <td>
                  <fieldset style="background: rgb(255,248,248);">
                    <legend>شیوه پرداخت</legend>
                    <table id="order-1">
                      <tr>
                        {% if pType==1 %}{% set pck1 = 'checked' %}{% else %}{% set pck1 = '' %}{% endif %}
                        {% if pType==2 %}{% set pck2 = 'checked' %}{% else %}{% set pck2 = '' %}{% endif %}
                        <td>
                          <label><input id="payType1" type="radio" name="payType" onchange="codChange()" value="1" {{pck1}}/>پرداخت در محل</label>
                        </td>
                        {% if case_data['rad']|length %}{% set rad = 'checked' %}{% else %}{% set rad = '' %}{% endif %}
                        <td>
                          <label style="color: red; font-weight: bold;"><input type="checkbox" id="rad" name="rad" value="true" {{rad}} onchange="rentalAtDest()" />کرایه در مقصد</label>
                        </td>
                        {% if case_data['cgd']|length %}{% set cgd = 'checked' %}{% else %}{% set cgd = '' %}{% endif %}
                        <td>
                          <label style="color: red; font-weight: bold;"><input type="checkbox" id="cgd" name="cgd" value="true" {{cgd}} onchange="productPriceAtDest()" />هزینه کالا در مقصد</label>
                        </td>
                        <td>
                          <label><input id="payType2" type="radio" name="payType" onchange="onlineChange()" value="2" {{pck2}}/>پرداخت آنلاین</label>
                        </td>
                      </tr>
                    </table>
                  </fieldset>
                </td>
              </tr>
              <tr>
                <td>
                  <fieldset style="background: rgb(255,248,248); height: 20vh;">
                    <legend>سایر اطلاعات</legend>
                    <table id="order-2">
                      <tbody style="height: 20vh;">
                        <tr>
                          <td style="display: none;">
                            <input id="product-price" value="{{data['products'][0]['price']}}" type="number"/>
                          </td>
                          <td style="display: none;">
                            <input id="onChange-product-price" value="{{data['products'][0]['price']}}" type="number"/>
                          </td>
                          <td style="display: none;">
                            <input id="first-wage" value="0" type="number"/>
                          </td>
                          <td style="display: none;">
                            <input id="pishtaz-input" type="number"/>
                          </td>
                          <td style="display: none;">
                            <input id="sefareshi-input" type="number"/>
                          </td>
                          <td>
                            <label>کارمزد (ریال):</label>
                            <input id="wage" type="number" name="wage" onchange="wageOnChange()" style="width: 7vw;" value="{{case_data['wage']}}" required/>
                          </td>
                          <td>
                            <label>هزینه کارتن (ریال): <input id="carton" type="number" name="carton" onchange="wageOnChange()" value="{{case_data['carton']}}" style="width: 7vw;" required/></label>
                          </td>
                          <td>
                            <label>هزینه بسته بندی (ریال): <input id="packing" type="number" name="packing" onchange="wageOnChange()" value="{{case_data['packing']}}" style="width: 7vw;" required/></label>
                          </td>
                          <td>
                            <label>هزینه جمع آوری (ریال): <input id="gathering" type="number" name="gathering" onchange="wageOnChange()" value="{{case_data['gathering']}}" style="width: 7vw;" required/></label>
                          </td>
                          {% if case_data['without_ck']|length %}{% set without_ck = 'checked' %}{% else %}{% set without_ck = '' %}{% endif %}
                          <td style="width: 25%;">
                            <label><input type="checkbox" name="without_ck" {{without_ck}} value="1"/>فاقد وجه نقد و اشیاء قیمتی</label>
                          </td>
                        </tr>
                      </tbody>
                    </table>
                  </fieldset>
                </td>
              </tr>
            </tbody>
          </table>
          <div style="margin-right: 15px;">
            <input style="font-size: 17px; font-family: BNazanin;" type="submit" value="ثبت سفارش" /> 
          </div>
        </fieldset>
      </form>

      <script type="text/javascript">
        var i = "{{data['products']|length + 1}}";
        var i_list = [];
        for (var jj = 1; jj < "{{data['products']|length + 1}}"; jj++) {
          i_list.push("row"+ jj);
        }
        var Weight = 0;
        var Price = 0;
        var Count = 0;
        var Discount = 0;
        var wage_flag = 1;
        function addrow(id_name, action) {
          var original = document.getElementById(id_name);
          var clone = original.cloneNode(true); // "deep" clone
          if (action == 'add'){

            clone.id = "row" + ++i;
            i_list.push(clone.id);
            for (ii=0; ii<2; ii++) {
              var pr = "product"+id_name.substring(3, id_name.length);
              clone.innerHTML = clone.innerHTML.replace(pr, "product"+i);
            }
            var title = "product_"+id_name.substring(3, id_name.length);
            clone.innerHTML = clone.innerHTML.replace(title, "product_"+i);
            var cou = "count_"+id_name.substring(3, id_name.length);
            clone.innerHTML = clone.innerHTML.replace(cou, "count_"+i);
            var pri = "price_"+id_name.substring(3, id_name.length);
            clone.innerHTML = clone.innerHTML.replace(pri, "price_"+i);
            var dis = "discount_"+id_name.substring(3, id_name.length);
            clone.innerHTML = clone.innerHTML.replace(dis, "discount_"+i);
            var we = "weight_"+id_name.substring(3, id_name.length);
            clone.innerHTML = clone.innerHTML.replace(we, "weight_"+i);
            clone.innerHTML = clone.innerHTML.replace(id_name, clone.id);
            var c = "count"+id_name.substring(3, id_name.length);
            clone.innerHTML = clone.innerHTML.replace(c, "count"+i);
            var p = "price"+id_name.substring(3, id_name.length);
            clone.innerHTML = clone.innerHTML.replace(p, "price"+i);
            var d = "discount"+id_name.substring(3, id_name.length);
            clone.innerHTML = clone.innerHTML.replace(d, "discount"+i);
            var w = "weight"+id_name.substring(3, id_name.length);
            clone.innerHTML = clone.innerHTML.replace(w, "weight"+i);
            var str = "row"+id_name.substring(3, id_name.length);
            clone.innerHTML = clone.innerHTML.replace(str, "row"+i);
            original.parentNode.appendChild(clone);
          } else {
            if (i_list.length > 1) {
              original.parentNode.removeChild(original);
              i_list.splice(i_list.indexOf(id_name), 1);
              anyChange();
            }
          }

        }

        function cities(){
          var state_code = document.getElementById("state").value;
          var city = document.getElementById("city");

          if (state_code) {
            const xhr = new XMLHttpRequest();
            xhr.onreadystatechange = function() {
                if (this.readyState == 4 && this.status == 200) {

                    var json = JSON.parse(this.responseText);


                    city.options.length = 1;

                    for (var i = 0; i < json.Name.length; i++) {
                        var opt = document.createElement('option');
                        opt.value = json.Code[i];
                        opt.innerHTML = json.Name[i];
                        city.appendChild(opt);
                    }
               }
            }
            xhr.open('GET', '/ajax?code=' + state_code, true);
            xhr.send(); 
          } else {
            city.options.length = 1;
          }
        }

        function caseProduct(id_name) {
          var product_id = document.getElementById(id_name).value;

          const xhr = new XMLHttpRequest();
          xhr.onreadystatechange = function() {
              if (this.readyState == 4 && this.status == 200) {

                var json = JSON.parse(this.responseText);
                document.getElementById('price'+id_name.substring(7, id_name.length)).value = json.price
                document.getElementById('weight'+id_name.substring(7, id_name.length)).value = json.weight
                document.getElementById('discount'+id_name.substring(7, id_name.length)).value = json.discount
                document.getElementById('product-price').value = json.price;

                anyChange();
             }
          }
          xhr.open('GET', '/case-ajax?code=' + product_id, true);
          xhr.send();
        }

        function getDeliveryPrice() {
          refreshWeightPrice();
          var c = document.getElementById('city').value;
          if (document.getElementById('payType1').checked) {
            var pType = document.getElementById('payType1').value;
          } else if (document.getElementById('payType2').checked) {
            var pType = document.getElementById('payType2').value;
          }
          const xhr2 = new XMLHttpRequest();
          xhr2.onreadystatechange = function() {
              if (this.readyState == 4 && this.status == 200) {

                var json = JSON.parse(this.responseText);
                document.getElementById('sefareshi').innerHTML = '(' +json.sefareshi+ ' ریال)';
                document.getElementById('pishtaz').innerHTML = '(' +json.pishtaz+ ' ریال)';
                document.getElementById('sefareshi-input').value = json.sefareshi;
                document.getElementById('pishtaz-input').value = json.pishtaz;

                //if (document.getElementById('rad').checked) {
                  //rentalAtDest();
                //}
             }
          }
          xhr2.open('GET', '/price-ajax?weight='+Weight+'&price='+Price+'&city='+c+'&pType='+pType, true);
          xhr2.send();
        }

        function refreshWeightPrice() {
          w = 0;
          p = 0;
          c = 0;
          d = 0;

          for (var cc = 0; cc < i_list.length; cc++) {
            index = i_list[cc].substring(3, i_list[cc].length);
            //alert(index)
            if (parseInt(document.getElementById('weight'+index).value)) {

              p_count = parseInt(document.getElementById('count'+index).value);
              p_discount = parseInt(document.getElementById('discount'+index).value);
              p_price = parseInt(document.getElementById('price'+index).value);
              
              w = w + (p_count * parseInt(document.getElementById('weight'+index).value));
              c = c + p_count;
              p = p + (p_count * (p_price - (p_price*(p_discount/100))));
              d = d + (p_count * p_discount);
              
            }
          }
          Weight = w;
          Price = p;
          Count = c;
          Discount = d;
          document.getElementById('count-sum').value = Count;
          document.getElementById('price-sum').value = Price;
          document.getElementById('weight-sum').value = Weight;
          document.getElementById('discount-sum').value = Discount;
          wageCalculator(Weight);
          return Price;
        }

        function anyChange() {
          refreshWeightPrice();
          getDeliveryPrice();
        }

        function validator(id_name, type) {
          var data = document.getElementById(id_name).value;
          const xhr = new XMLHttpRequest();
          xhr.onreadystatechange = function() {
              if (this.readyState == 4 && this.status == 200) {

                var json = JSON.parse(this.responseText);
                if (!json.result) {
                  document.getElementById(id_name).value = "";
                  document.getElementById(id_name).focus();
                  if (type == 'name') {
                    alert('خطا !\nنام و نام خانوادگی باید فقط شامل حروف فارسی و لاتین باشند!');
                  } else {
                    alert('خطا !\nشماره موبایل به درستی وارد نشده است!');
                  }
                  
                }
             }
          }
          xhr.open('GET', '/validator-ajax?data='+data+'&type='+type, true);
          xhr.send();
        }

        //function wageCalculator(weight) {
          //const xhr = new XMLHttpRequest();
          //xhr.onreadystatechange = function() {
              //if (this.readyState == 4 && this.status == 200) {
                //var json = JSON.parse(this.responseText);
                //var cod = document.getElementById('payType1').checked;
                //var online = document.getElementById('payType2').checked;
                //if (online) {
                  //if (wage_flag) {
                    //document.getElementById('wage').value = json.wage;
                  //}
                  //document.getElementById('first-wage').value = json.wage;
                //} else if (cod) {
                  //if (wage_flag) {
                    //document.getElementById('wage').value = json.wage + 5000;
                  //}
                  //document.getElementById('first-wage').value = json.wage + 5000;
                //}
             //}
          //}
          //xhr.open('GET', '/wage-calculator?weight='+weight, true);
          //xhr.send();
        //}

        function wageCalculator(weight) {
          var cod = document.getElementById('payType1').checked;
          var online = document.getElementById('payType2').checked;
          var cgd = document.getElementById('cgd').checked;
          var rad = document.getElementById('rad').checked;
          if (cgd) {
            var service = 'cgd';
          } else if (rad) {
            var service = 'rad';
          } else if (online) {
            var service = 'online';
          } else if (cod) {
            var service = 'cod';
          }
          const xhr = new XMLHttpRequest();
          xhr.onreadystatechange = function() {
              if (this.readyState == 4 && this.status == 200) {
                var json = JSON.parse(this.responseText);
                if (wage_flag) {
                  document.getElementById('wage').value = json.wage;
                }
                document.getElementById('first-wage').value = json.wage;
                if (rad) {
                  var wage = parseInt(document.getElementById('wage').value);
                  var packing = parseInt(document.getElementById('packing').value);
                  var carton = parseInt(document.getElementById('carton').value);
                  var gathering = parseInt(document.getElementById('gathering').value);
                  var sum = wage+packing+carton+gathering;
                  document.getElementById('price1').value = sum;
                  document.getElementById('price-sum').value = sum;
                }
             }
          }
          xhr.open('GET', '/wage-calculator?weight='+weight+'&service='+service, true);
          xhr.send();
        }

        function rentalAtDest() {
          var rad = document.getElementById('rad').checked;
          var wage = parseInt(document.getElementById('wage').value);
          var packing = parseInt(document.getElementById('packing').value);
          var carton = parseInt(document.getElementById('carton').value);
          var gathering = parseInt(document.getElementById('gathering').value);
          var sum = wage+packing+carton+gathering;
          if (rad) {
            document.getElementById('price1').value = sum;
            document.getElementById('price-sum').value = sum;
            document.getElementById('free').checked = false;
            document.getElementById('free').disabled = true;
            document.getElementById('payType1').checked = true;
            document.getElementById('cgd').checked = false;
            anyChange();
          } else {
            document.getElementById('price1').value = document.getElementById('onChange-product-price').value;
            document.getElementById('price-sum').value = document.getElementById('onChange-product-price').value;
            document.getElementById('free').disabled = false;
            anyChange();
          }
        }

        function productPriceAtDest() {
          var cgd = document.getElementById('cgd').checked;
          if (cgd) {
            document.getElementById('free').checked = true;
            document.getElementById('free').disabled = false;
            document.getElementById('payType1').checked = true;
            document.getElementById('rad').checked = false;
            document.getElementById('price1').value = document.getElementById('product-price').value;
            document.getElementById('price-sum').value = document.getElementById('product-price').value;
            anyChange();
          } else {
            document.getElementById('free').checked = false;
            document.getElementById('price1').value = document.getElementById('onChange-product-price').value;
            document.getElementById('price-sum').value = document.getElementById('onChange-product-price').value;
            anyChange();
          }
        }

        function wageOnChange() {
          var cgd = document.getElementById('cgd').checked;
          var rad = document.getElementById('rad').checked;
          var cod = document.getElementById('payType1').checked;
          var online = document.getElementById('payType2').checked;
          var post_free = document.getElementById('free').checked;
          var wage = parseInt(document.getElementById('wage').value);
          var packing = parseInt(document.getElementById('packing').value);
          var carton = parseInt(document.getElementById('carton').value);
          var gathering = parseInt(document.getElementById('gathering').value);
          var product_price = parseInt(document.getElementById('product-price').value);
          var sum = wage+packing+carton+gathering;
          if (rad) {
            rentalAtDest();
          }
          else if (cgd) {
            productPriceAtDest();
          }
          else if ((cod) & (!post_free)) {
            document.getElementById('price1').value = product_price + sum;
            document.getElementById('price-sum').value = product_price + sum;
            document.getElementById('onChange-product-price').value = product_price + sum;
            anyChange();
          }
          else if ((online) & (!post_free)) {
            document.getElementById('price1').value = product_price;
            document.getElementById('price-sum').value = product_price + sum;
            document.getElementById('onChange-product-price').value = product_price;
            anyChange();
          }
          if (wage != parseInt(document.getElementById('first-wage').value)) {
            wage_flag = 0;
          }
        }

        function priceChange() {
          var price = refreshWeightPrice();
          getDeliveryPrice();
          document.getElementById('product-price').value = price;
        }

        function onlineChange() {
          document.getElementById('price1').value = document.getElementById('product-price').value;
          document.getElementById('price-sum').value = document.getElementById('product-price').value;
          getDeliveryPrice();
          document.getElementById('cgd').checked = false;
          document.getElementById('rad').checked = false;
          document.getElementById('free').checked = false;
        }

        function codChange() {
          document.getElementById('price1').value = document.getElementById('onChange-product-price').value;
          document.getElementById('price-sum').value = document.getElementById('onChange-product-price').value;
          getDeliveryPrice();
        }
      </script>
    </body>
</html>