<div class="div1">
	<div align="center" class="div2">
		<h3>رهگیری مرسوله</h3>
		<input id="shipment-track" type="text" name="shipment-track" placeholder="شناسه رهگیری"  />
	</div>
</div>
<div class="div3"></div>
<footer class="clearfix bg">
    <div class="container div4">
    	<div class="div5">
    		<h3>وستانو</h3>
    		<div>
    			<ul class="footer">
    				<li>
    					<p>
							سامانه پستی وستانو با قابلیت پست و ارسال مرسولات از درب منزل به مقصد مورد نظر و همچنین پست و ارسال مرسولات انبوه به تمام نقاط کشور، اولین و بزرگترین سامانه حمل و نقل، پست و لجستیک هوشمند درون شهری و برون شهری در غرب ایران است.
						</p>
    				</li>
    				<li>
    					<span>تلفن تماس</span>
    					<span dir="ltr">083-38383838</span>
    				</li>
    				<li>
    					<span>شناسه ملی</span>
    					<span dir="ltr">14008255881</span>
    				</li>
    				<li>
    					<span>شماره ثبت</span>
    					<span dir="ltr">21871</span>
    				</li>
    			</ul>
    		</div>
    	</div>
    	<div class="div5">
    		<h3>جامعه</h3>
    		<div>
    			<ul class="footer">
    				<li>
    					<span>مشتریان</span>
    				</li>
    				<li>
    					<span>فروشگاه ها</span>
    				</li>
    				<li>
    					<span>شریکان</span>
    				</li>
    				<li style="margin-top: 2vh;">
    					<a style="margin-right: 1vw;" class="social-link telegram" href="#"></a>
            			<a class="social-link instagram" href="#"></a>
    				</li>
    			</ul>
    		</div>
    	</div>
    	<div class="div5">
    		<h3>درباره ما</h3>
    		<div>
    			<ul class="footer">
    				<li>
    					<span>قوانین و مقررات</span>
    				</li>
    				<li>
    					<span>آشنایی با وستانو</span>
    				</li>
    				<li>
    					<span>فرآیندها</span>
    				</li>
    				<li>
    					<span>شرایط استفاده</span>
    				</li>
    				<li>
    					<span>حریم خصوصی</span>
    				</li>
    			</ul>
    		</div>
    	</div>
    	<div class="div5">
    		<div>
	    		<figure>
					<img src="/static/img/enamad_icon.png" alt="enamad" width="150" height="150" />
				</figure>
			</div>
    	</div>
    </div>
</footer>
<div class="div6">
	<span>&copy; کلیه حقوق این سایت متعلق به شرکت توسعه دانش و فناوری وستا می باشد.</span>
</div>