<footer class="clearfix bg">
    <div class="container div4">
    	<div class="div5" style="width: 30%;">
    		<a href="/"><h3>سامانه پستی وستانو</h3></a>
    		<div>
    			<ul class="footer">
    				<li>
    					<p style="padding-top: 0; margin-top: 0;">
                            هر کجا که هستید از لحظه فروش محصول یا کالا تا دریافت آن توسط مشتری را به سامانه پستی وستانو بسپارید. سامانه وستانو با استفاده از آخرین فناوری روز محصول یا کالای شما را در اختیار مشتری قرار می دهد.               
                        </p>
    				</li>
    			</ul>
    		</div>
    	</div>
    	<div class="div5" style="width: 15%;">
    		<a href="/footer-contents/about-us"><h3>درباره ما</h3></a>
    		<div>
    			<ul class="footer ul">
    				<li>
    					<a href="/footer-contents/rules"><span>قوانین و مقررات</span></a>
    				</li>
    				<li>
    					<a href="/footer-contents/guide"><span>راهنمای استفاده</span></a>
    				</li>
    				<li>
    					<a href="/footer-contents/complaints"><span>ثبت شکایات</span></a>
    				</li>
    				<li>
    					<a href="/footer-contents/contact"><span>تماس با ما</span></a>
    				</li>
    			</ul>
    		</div>
    	</div>
        <div class="div5" style="width: 15%;">
            <a href="/footer-contents/customers"><h3>خدمات مشتریان</h3></a>
            <div>
                <ul class="footer ul">
                    <li>
                        <a href="/footer-contents/software"><span>نرم افزار</span></a>
                    </li>
                    <li>
                        <a href="/footer-contents/inventory"><span>استفاده از فضای انبار</span></a>
                    </li>
                    <li>
                        <a href="/footer-contents/sell"><span>فروش کالا</span></a>
                    </li>
                    <li>
                        <a href="/footer-contents/send"><span>ارسال کالا</span></a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="div5" style="width: 15%;">
            <h3>شبکه های اجتماعی</h3>
            <div>
                <ul class="footer ul">
                    <li style="margin-top: 2vh;">
                        <a class="social-link instagram" href="#"></a>
                    </li>
                </ul>
            </div>
        </div>
    	<div class="div5" style="width: 25%;">
    		<div>
	    		<figure style="float: left;">
                    <img alt="" onclick="window.open('https://trustseal.enamad.ir/Verify.aspx?id=128722&p=K54fYTZUkhX2QDIz', 'Popup','toolbar=no, location=no, statusbar=no, menubar=no, scrollbars=1, resizable=0, width=580, height=600, top=30')" style="cursor:pointer" id="K54fYTZUkhX2QDIz">
				</figure>
			</div>
    	</div>
    </div><br>
    <div style="margin-right: 3vw; padding: 2vh 0; font-family: B-Roya; font-size: 15px; font-weight: bold;">
        <span>شماره تماس: </span><span dir="ltr">083-38280883</span><span> | </span>
        <span>امور فروشگاه ها:</span><span>09187206130</span><span> | </span>
        <span>آدرس ایمیل: </span><a style="text-decoration: none;" href="mailto:vestaco98@gmail.com"><span lang="en" dir="ltr">vestaco98@gmail.com</span></a>
    </div>
</footer>
<div class="div6">
	<span>&copy; کلیه حقوق این سایت متعلق به شرکت توسعه دانش و فناوری وستا به شناسه ملی 14008255881 می باشد.</span>
</div>