<footer class="clearfix bg">
    <div class="container div4">
    	<div class="div5">
    		<h3>وستانو</h3>
    		<div>
    			<ul class="footer">
    				<li>
    					<p>
                            سامانه فروشگاهی، حمل و نقل هوشمند و لجستیک وستانو به منظور ارسال محصولات وستانو و سیستم همکاری در فروش در امنیت و سلامت کامل               
                        </p>
    				</li>
    				<li>
    					<span>شماره های تماس</span>
    					<span dir="ltr">083-38278537</span>
                        <span> و </span>
                        <span dir="ltr">09187206130</span>
    				</li>
    				<li>
    					<span>شناسه ملی</span>
    					<span dir="ltr">14008255881</span>
    				</li>
    				<li>
    					<span>شماره ثبت</span>
    					<span dir="ltr">21871</span>
    				</li>
    			</ul>
    		</div>
    	</div>
    	<div class="div5">
    		<h3>جامعه</h3>
    		<div>
    			<ul class="footer">
    				<li>
    					<span>مشتریان</span>
    				</li>
    				<li>
    					<span>فروشگاه ها</span>
    				</li>
    				<li>
    					<span>شریکان</span>
    				</li>
    				<li style="margin-top: 2vh;">
    					<a class="social-link telegram" href="#"></a>
            			<a class="social-link instagram" href="#"></a>
    				</li>
    			</ul>
    		</div>
    	</div>
    	<div class="div5">
    		<h3>درباره ما</h3>
    		<div>
    			<ul class="footer">
    				<li>
    					<span>قوانین و مقررات</span>
    				</li>
    				<li>
    					<span>آشنایی با وستانو</span>
    				</li>
    				<li>
    					<span>فرآیندها</span>
    				</li>
    				<li>
    					<span>شرایط استفاده</span>
    				</li>
    				<li>
    					<span>حریم خصوصی</span>
    				</li>
    			</ul>
    		</div>
    	</div>
    	<div class="div5">
    		<div>
	    		<figure>
					<img src="/static/img/enamad_icon.png" alt="enamad" />
				</figure>
			</div>
    	</div>
    </div>
</footer>
<div class="div6">
	<span>&copy; کلیه حقوق این سایت متعلق به شرکت توسعه دانش و فناوری وستا می باشد.</span>
</div>