<div>
  <main>
    <div id="login-form" onclick="changeOpacity()">
      <section>
        <form method="post" action="">
          <fieldset id="fp-login" style="text-align: center; font-family: B-Roya;">
            <legend style="font-size: 17px; text-align: right;">لطفا وارد  شوید</legend>
            <div style="margin-top: 3vh;">
              <input id="username" style="padding-left: 25px; margin-top: 2vh; color: rgb(215, 212, 207); border-color: gray; background:no-repeat left; background-image: url(/static/img/icon/login.png); font-family: B-Roya; size: 10;" placeholder="نام کاربری" type="text" name="username" required />
            </div>

            <div>
              <input id="password" style="padding-left: 25px; margin-top: 2vh; color: rgb(215, 212, 207); border-color: gray; background:no-repeat left; background-image: url(/static/img/icon/password.png); font-family: B-Roya; size: 10;" placeholder="کلمه عبور" type="password" name="password" required />
            </div>
            <div style="margin-top: 4vh;">
              <input id="login" type="submit" style="background: rgb(165,170,190); margin-top: 4vh; border-color: gray; background-color: rgb(215, 212, 207); font-size: 16px; padding:5px 10px; font-family: B-Roya;" value="ورود" />
            </div>
            <div style="margin-top: 4vh;">
              <a id="fp-login-a" href="#" style="text-decoration: none;"><span>کلمه عبور را فراموش کرده ام!</span></a>
            </div>
          </fieldset>
        </form>
      </section>
    </div>
  </main>
</div>

<script type="text/javascript">
  function changeOpacity() {
    document.getElementById("fp-login").style.opacity = "0.9";
    document.getElementById("fp-login").style.border = "2px solid gray";
    document.getElementById("fp-login").style.background = "rgb(64,69,71)";
    document.getElementById("fp-login-a").style.color = "rgb(140,129,111)";
    document.getElementById("register").style.backgroundColor = "rgb(165,170,190)";
  }
</script>