<div>
  <main>
    <div id="login-form" onclick="changeOpacity()">
      <section>
        <form method="post" action="">
          <fieldset id="fp-login">
            <legend style="font-size: 17px;">لطفا وارد  شوید</legend>
            <div>
              <input id="username" style="padding-left: 25px; margin-top: 2vh; color: rgb(215, 212, 207); border-color: gray; background:no-repeat left; background-image: url(/static/img/icon/login.png);" placeholder="نام کاربری" type="text" name="username" required />
            </div>

            <div>
              <input id="password" style="padding-left: 25px; margin-top: 2vh; color: rgb(215, 212, 207); border-color: gray; background:no-repeat left; background-image: url(/static/img/icon/password.png);" placeholder="کلمه عبور" type="password" name="password" required />
            </div>
            <div>
              <input id="login" type="submit" style="background: none; margin-top: 4vh; border-color: gray; background-color: rgb(215, 212, 207); font-family: BNazanin; font-size: 16px; padding:5px 10px;" value="ورود" />
            </div>
            <div style="margin-top: 20px;">
              <a href="#" style="color: rgb(120, 23, 30); text-decoration: none;">کلمه عبور را فراموش کرده ام!</a>
            </div>
          </fieldset>
        </form>
      </section>
    </div>
  </main>
</div>

<script type="text/javascript">
  function changeOpacity() {
    document.getElementById("bg-img").style.opacity = "0.3";
    document.getElementById("fp-login").style.border = "2px solid gray";
    document.getElementById("login").style.backgroundColor = "rgb(165,170,190)";
    document.getElementById("register").style.backgroundColor = "rgb(165,170,190)";
  }
</script>