<div class="dropdown-content-inventory">
	<input type="text" class="navbar-link invent-search" id="myInput-inventory" onkeyup="filter()" size="25">
</div>
<fieldset class="fieldset" style="margin-top: 2vh;">
	<legend>سفارشات گارانتی</legend>
	<table id="inventory">
		<thead>
			<tr style="background: yellow;">
				<th style="width: 50px;">
					<span>ردیف</span>
				</th>
				<th>
					<span>شناسه سفارش</span>
				</th>
				<th>
					<span>شرکت فروشنده</span>
				</th>
				<th>
					<span>نام خریدار</span>
				</th>
				<th>
					<span>استان مقصد</span>
				</th>
				<th>
					<span>تاریخ سفارش</span>
				</th>
				<th>
					<span>ساعت سفارش</span>
				</th>
				<th>
					<span>نحوه پرداخت</span>
				</th>
				<th>
					<span>شماره تلفن همراه</span>
				</th>
				<th>
					<span>وضعیت</span>
				</th>
				<th>
					<span>اقدام</span>
				</th>
				<th style="width: 15px;"></th>
			</tr>
		</thead>
		<tbody id="myDropdown" style="height: 74vh;">
			{% for i in range((guarantee_orders|length)-1, -1, -1) %}
				<tr class="rows">
					<td style="width: 50px;">
						<span>{{loop.index}}</span>
					</td>
					<td>
						<a title="{{('\n'.join(guarantee_orders[i][9]))}}"><span>{{guarantee_orders[i][0]}}</span></a>
					</td>
					<td>
						<span>{{guarantee_orders[i][1]}}</span>
					</td>
					<td>
						<span>{{guarantee_orders[i][2]}}</span>
					</td>
					<td>
						<span>{{guarantee_orders[i][3]}}</span>
					</td>
					<td>
						<span>{{guarantee_orders[i][4]}}</span>
					</td>
					<td>
						<span>{{guarantee_orders[i][5]}}</span>
					</td>
					<td>
						<span>{{guarantee_orders[i][6]}}</span>
					</td>
					<td>
						<span>{{guarantee_orders[i][7]}}</span>
					</td>
					<td>
						<span>{{guarantee_orders[i][8]}}</span>
					</td>
					<td>
						<a href="javascript:window.open('/orders-details/{{guarantee_orders[i][0]}}/grnt', 'Details', 'width=950,height=500,top=100,left=300');" title=""><span style="color: blue;">جزئیات</span></a>
					</td>
				</tr>
			{% endfor %}
		</tbody>
	</table>
</fieldset>

<script type="text/javascript">
	function filter() {
		var input, value, tr, div, i;
		input = document.getElementById("myInput-inventory");
		value = input.value.toUpperCase();
		div = document.getElementById("myDropdown");
		tr = div.getElementsByTagName("tr");
		if (isNaN(value)) {
			for (i = 0; i < (tr.length); i++) {
				span = tr[i].getElementsByTagName("span");
				txtValue = span[2].textContent;
				if (txtValue.toUpperCase().indexOf(value) > -1) {
					tr[i].style.display = "";
				} else {
					txtValue = span[3].textContent;
					if (txtValue.toUpperCase().indexOf(value) > -1) {
						tr[i].style.display = "";
					} else {
						txtValue = span[4].textContent;
						if (txtValue.toUpperCase().indexOf(value) > -1) {
							tr[i].style.display = "";
						} else {
							txtValue = span[7].textContent;
							if (txtValue.toUpperCase().indexOf(value) > -1) {
								tr[i].style.display = "";
							} else {
								txtValue = span[9].textContent;
								if (txtValue.toUpperCase().indexOf(value) > -1) {
									tr[i].style.display = "";
								} else {
									txtValue = span[5].textContent;
									txtValue = txtValue.replace(/\s/g, '');
									txtValue = reverse_date_1(txtValue);
									if (txtValue.toUpperCase().indexOf(value) > -1) {
										tr[i].style.display = "";
									} else { 
										txtValue = span[5].textContent;
										//txtValue = txtValue.replace(/\s/g, '');
										txtValue = reverse_date_2(txtValue);
										if (txtValue.toUpperCase().indexOf(value) > -1) {
											tr[i].style.display = "";
										} else {
											txtValue = span[6].textContent;
											txtValue = txtValue.replace(/\s/g, '');
											txtValue = reverse_time(txtValue);
											if (txtValue.toUpperCase().indexOf(value) > -1) {
												tr[i].style.display = "";
											} else {
												tr[i].style.display = "none";
											}
										}
									}
								}
							}
						}
					}
				}
			}
		} else {
			for (i = 0; i < (tr.length); i++) {
				span = tr[i].getElementsByTagName("span");
				txtValue = span[1].textContent;
				if (txtValue.toUpperCase().indexOf(value) > -1) {
					tr[i].style.display = "";
				} else {
					txtValue = span[5].textContent;
					txtValue = txtValue.replace(/\s/g, '');
					if (txtValue.toUpperCase().indexOf(value) > -1) {
						tr[i].style.display = "";
					} else {
						txtValue = span[6].textContent;
						txtValue = txtValue.replace(/\s/g, '');
						if (txtValue.toUpperCase().indexOf(value) > -1) {
							tr[i].style.display = "";
						} else {
							txtValue = span[8].textContent;
							txtValue = txtValue.replace(/\s/g, '');
							if (txtValue.toUpperCase().indexOf(value) > -1) {
								tr[i].style.display = "";
							} else {
								tr[i].style.display = "none";
							}
						}
					}
				}
			}
			span = tr[0].getElementsByTagName("span");
			txtValue = span[5].textContent;
			txtValue = txtValue.replace(/\s/g, '');
			//alert(txtValue)
		}
	}

	function reverse_date_1(s) {
		s = s.split("/").reverse().join("/");
		return s;
	}

	function reverse_date_2(s) {
		s = s.split(" / ").reverse().join(" / ");
		return s;
	} 

	function reverse_time(s) {
		s = s.split(":").reverse().join(":");
		return s;
	}
</script>