{% if item == "b-list" %}
	<div id="tab">
		<a href="/expenses/b-list/cosmetics" class="button">آرایشی، بهداشتی و سلامت</a>
		<a href="/expenses/b-list/tools" class="button">ابزار و یراق</a>
		<a href="/expenses/b-list/home appliances" class="button">خانه و آشپزخانه</a>
		<a href="/expenses/b-list/stationery" class="button">لوازم تحریر</a>
		<a href="/expenses/b-list/toys" class="button">اسباب بازی</a>
		<a href="/expenses/b-list/groceries" class="button">خوردنی و آشامیدنی</a>
		<a href="/expenses/b-list/haberdashery" class="button">خرازی</a>
	</div>
{% elif item == "s-list" %}
	<div id="tab">
		<a href="/expenses/s-list/cosmetics" class="button">آرایشی، بهداشتی و سلامت</a>
		<a href="/expenses/s-list/tools" class="button">ابزار و یراق</a>
		<a href="/expenses/s-list/home appliances" class="button">خانه و آشپزخانه</a>
		<a href="/expenses/s-list/stationery" class="button">لوازم تحریر</a>
		<a href="/expenses/s-list/toys" class="button">اسباب بازی</a>
		<a href="/expenses/s-list/groceries" class="button">خوردنی و آشامیدنی</a>
		<a href="/expenses/s-list/haberdashery" class="button">خرازی</a>
	</div>
{% elif item == "inventory" %}
	<div id="tab">
		<a href="/expenses/inventory/cosmetics" class="button">آرایشی، بهداشتی و سلامت</a>
		<a href="/expenses/inventory/tools" class="button">ابزار و یراق</a>
		<a href="/expenses/inventory/home appliances" class="button">خانه و آشپزخانه</a>
		<a href="/expenses/inventory/stationery" class="button">لوازم تحریر</a>
		<a href="/expenses/inventory/toys" class="button">اسباب بازی</a>
		<a href="/expenses/inventory/groceries" class="button">خوردنی و آشامیدنی</a>
		<a href="/expenses/inventory/haberdashery" class="button">خرازی</a>
	</div>
{% endif %}