<div class="dropdown-content-inventory">
	<input type="text" class="navbar-link invent-search" id="myInput-inventory" onkeyup="filter()" size="25">
</div>
<div class="dropdown-content-inventory" style="margin-left: 13vw; border: none; background: none; top: 9vh;">
	<a href="/export-excel" title="تولید خروجی از اطلاعات انبار" class="export navbar-link xls"><span style="margin-right: 2vw;">خروجی </span></a>
</div>
<fieldset class="fieldset" style="margin-top: 2vh;">
	<legend>لیست موجودی انبار:</legend>
	<table id="inventory">
		<thead>
			<tr style="background: yellow;" class="first-row">
				<th style="width: 4vw;">
					<span>ردیف</span>
				</th>
				<th class="vw15">
					<span>عنوان کالا</span>
				</th>
				<th class="vw8">
					<span>شناسه کالا</span>
				</th>
				<th class="vw10">
					<span>شرکت فروشنده</span>
				</th>
				<th class="vw6">
					<span>موجودی</span>
				</th>
				<th class="font12 vw6">
					<span>در صف پردازش</span>
				</th>
				<th class="font12 vw6">
					<span>آماده ارسال</span>
				</th>
				<th class="font12 vw6">
					<span>ارسال شده<br/>از وستانو</span>
				</th>
				<th class="font12 vw6">
					<span>توزیع شده</span>
				</th>
				<th class="font12 vw6">
					<span>تسویه شده</span>
				</th>
				<th class="font12 vw6">
					<span>برگشتی</span>
				</th>
				<th class="font12 vw6">
					<span>در انتظار کالا</span>
				</th>
				<th class="font12 vw8">
					<span>سایر وضعیت ها</span>
				</th>
				<th style="width: 1vw;"></th>
			</tr>
		</thead>
		<tbody id="myDropdown" style="height: 74vh;">
			{% for rec in inventory %}
				<tr class="rows">
					<td style="width: 3.5vw;">
						<span>{{loop.index}}</span>
					</td>
					<td style="width: 22vw;">
						<span>{{rec[0]}}</span>
					</td>
					<td style="width: 12vw;">
						<a href="javascript:window.open('/inventory-details/{{rec[1]}}', 'Details', 'width=1000,height=620,top=50,left=280');" title=""><span>{{rec[1]}}</span></a>
					</td>
					<td style="width: 12vw;">
						<span>{{rec[7]}}</span>
					</td>
					<td class="vw6">
						<a href="javascript:window.open('/inventory-enterance-details/{{rec[1]}}', 'Details', 'width=1000,height=620,top=50,left=280');" title=""><span>{{rec[2]}}</span></a>
					</td>
					<td class="vw8">
						<a href="javascript:window.open('/inventory-details/{{80}}/{{rec[1]}}', 'Details', 'width=1000,height=620,top=50,left=280');" title=""><span>{{rec[5]['80']}}</span></a>
					</td>
					<td class="vw6">
						<a href="javascript:window.open('/inventory-details/{{2}}/{{rec[1]}}', 'Details', 'width=1000,height=620,top=50,left=280');" title=""><span>{{rec[5]['2']}}</span></a>
					</td>
					<td class="vw6">
						<a href="javascript:window.open('/inventory-details/{{81}}/{{rec[1]}}', 'Details', 'width=1000,height=620,top=50,left=280');" title=""><span class="blue">{{rec[5]['81']}}</span></a>
					</td>
					<td class="vw6">
						<a href="javascript:window.open('/inventory-details/{{7}}/{{rec[1]}}', 'Details', 'width=1000,height=620,top=50,left=280');" title=""><span style="color: mediumblue;">{{rec[5]['7']}}</span></a>
					</td>
					<td class="vw6">
						<a href="javascript:window.open('/inventory-details/{{71}}/{{rec[1]}}', 'Details', 'width=1000,height=620,top=50,left=280');" title=""><span style="color: darkblue;">{{rec[5]['71']}}</span></a>
					</td>
					<td class="vw6">
						<a href="javascript:window.open('/inventory-details/{{11}}/{{rec[1]}}', 'Details', 'width=1000,height=620,top=50,left=280');" title=""><span style="color: darkred;">{{rec[5]['11']}}</span></a>
					</td>
					<td class="vw6">
						<a href="javascript:window.open('/inventory-details/{{82}}/{{rec[1]}}', 'Details', 'width=1000,height=620,top=50,left=280');" title=""><span class="red">{{rec[5]['82']}}</span></a>
					</td>
					<td class="vw6">
						<a href="javascript:window.open('/inventory-details/{{100}}/{{rec[1]}}', 'Details', 'width=1000,height=620,top=50,left=280');" title=""><span>{{rec[6]}}</span></a>
					</td>
				</tr>
			{% endfor %}
			<tr id="sum" style="background: rgb(255,255,180);">
				<td colspan="4">
					<span>مجموع</span>
				</td>
				<td>
					<span id="count_sum">{{sum['count_sum']}}</span>
				</td>
				<td>
					<span id="count80">{{sum['status_sum']['80']}}</span>
				</td>
				<td>
					<span id="count2">{{sum['status_sum']['2']}}</span>
				</td>
				<td>
					<span id="count81">{{sum['status_sum']['81']}}</span>
				</td>
				<td>
					<span id="count7">{{sum['status_sum']['7']}}</span>
				</td>
				<td>
					<span id="count71">{{sum['status_sum']['71']}}</span>
				</td>
				<td>
					<span id="count11">{{sum['status_sum']['11']}}</span>
				</td>
				<td>
					<span id="count82">{{sum['status_sum']['82']}}</span>
				</td>
				<td>
					<span id="count_other">{{sum['other_status_sum']}}</span>
				</td>
			</tr>
		</tbody>
	</table>
</fieldset>

<script type="text/javascript">
	function filter() {
		var input, value, tr, div, i;
		var sum=0; sum80=0; sum2=0; sum81=0; sum7=0; sum71=0; sum11=0; sum82=0; sum_other=0;
		input = document.getElementById("myInput-inventory");
		value = input.value.toUpperCase();
		div = document.getElementById("myDropdown");
		tr = div.getElementsByTagName("tr");
		if (isNaN(value)) {
			for (i = 0; i < (tr.length - 1); i++) {
				span = tr[i].getElementsByTagName("span");
				txtValue = span[1].textContent;
				if (txtValue.toUpperCase().indexOf(value) > -1) {
					tr[i].style.display = "";
					sum = sum + parseInt(span[4].textContent);
					sum80 = sum80 + parseInt(span[5].textContent);
					sum2 = sum2 + parseInt(span[6].textContent);
					sum81 = sum81 + parseInt(span[7].textContent);
					sum7 = sum7 + parseInt(span[8].textContent);
					sum71 = sum71 + parseInt(span[9].textContent);
					sum11 = sum11 + parseInt(span[10].textContent);
					sum82 = sum82 + parseInt(span[11].textContent);
					sum_other = sum_other + parseInt(span[12].textContent);

				} else {
					tr[i].style.display = "none";
				}
				document.getElementById('count_sum').innerHTML = sum;
				document.getElementById('count80').innerHTML = sum80;
				document.getElementById('count2').innerHTML = sum2;
				document.getElementById('count81').innerHTML = sum81;
				document.getElementById('count7').innerHTML = sum7;
				document.getElementById('count71').innerHTML = sum71;
				document.getElementById('count11').innerHTML = sum11;
				document.getElementById('count82').innerHTML = sum82;
				document.getElementById('count_other').innerHTML = sum_other;
				document.getElementById("sum").style.display = "";
			}
		} else {
			for (i = 0; i < (tr.length - 1); i++) {
				span = tr[i].getElementsByTagName("span");
				txtValue = span[2].textContent;
				if (txtValue.toUpperCase().indexOf(value) > -1) {
					tr[i].style.display = "";
					sum = sum + parseInt(span[4].textContent);
					sum80 = sum80 + parseInt(span[5].textContent);
					sum2 = sum2 + parseInt(span[6].textContent);
					sum81 = sum81 + parseInt(span[7].textContent);
					sum7 = sum7 + parseInt(span[8].textContent);
					sum71 = sum71 + parseInt(span[9].textContent);
					sum11 = sum11 + parseInt(span[10].textContent);
					sum82 = sum82 + parseInt(span[11].textContent);
					sum_other = sum_other + parseInt(span[12].textContent);

				} else {
					tr[i].style.display = "none";
				}
				document.getElementById('count_sum').innerHTML = sum;
				document.getElementById('count80').innerHTML = sum80;
				document.getElementById('count2').innerHTML = sum2;
				document.getElementById('count81').innerHTML = sum81;
				document.getElementById('count7').innerHTML = sum7;
				document.getElementById('count71').innerHTML = sum71;
				document.getElementById('count11').innerHTML = sum11;
				document.getElementById('count82').innerHTML = sum82;
				document.getElementById('count_other').innerHTML = sum_other;
				document.getElementById("sum").style.display = "";
			}
		}
	}
</script>