{% if sub_item == 'listT' %}
  {% if session['role'] == 'vendor_admin' %}
  <div class="dropdown-content-inventory mrg-vh6">
  {% else %}
  <div class="dropdown-content-inventory mrg-vh4">
  {% endif %}
    <input type="text" class="navbar-link invent-search" id="myInput-inventory" onkeyup="filter2()" size="25">
  </div>
{% endif %}
<fieldset class="fieldset transfer-fieldset" onclick="notShow()" style="background: #fafafa;">
  <legend>حواله به انبار:</legend>
  {% if session['role'] == 'vendor_admin' %}
    {% include 'includes/_inventTransferTab.html' %}
  {% endif %}
  {% if sub_item == 'newT' %}
    <fieldset class="fieldset mrg-vh2" style="background: rgb(255,255,230); height: 66vh;">
      <form method="POST" action="">
        <div class="mrg-vh1">
          <label>نام کالا</label>
          <input id="productName" type="text" name="productName" placeholder="" size="50" required />
          <select id="vendor" name="vendor" class="mrg-vw2" required>
            <option value="" disabled selected>شرکت فروشنده</option>
            <option value="{{session['vendor_name']}}">{{session['vendor_name']}}</option>
          </select>
        </div>
        <div class="mrg-vh2">
          <label>مشخصات</label>
          <input id="price" type="number" name="price" placeholder="قیمت (ریال)" required />
          <input id="weight" type="number" name="weight" placeholder="وزن (گرم)" required />
          <input id="count" type="number" name="count" placeholder="تعداد موجودی (عدد)" required />
          <input id="percentDiscount" type="number" name="percentDiscount" placeholder="درصد تحفیف (%)"  />
        </div>
        <div class="mrg-vh2" style="float: right;">
          <label>روش ارسال به انبار</label>
          <select id="shipment" name="shipment" required>
            <option value="" disabled selected>انتخاب کنید</option>
            <option value="زمینی با خودرو وستانو">زمینی با خودرو وستانو</option>
            <option value="زمینی با خودرو فروشگاه">زمینی با خودرو فروشگاه</option>
            <option value="کشتی">کشتی</option>
            <option value="هواپیما">هواپیما</option>
          </select>
        </div>
        <div class="mrg-vh2" style="margin-right: 15vw;">
          <label for="pcal1" class="mrg-vh2">زمان ارسال به انبار</label>
          <input type="text" id="pcal1" class="pdate" name="shipment_date" required>
        </div>
        <div class="mrg-vh2">
          <label>توضیحات</label>
          <textarea id="descriptionT" name="description" placeholder=""></textarea>
        </div>
        <div class="mrg-vh4">
          <input style="font-size: 17px; font-family: BNazanin;" type="submit" value="ارسال حواله" />
        </div>
      </form>
    </fieldset>
  {% elif sub_item == 'incT' %}
    <fieldset class="fieldset mrg-vh2" style="height: 65vh; background: rgb(255,255,230);">
      <form method="POST" action="">

        <div class="dropdown mrg-vh4" id="inc-search">
          <label>نام کالای مورد نظر را وارد کنید:</label>
          <div id="myDropdown" class="dropdown-content" style="max-height: none;">
            <input type="text" id="myInput" placeholder="جستجو .." autocomplete="off" onclick="show()" onkeyup="filter()" size="30" style="width: 15vw;">
            <table id="inventory" style="display: none;">
              <tbody style="height: 45vh; width: 15vw;">
                {% for item in inventory %}
                  <tr>
                    <td style="width: unset;">
                      <a href="#" style="width: unset;" onclick="searchFunction1('{{item[1]}}', '{{item[0]}}')">{{item[0]}}</a>
                    </td>
                  </tr>
                {% endfor %}
              </tbody>
            </table>
          </div>
        </div>

        <div class="mrg-vh1" style="display: none;">
          <label>کالای مورد نظر را انتخاب کنید:</label>
          <select id="product" name="product" onchange="product1('product')" oninput="product1('product')" required>
            <option value="" disabled selected>(انخاب کنید)</option>
            {% for item in inventory %}
              <option value="{{item[1]}}">{{item[0]}}</option>
            {% endfor %}
          </select>
        </div>

        <fieldset id="features" class="fieldset mrg-vh2" style="height: 50vh; border: none; background: rgb(255,255,230); display: none;">
          <div class="mrg-vh4">
            <label style="display:inline-block;">شناسه کالا</label>
            <input style="margin:0 2.7vw;" id="p_Id" type="text" name="productId" placeholder="" disabled required size="20" />
            <label style="display:inline-block; margin-right: 4vw;">شرکت فروشنده</label>
            <select style="margin:0 4vw;" id="vendor" name="vendor" disabled style="margin-right: 2vw;" required>
              <option value="" disabled selected>شرکت فروشنده</option>
              {% for vendor in session['vendors_list'] %}
                <option value="{{vendor}}">{{vendor}}</option>
              {% endfor %}
            </select>
          </div>
          <div class="mrg-vh4">
            <label style="display:inline-block;">قیمت</label>
            <input style="margin: 0 4.5vw;" id="price" type="number" name="price" placeholder="قیمت (ریال)" disabled required />
            <label style="display:inline-block; margin-right: 2.1vw;">وزن</label>
            <input style="margin:0 7vw;" id="weight" type="number" name="weight" placeholder="وزن (گرم)" disabled required />
          </div>
          <div class="mrg-vh4">
            <label style="display:inline-block;">موجودی فعلی</label>
            <input style="margin: 0 1.5vw;" id="exist_count" type="number" name="exist_count" placeholder="تعداد ورودی جدید" disabled required />
            <label style="display:inline-block; margin-right: 5vw;">درصد تخفیف</label>
            <input style="margin:0 3.7vw;" id="percentDiscount" type="number" name="percentDiscount" placeholder="درصد تحفیف (%)" disabled required  />
          </div>
          <div class="mrg-vh4">
            <label style="display:inline-block;">ورودی جدید</label>
            <input style="margin: 0 2vw;" id="count" type="number" name="count" placeholder="تعداد ورودی جدید" required />
            <label style="display:inline-block; margin-right: 4vw;">روش ارسال به انبار</label>
            <select style="margin-right: 2vw;" id="shipment" name="shipment" required>
              <option value="" disabled selected>انتخاب کنید</option>
              <option value="زمینی با خودرو وستانو">زمینی با خودرو وستانو</option>
              <option value="زمینی با خودرو فروشگاه">زمینی با خودرو فروشگاه</option>
              <option value="کشتی">کشتی</option>
              <option value="هواپیما">هواپیما</option>
            </select>
            <label for="pcal1" class="mrg-vh2" style="display:inline-block; margin-right: 4vw;">زمان ارسال به انبار</label>
            <input type="text" id="pcal1" class="pdate" name="shipment_date" required>
            <label style="display:inline-block; margin-right: 4vw;"><input id="count" type="checkbox" value="yes" name="returned" />کالای برگشتی</label>
          </div>
          <div class="mrg-vh4">
            <input style="font-size: 17px; font-family: BNazanin;" type="submit" value="ارسال حواله" />
          </div>
        </fieldset>
      </form>
    </fieldset>

  {% elif sub_item == 'editT' %}
    <fieldset class="fieldset mrg-vh2" style="height: 65vh; background: rgb(255,255,230);">
      <form method="POST" action="">
        <div class="dropdown mrg-vh4" id="inc-search">
          <label>نام کالای مورد نظر را وارد کنید:</label>
          <div id="myDropdown" class="dropdown-content" style="max-height: none;">
            <input type="text" id="myInput" placeholder="جستجو .." autocomplete="off" onclick="show()" onkeyup="filter()" size="30" style="width: 15vw;">
            <table id="inventory" style="display: none;">
              <tbody style="height: 45vh; width: 15vw;">
                {% for item in inventory %}
                  <tr>
                    <td style="width: unset;">
                      <a href="#" style="width: unset;" onclick="searchFunction4('{{item[1]}}', '{{item[0]}}')">{{item[0]}}</a>
                    </td>
                  </tr>
                {% endfor %}
              </tbody>
            </table>
          </div>
        </div>

        <div class="mrg-vh1" style="display: none;">
          <label>کالای مورد نظر را انتخاب کنید:</label>
          <select id="product" name="product" onchange="product4('product')" required>
            <option value="" disabled selected>(انخاب کنید)</option>
            {% for item in inventory %}
              <option value="{{item[1]}}">{{item[0]}}</option>
            {% endfor %}
          </select>
        </div>

        <fieldset id="features" class="fieldset mrg-vh2" style="height: 50vh; border: none; background: rgb(255,255,230); display: none;">
          <div class="mrg-vh4">
            <label style="display:inline-block;">نام کالا</label>
            <input style="margin-right: 4vw;" id="productName" type="text" name="productName" placeholder="" size="50" required />
          </div>
          <div class="mrg-vh4">
            <label style="display:inline-block;">شناسه کالا</label>
            <input style="margin:0 2.7vw;" id="p_Id" type="text" name="productId" placeholder="" disabled required size="20" />
            <label style="display:inline-block; margin-right: 4vw;">شرکت فروشنده</label>
            <select style="margin:0 4vw;" id="vendor" name="vendor" style="margin-right: 2vw;" required>
              <option value="" disabled selected>شرکت فروشنده</option>
              <option value="{{session['vendor_name']}}">{{session['vendor_name']}}</option>
            </select>
          </div>
          <div class="mrg-vh4">
            <label style="display:inline-block;">قیمت</label>
            <input style="margin: 0 4.5vw;" id="price" type="number" name="price" placeholder="قیمت (ریال)" required />
            <label style="display:inline-block; margin-right: 2.1vw;">وزن</label>
            <input style="margin:0 7vw;" id="weight" type="number" name="weight" placeholder="وزن (گرم)" required />
          </div>
          <div class="mrg-vh4">
            <label style="display:inline-block;">موجودی فعلی</label>
            <input style="margin: 0 1.5vw;" id="exist_count" type="number" name="exist_count" placeholder="تعداد ورودی جدید" required />
            <label style="display:inline-block; margin-right: 5vw;">درصد تخفیف</label>
            <input style="margin:0 3.7vw;" id="percentDiscount" type="number" name="percentDiscount" placeholder="درصد تحفیف (%)" required  />
          </div>
          <div class="mrg-vh4">
            <input style="font-size: 17px; font-family: BNazanin;" type="submit" value="ثبت ویرایش " />
          </div>
        </fieldset>
      </form>
    </fieldset>

  {% elif sub_item == 'packT' %}
    <fieldset class="fieldset mrg-vh1" style="height: 68vh; background: rgb(255,255,230);">
      <form method="POST" action="" style="margin-block-end: 0;">
        <div>
          <label>نام بسته</label>
          <input id="packName" type="text" name="packName" placeholder="" size="50" required />
          <select id="vendor" name="vendor" class="mrg-vw2" required>
            <option value="" disabled selected>شرکت فروشنده</option>
            <option value="{{session['vendor_name']}}">{{session['vendor_name']}}</option>
          </select>
        </div>
        <div>
          <fieldset class="fieldset" style="padding:0; margin-bottom:0;">
            <legend>اقلام موجود در بسته</legend>
            <table id="order-0">
              <tbody style="height: 16vh;">
                <tr>
                  <th>
                    <span>نام محصول</span>
                  </th>
                  <th>
                    <span>تعداد</span>
                  </th>
                  <th>
                    <span>قیمت</span>
                  </th>
                  <th>
                    <span>درصد تخفیف</span>
                  </th>
                  <th>
                    <span>وزن (گرم)</span>
                  </th>
                  <th>
                    <span>عملیات</span>
                  </th>
                </tr>
                <tr id="row1" class="order-0">
                  <td>
                    <select id="product1" name="product_1" onchange="product('product1')" required>
                      <option value="" disabled selected>(انخاب کنید)</option>
                      {% for item in inventory %}
                        <option value="{{item[1]}}">{{item[0]}}</option>
                      {% endfor %}
                    </select>
                  </td>                  
                  <td>
                    <input id="count1" type="text" name="count_1" size="4" value="1" required/>
                  </td>
                  <td>
                    <input id="price1" type="text" name="price_1" size="6" required/>
                  </td>
                  <td>
                    <input id="discount1" type="text" name="discount_1" size="6" required/>
                  </td>
                  <td>
                    <input id="weight1" type="text" name="weight_1" size="6" required/>
                  </td>
                  <td>
                    <a href="javascript:addrow('row1','del')" title="حذف" class="del-box"> - </a>
                    <a href="javascript:addrow('row1', 'add')" title="افزودن" class="add-box"> + </a>
                  </td>
                </tr>
              </tbody>
            </table>
          </fieldset>
        </div>
        <div class="mrg-vh1">
          <label>سایر مشخصات</label>
          <input id="price" type="number" name="price" placeholder="قیمت (ریال)" required />
          <input class="mrg-vw2" id="count" type="number" name="count" placeholder="تعداد موجودی (عدد)" required />
          <input class="mrg-vw2" id="weight" type="number" name="weight" placeholder="وزن (گرم)" required />
          <input class="mrg-vw2" id="percentDiscount" type="number" name="percentDiscount" placeholder="درصد تحفیف (%)"  />
        </div>
        <div class="mrg-vh1">
          <label>توضیحات</label>
          <textarea id="description" style="height: 8vh;" name="description" placeholder=""></textarea>
        </div>
        <div>
          <label style="display:inline-block;">روش ارسال به انبار</label>
            <select id="shipment" name="shipment" required>
              <option value="" disabled selected>انتخاب کنید</option>
              <option value="زمینی با خودرو وستانو">زمینی با خودرو وستانو</option>
              <option value="زمینی با خودرو فروشگاه">زمینی با خودرو فروشگاه</option>
              <option value="کشتی">کشتی</option>
              <option value="هواپیما">هواپیما</option>
            </select>
            <label for="pcal1" class="mrg-vh2" style="display:inline-block; margin-right: 4vw;">زمان ارسال به انبار</label>
            <input type="text" id="pcal1" class="pdate" name="shipment_date" required>
        </div>
        <div class="mrg-vh1">
          <input style="font-size: 17px; font-family: BNazanin;" type="submit" value="ارسال حواله" />
        </div>
      </form>
    </fieldset>
  {% elif sub_item == 'releaseT' %}
    <fieldset class="fieldset mrg-vh2" style="background: rgb(255,255,230); height: 65vh;">
      <form method="POST" action="">
        <div class="dropdown mrg-vh2" id="inc-search">
          <label>نام کالای مورد نظر را وارد کنید:</label>
          <div id="myDropdown" class="dropdown-content" style="max-height: none;">
            <input type="text" id="myInput" placeholder="جستجو .." autocomplete="off" onclick="show()" onkeyup="filter()" size="30" style="width: 15vw;">
            <table id="inventory" style="display: none;">
              <tbody style="height: 45vh; width: 15vw;">
                {% for item in inventory %}
                  <tr>
                    <td style="width: unset;">
                      <a href="#" style="width: unset;" onclick="searchFunction2('{{item[1]}}', '{{item[0]}}')">{{item[0]}}</a>
                    </td>
                  </tr>
                {% endfor %}
              </tbody>
            </table>
          </div>
        </div>

        <div class="mrg-vh1" style="display: none;">
          <label>کالای مرجوعی را انتخاب کنید:</label>
          <select id="product" name="product" onchange="product2('product')" required>
            <option value="" disabled selected>(انخاب کنید)</option>
            {% for item in inventory %}
              <option value="{{item[1]}}">{{item[0]}}</option>
            {% endfor %}
          </select>
        </div>

        <fieldset id="features" class="fieldset mrg-vh6" style="height: 50vh; border: none; background: rgb(255,255,230); display: none;">
          <div>
            <label>موجودی فعلی</label>
            <input id="exist_count" type="text" name="exist_count" placeholder="" size="20" disabled />
            <select id="vendor" name="vendor" class="mrg-vw2" disabled>
              <option value="" disabled selected>شرکت فروشنده</option>
              {% for vendor in session['vendors_list'] %}
                <option value="{{vendor}}">{{vendor}}</option>
              {% endfor %}
            </select>
          </div>
          <div class="mrg-vh8">
            <label>تعداد مرجوعی کالا</label>
            <input id="count" type="number" name="count" placeholder="تعداد مرجوعی (عدد)" required />
          </div>
          <div class="mrg-vh2" style="float: right;">
            <label>روش تحویل از انبار</label>
            <select id="shipment" name="shipment" required>
              <option value="" disabled selected>انتخاب کنید</option>
              <option value="زمینی با خودرو وستانو">زمینی با خودرو وستانو</option>
              <option value="زمینی با خودرو فروشگاه">زمینی با خودرو فروشگاه</option>
              <option value="کشتی">کشتی</option>
              <option value="هواپیما">هواپیما</option>
            </select>
          </div>
          <div class="mrg-vh2" style="margin-right: 15vw;">
            <label for="pcal1" class="mrg-vh2">زمان تحویل از انبار</label>
            <input type="text" id="pcal1" class="pdate" name="shipment_date" required>
          </div>
          <div class="mrg-vh4">
            <input style="font-size: 17px; font-family: BNazanin;" type="submit" value="ارسال حواله مرجوعی" />
          </div>
        </fieldset>
      </form>
    </fieldset>
  {% elif sub_item == 'searchT' %}
    <fieldset class="fieldset mrg-vh2" style="background: rgb(255,255,230); height: 65vh;">
      <div class="mrg-vh1">
        <label>نام کالا را وارد کنید:</label>
        <div class="dropdown mrg-vh4">
          <!--<button onclick="search()" class="dropbtn">جستجو</button>-->
          <div id="myDropdown" class="dropdown-content" style="max-height: none;">
            <input type="text" id="myInput" placeholder="جستجو .." autocomplete="off" onclick="show()" onkeyup="filter()" size="30" style="width: 15vw;">
            <table id="inventory" style="display: none;">
              <tbody style="height: 45vh; width: 15vw;">
                {% for item in inventory %}
                  <tr>
                    <td style="width: unset;">
                      <a href="#" style="width: unset;" onclick="searchFunction('{{item[1]}}')">{{item[0]}}</a>
                    </td>
                  </tr>
                {% endfor %}
              </tbody>
            </table>
          </div>
        </div>
      </div>
      <div class="mrg-vh4 mrg-vw23">
        <fieldset id="search-result" class="fieldset" style="border: none; display: none;">
          <table class="search-row">
            <tr style="background: #db4d81;">
              <th class="vw15">
                <span>عنوان کالا</span>
              </th>
              <th class="vw8">
                <span>شناسه کالا</span>
              </th>
              <th class="vw10">
                <span>شرکت فروشنده</span>
              </th>
              <th class="vw6">
                <span>موجودی</span>
              </th>
              <th class="vw8">
                <span>وزن</span>
              </th>
              <th class="vw8">
                <span>قیمت</span>
              </th>
            </tr>
            <tr>
              <td class="vw15">
                <span id="p_name"></span>
              </td>
              <td class="vw8">
                <span id="p_id"></span>
              </td>
              <td class="vw10">
                <span id="vendor"></span>
              </td>
              <td class="vw6">
                <span id="count"></span>
              </td>
              <td class="vw8">
                <span id="weight"></span>
              </td>
              <td class="vw8">
                <span id="price"></span>
              </td>
            </tr>
          </table>
          <div id="pack_details0" style="display: none; margin-bottom: 1vh;">
            <span class="bold">جزئیات  بسته:</span>
          </div>
          <table id="pack_table" style="display: none; text-align: center;">
            <tbody style="height: 5vh;">
              <tr style="background: #009ca5;">
                <th class="vw15">
                  <span>عنوان کالا</span>
                </th>
                <th class="vw8">
                  <span>شناسه کالا</span>
                </th>
                <th class="vw10">
                  <span>شرکت فروشنده</span>
                </th>
                <th class="vw6">
                  <span>تعداد</span>
                </th>
                <th class="vw8">
                  <span>وزن</span>
                </th>
                <th class="vw8">
                  <span>قیمت</span>
                </th>
              </tr>
              {% for i in range(10) %}
                <tr id="pack_details{{i+1}}">
                  <td class="vw15">
                    <span id="p_name{{i+1}}"></span>
                  </td>
                  <td class="vw8">
                    <span id="p_id{{i+1}}"></span>
                  </td>
                  <td class="vw10">
                    <span id="vendor{{i+1}}"></span>
                  </td>
                  <td class="vw6">
                    <span id="count{{i+1}}"></span>
                  </td>
                  <td class="vw8">
                    <span id="weight{{i+1}}"></span>
                  </td>
                  <td class="vw8">
                    <span id="price{{i+1}}"></span>
                  </td>
                </tr>
              {% endfor %}
            </tbody>
          </table>
        </fieldset>
      </div>
    </fieldset>
  {% elif sub_item == 'listT' %}
    {% if session['role'] == 'vendor_admin' %}
    <fieldset class="fieldset mrg-vh2" style="background: rgb(255,255,230); height: 65vh;">
    {% else %}
    <fieldset class="fieldset mrg-vh2 hgt-74" style="background: rgb(255,255,230);">
    {% endif %}
      <legend>لیست حواله ها:</legend>
      <table id="inventory-transfer">
        <thead>
          <tr style="background: yellow;" class="first-row">
            <th style="width: 4vw;">
              <span>ردیف</span>
            </th>
            <th>
              <span>شماره حواله</span>
            </th>
            <th>
              <span>فرستنده</span>
            </th>
            <th class="vw14">
              <span>نوع حواله</span>
            </th>
            <th class="vw20">
              <span>نام کالا</span>
            </th>
            <th class="vw8">
              <span>تعداد</span>
            </th>
            <th>
              <span>زمان ثبت درخواست</span>
            </th>
            <th class="vw8">
              <span>وضعیت</span>
            </th>
            <th class="vw8">
              <span>اقدام</span>
            </th>
          </tr>
        </thead>
        {% if session['role'] == 'vendor_admin' %}
        <tbody id="myDropdown" style="height: 55vh; font-family: 'B-Roya';" >
        {% else %}
        <tbody id="myDropdown" class="hgt-71" style="height: 67vh; font-family: 'B-Roya';" >
        {% endif %}
          {% for i in range((transfer_req|length)-1, -1, -1) %}
          {% if (session['role'] == 'vendor_admin') and (not transfer_req[i]['read']) %}
            <tr id="rows" style="font-weight: bold;" class="border-bottom" onclick="transferReqDetails('{{transfer_req[i]['number']}}')">
          {% elif (session['role'] != 'vendor_admin') and (transfer_req[i]['req_status']=='بررسی نشده' or transfer_req[i]['req_status']=='ویرایش شده') %}
            <tr id="rows" style="font-weight: bold;" class="border-bottom" onclick="transferReqDetails('{{transfer_req[i]['number']}}')">
          {% else %}
            <tr id="rows" class="border-bottom" onclick="transferReqDetails('{{transfer_req[i]['number']}}')">
          {% endif %}
              <td style="width: 4vw;">
                <span>{{loop.index}}</span>
              </td>
              <td>
                <span id="req-number">{{transfer_req[i]['number']}}</span>
              </td>
              <td>
                <span>{{transfer_req[i]['vendor']}}</span>
              </td>
              <td class="vw14">
                <span>{{transfer_req[i]['request_type']}}</span>
              </td>
              <td class="vw20">
                <a title="شناسه کالا : {{transfer_req[i]['productId']}}"><span>{{transfer_req[i]['productName']}}</span></a>
              </td>
              {% if 'count' in transfer_req[i] %}
                <td class="vw8">
                  <span>{{transfer_req[i]['count']}}</span>
                </td>
              {% else %}
                <td class="vw8">
                  <span>-</span>
                </td>
              {% endif %}
              {% if 'shipment' not in transfer_req[i] %}
                <td>
                  <span>{{transfer_req[i]['datetime']}}</span>
                </td>
              {% elif transfer_req[i]['request_type'] == 'خروج از انبار' %}
                <td>
                  <a title="زمان تحویل از انبار: {{transfer_req[i]['shipment_date']}}"><span>{{transfer_req[i]['datetime']}}</span>
                </td>
              {% else %}
                <td>
                  <a title="زمان ارسال به انبار: {{transfer_req[i]['shipment_date']}}"><span>{{transfer_req[i]['datetime']}}</span>
                </td>
              {% endif %}
              {% if transfer_req[i]['req_status']=='بررسی نشده' %}{% set color='orange' %}
              {% elif transfer_req[i]['req_status']=='ویرایش شده' %}{% set color='blue' %}
              {% elif transfer_req[i]['req_status']=='تایید شد' %}{% set color='green' %}
              {% elif transfer_req[i]['req_status']=='رد درخواست' %}{% set color='red' %}{% endif %}
              <td class="vw8">
                <a title="{{transfer_req[i]['refuse_reason']}}"><span class={{color}}>{{transfer_req[i]['req_status']}}</span></a>
              </td>
              <td class="vw8">
                <a href="#" title="حذف حواله (فعلا فعال نیست)"><span style="float: unset; margin: auto;" id="delete"></span></a>
              </td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
    </fieldset>
  {% else %}
    <fieldset class="fieldset mrg-vh2" style="border:none; height: 65vh;">
    </fieldset>
  {% endif %}
</fieldset>

<script type="text/javascript">
  var i=1;
  var i_list = ["row1"];
  var show_flag = 0;
  function addrow(id_name, action) {
      var original = document.getElementById(id_name);
    var clone = original.cloneNode(true); // "deep" clone
    if (action == 'add'){
      clone.id = "row" + ++i;
      i_list.push(clone.id);
      for (ii=0; ii<2; ii++) {
        var pr = "product"+id_name.substring(3, id_name.length);
        clone.innerHTML = clone.innerHTML.replace(pr, "product"+i);
      }
      var title = "product_"+id_name.substring(3, id_name.length);
      clone.innerHTML = clone.innerHTML.replace(title, "product_"+i);
      var attachments = "count_"+id_name.substring(3, id_name.length);
      clone.innerHTML = clone.innerHTML.replace(attachments, "count_"+i);
      var pri = "price_"+id_name.substring(3, id_name.length);
      clone.innerHTML = clone.innerHTML.replace(pri, "price_"+i);
      var dis = "discount_"+id_name.substring(3, id_name.length);
      clone.innerHTML = clone.innerHTML.replace(dis, "discount_"+i);
      var we = "weight_"+id_name.substring(3, id_name.length);
      clone.innerHTML = clone.innerHTML.replace(we, "weight_"+i);
      clone.innerHTML = clone.innerHTML.replace(id_name, clone.id);
      var c = "count"+id_name.substring(3, id_name.length);
      clone.innerHTML = clone.innerHTML.replace(c, "count"+i);
      var p = "price"+id_name.substring(3, id_name.length);
      clone.innerHTML = clone.innerHTML.replace(p, "price"+i);
      var d = "discount"+id_name.substring(3, id_name.length);
      clone.innerHTML = clone.innerHTML.replace(d, "discount"+i);
      var w = "weight"+id_name.substring(3, id_name.length);
      clone.innerHTML = clone.innerHTML.replace(w, "weight"+i);
      var str = "row"+id_name.substring(3, id_name.length);
      clone.innerHTML = clone.innerHTML.replace(str, "row"+i);
      original.parentNode.appendChild(clone);
    } else {
      if (i_list.length > 1) {
        original.parentNode.removeChild(original);
        i_list.splice(i_list.indexOf(id_name), 1);
      }
    }

  }

  function product1(id_name) {
    var product_name = document.getElementById(id_name).value;

    const xhr = new XMLHttpRequest();
    xhr.onreadystatechange = function() {
        if (this.readyState == 4 && this.status == 200) {

            var json = JSON.parse(this.responseText);

            document.getElementById('features').style.display = 'block';

            
            document.getElementById('p_Id').value = json.productId
            document.getElementById('vendor').value = json.vendor
            document.getElementById('price').value = json.price
            document.getElementById('weight').value = json.weight
            document.getElementById('exist_count').value = json.count
            document.getElementById('percentDiscount').value = json.discount
       }
    }
    xhr.open('GET', '/ajax?code=' + product_name, true);
    xhr.send();
  }

  function product2(id_name) {
    var product_name = document.getElementById(id_name).value;

    const xhr = new XMLHttpRequest();
    xhr.onreadystatechange = function() {
        if (this.readyState == 4 && this.status == 200) {

            var json = JSON.parse(this.responseText);

            document.getElementById('features').style.display = 'block';
            document.getElementById('exist_count').value = json.count
            document.getElementById('vendor').value = json.vendor
       }
    }
    xhr.open('GET', '/ajax?code=' + product_name, true);
    xhr.send();
  }

  function product3(id_name) {
    var product_name = document.getElementById(id_name).value;

    const xhr = new XMLHttpRequest();
    xhr.onreadystatechange = function() {
        if (this.readyState == 4 && this.status == 200) {

            var json = JSON.parse(this.responseText);

            document.getElementById('features').style.display = 'block';

            document.getElementById('delete-button').href = "/delete-stuff/"+json.productId
            document.getElementById('productName').value = json.productName
            document.getElementById('p_Id').value = json.productId
            document.getElementById('vendor').value = json.vendor
            document.getElementById('price').value = json.price
            document.getElementById('weight').value = json.weight
            document.getElementById('exist_count').value = json.count
            document.getElementById('percentDiscount').value = json.discount

            if (json.vendor != 'سفارش موردی') {
              document.getElementById('exist_count').disabled = true;
            } else {
              document.getElementById('exist_count').disabled = false;
            }
       }
    }
    xhr.open('GET', '/case-ajax?code=' + product_name, true);
    xhr.send();
  }

  function product4(id_name) {
    var product_name = document.getElementById(id_name).value;

    const xhr = new XMLHttpRequest();
    xhr.onreadystatechange = function() {
        if (this.readyState == 4 && this.status == 200) {

            var json = JSON.parse(this.responseText);

            document.getElementById('features').style.display = 'block';

            document.getElementById('productName').value = json.productName
            document.getElementById('p_Id').value = json.productId
            document.getElementById('vendor').value = json.vendor
            document.getElementById('price').value = json.price
            document.getElementById('weight').value = json.weight
            document.getElementById('exist_count').value = json.count
            document.getElementById('percentDiscount').value = json.discount

            if (json.vendor != 'سفارش موردی') {
              document.getElementById('exist_count').disabled = true;
            } else {
              document.getElementById('exist_count').disabled = false;
            }
       }
    }
    xhr.open('GET', '/ajax?code=' + product_name, true);
    xhr.send();
  }

  function product(id_name) {
    var product_name = document.getElementById(id_name).value;

    const xhr = new XMLHttpRequest();
    xhr.onreadystatechange = function() {
        if (this.readyState == 4 && this.status == 200) {

            var json = JSON.parse(this.responseText);
            
            document.getElementById('price'+id_name.substring(7, id_name.length)).value = json.price
            document.getElementById('weight'+id_name.substring(7, id_name.length)).value = json.weight
            document.getElementById('discount'+id_name.substring(7, id_name.length)).value = json.discount
       }
    }
    xhr.open('GET', '/ajax?code=' + product_name, true);
    xhr.send();
  }

  function show() {
    show_flag = 1;
    document.getElementById("inventory").style.display = 'block';
  }

  function notShow() {
    if (!show_flag) {
      document.getElementById("inventory").style.display = 'none';
    }
    show_flag = 0;
  }

  function filter() {
    var input, filter, ul, tr, a, i;
    input = document.getElementById("myInput");
    filter = input.value.toUpperCase();
    div = document.getElementById("myDropdown");
    a = div.getElementsByTagName("a");
    tr = div.getElementsByTagName("tr");
    for (i = 0; i < a.length; i++) {
      txtValue = a[i].textContent || a[i].innerText;
      if (txtValue.toUpperCase().indexOf(filter) > -1) {
        tr[i].style.display = "";
      } else {
        tr[i].style.display = "none";
      }
    }
  }

  function searchFunction(product_id) {
    const xhr = new XMLHttpRequest();
    xhr.onreadystatechange = function() {
        if (this.readyState == 4 && this.status == 200) {

            var json = JSON.parse(this.responseText);

            document.getElementById('myInput').value = json.productName;

            document.getElementById('search-result').style.display = 'block';
            document.getElementById("inventory").style.display = 'none';

            document.getElementById('p_name').innerHTML = json.productName
            document.getElementById('p_id').innerHTML = json.productId
            document.getElementById('vendor').innerHTML = json.vendor
            document.getElementById('count').innerHTML = json.count
            document.getElementById('weight').innerHTML = json.weight + ' گرم'
            document.getElementById('price').innerHTML = json.price + ' ریال'

            var pack = json.pack_products
            var pack_len = pack.length;
            if (pack_len) {
              document.getElementById('pack_details0').style.display = 'block';
              document.getElementById('pack_table').style.display = 'block';
              for (i = 0; i < pack_len; i++) {
                //document.getElementById('pack_details'+(i+1)).style.display = 'block';
                document.getElementById('p_name'+(i+1)).innerHTML = pack[i].productName;
                document.getElementById('p_id'+(i+1)).innerHTML = pack[i].productId;
                document.getElementById('vendor'+(i+1)).innerHTML = json.vendor;
                document.getElementById('count'+(i+1)).innerHTML = pack[i].count;
                document.getElementById('weight'+(i+1)).innerHTML = pack[i].weight + ' گرم';
                document.getElementById('price'+(i+1)).innerHTML = pack[i].price + ' ریال';
              }
            } else {
              document.getElementById('pack_details0').style.display = 'none';
              document.getElementById('pack_table').style.display = 'none';
            }
       }
    }
    xhr.open('GET', '/ajax?code=' + product_id, true);
    xhr.send();
  }

  function searchFunction1(product_id, product_name) {
    document.getElementById('myInput').value = product_name;
    document.getElementById('product').value = product_id;
    product1('product');
  }

  function searchFunction4(product_id, product_name) {
    document.getElementById('myInput').value = product_name;
    document.getElementById('product').value = product_id;
    product4('product');
  }

  function searchFunction2(product_id, product_name) {
    document.getElementById('myInput').value = product_name;
    document.getElementById('product').value = product_id;
    product2('product');
  }

  function transferReqDetails(number) {
    //var number = document.getElementById(id_name).innerHTML
    window.open("/user-pannel/inventory-transfer-details/"+number, "_self");
  }

  function filter2() {
    var input, value, tr, div, i;
    input = document.getElementById("myInput-inventory");
    value = input.value.toUpperCase();
    div = document.getElementById("myDropdown");
    tr = div.getElementsByTagName("tr");
    if (isNaN(value)) {
      for (i = 0; i < (tr.length); i++) {
        span = tr[i].getElementsByTagName("span");
        txtValue = span[2].textContent;
        if (txtValue.toUpperCase().indexOf(value) > -1) {
          tr[i].style.display = "";
        } else {
          txtValue = span[3].textContent;
          if (txtValue.toUpperCase().indexOf(value) > -1) {
            tr[i].style.display = "";
          } else {
            txtValue = span[4].textContent;
            if (txtValue.toUpperCase().indexOf(value) > -1) {
              tr[i].style.display = "";
            } else {
              txtValue = span[7].textContent;
              if (txtValue.toUpperCase().indexOf(value) > -1) {
                tr[i].style.display = "";
              } else {
                txtValue = span[1].textContent;
                if (txtValue.toUpperCase().indexOf(value) > -1) {
                  tr[i].style.display = "";
                } else {
                  txtValue = span[6].textContent;
                  txtValue = txtValue.replace(/\s/g, '');
                  txtValue = reverse_date_1(txtValue);
                  if (txtValue.toUpperCase().indexOf(value) > -1) {
                    tr[i].style.display = "";
                  } else {
                    tr[i].style.display = "none";
                  }
                }
              }
            }
          }
        }
      }
    } else {
      for (i = 0; i < (tr.length); i++) {
        span = tr[i].getElementsByTagName("span");
        txtValue = span[5].textContent;
        if (txtValue.toUpperCase().indexOf(value) > -1) {
          tr[i].style.display = "";
        } else {
          txtValue = span[1].textContent;
          if (txtValue.toUpperCase().indexOf(value) > -1) {
            tr[i].style.display = "";
          } else {
            txtValue = span[6].textContent;
            if (txtValue.toUpperCase().indexOf(value) > -1) {
              tr[i].style.display = "";
            } else {
              tr[i].style.display = "none";
            }
          }
        }
      }
      span = tr[0].getElementsByTagName("span");
      txtValue = span[5].textContent;
      txtValue = txtValue.replace(/\s/g, '');
      //alert(txtValue)
    }
  }

  function reverse_date_1(s) {
    s = s.split("/").reverse().join("/");
    return s;
  }

  function reverse_date_2(s) {
    s = s.split(" / ").reverse().join(" / ");
    return s;
  } 

  function reverse_time(s) {
    s = s.split(":").reverse().join(":");
    return s;
  }

  var objCal1 = new AMIB.persianCalendar( 'pcal1' );

</script>