<footer class="clearfix bg" style="padding: 2vh 4vw; font-size: 14px;">
    <div class="mf-div-0">
    	<div>
    		<a href="http://vestanops.com"><h3>سامانه پستی وستانو</h3></a>
			<p>
                هر کجا که هستید از لحظه فروش محصول یا کالا تا دریافت آن توسط مشتری را به سامانه پستی وستانو بسپارید. سامانه وستانو با استفاده از آخرین فناوری روز محصول یا کالای شما را در اختیار مشتری قرار می دهد.               
            </p>
        </div>
    	<div style="margin-top: 2vh;">
    		<a href="/footer-contents/about-us"><h3>درباره ما</h3></a>
			<div>
				<a href="/footer-contents/rules"><span>قوانین و مقررات</span></a>
			</div>
			<div>
				<a href="/footer-contents/guide"><span>راهنمای استفاده</span></a>
			</div>
			<div>
				<a href="/footer-contents/complaints"><span>ثبت شکایات</span></a>
			</div>
			<div>
				<a href="/footer-contents/contact"><span>تماس با ما</span></a>
			</div>
    	</div>
    	<div style="margin-top: 2vh;">
    		<a href="/footer-contents/customers"><h3>خدمات مشتریان</h3></a>
			<div>
				<a href="/footer-contents/software"><span>نرم افزار</span></a>
			</div>
			<div>
				<a href="/footer-contents/inventory"><span>استفاده از فضای انبار</span></a>
			</div>
			<div>
				<a href="/footer-contents/sell"><span>فروش کالا</span></a>
			</div>
			<div>
				<a href="/footer-contents/send"><span>ارسال کالا</span></a>
			</div>
    	</div>
    	<div style="margin-top: 2vh;">
    		<h3>شبکه های اجتماعی</h3>
			<div>
				<a style="padding: 4vw;" class="social-link instagram" href="#"></a>
			</div>
    	</div>
    	<div>
    		<div>
	    		<figure style="width: 25%; float: left;">
					<img style="width: 100%; height: 100%;" src="/static/img/enamad_icon.png" alt="enamad" />
				</figure>
			</div>
    	</div>
    </div>
    <div class="mf-div-0" style="margin-right: 3vw; padding: 2vh 0; font-family: B-Roya; font-size: 15px; font-weight: bold;">
    	<div>
    		<span>شماره تماس: </span><span dir="ltr">083-38229253</span>
    	</div>
    	<div>
    		<span>امور فروشگاه ها:</span><span>09187206130</span>
    	</div>
    	<div>
    		<span>آدرس ایمیل: </span><a style="text-decoration: none;" href="mailto:vestaco98@gmail.com"><span lang="en" dir="ltr">vestaco98@gmail.com</span></a>
    	</div>
    </div>
</footer>
<div class="div6" style="font-size: 14px;">
	<span>&copy; کلیه حقوق این سایت متعلق به شرکت توسعه دانش و فناوری وستا به شناسه ملی 14008255881 می باشد.</span>
</div>