<nav>
  <ul>
    <li><a class="navbar-link home" href="/">خانه</a></li>
    <!---<li><a class="navbar-link blog" href="/blog">وبلاگ</a></li>--->
    <li><a class="navbar-link expenses" href="/user-pannel/ordering">پنل کاربری</a></li>
    <li><a class="navbar-link about" href="/about">درباره ما</a></li>
  </ul>

  <ul class="social">
    <li><a class="navbar-link twitter" href="#"></a></li>
    <li><a class="navbar-link instagram" href="#"></a></li>
    <li><a class="navbar-link facebook" href="#"></a></li>
    <li><a class="navbar-link telegram" href="#"></a></li>
  </ul>

  <div id="registration">
    <ul>
      <li><a class="navbar-link logout" href="/logout">خروج</a></li>
      <li><a class="navbar-link login" href="/login">ورود</a></li>
      <li><a class="navbar-link register" href="/register">عضویت</a></li>
      <li class="alert-welcome">{{session['message']}}</li>
    </ul>
  </div>
</nav>