<!DOCTYPE html>
<html lang="fa-IR" style="padding: 10px 10px;">
    <head>
        <title>سامانه پستی وستانو</title>
        <!--<meta charset="utf-8" />-->
        <meta content="text/html;charset=UTF-8" http-equiv="Content-Type" />
        <meta name="viewport" content="width=device-width,initial-scale=1.0" />
        <link rel="stylesheet" type="text/css" href="/static/css/vestano.css" />
    </head>
    <body class="card" style="direction: rtl; margin: 0 auto;">
    	<fieldset class="fieldset" style="background-color: #bcd1fe;">
    		<div>
    			<span style="font-weight: bold;">اطلاعات سفارش</span>
    		</div>
			<table id="temp-ord">
				<tr>
					<td>
						<span class="blue bold">بارکد مرسوله:</span>
					</td>
					<td class="vw12" colspan="7">
						<span class="font14"> {{details[16]}} </span>
					</td>
				</tr>
				<tr>
					<td>
						<span class="blue bold">شناسه سفارش:</span>
					</td>
					<td class="vw12">
						<span>{{details[0]}}</span>
					</td>
					<td>
						<span class="blue bold font14">کد تسویه حساب:</span>
					</td>
					<td class="vw12">
						<span class="font14">{{details[34]}}</span>
					</td>
					<td>
						<span class="blue bold">نام فروشگاه:</span>
					</td>
					<td class="vw12">
						<span>{{details[1]}}</span>
					</td>
					<td>
						<span class="blue bold">زمان سفارش:</span>
					</td>
					<td class="vw17 font14">
						<span>{{details[2]}}</span>
					</td>
				</tr>
				{% if details[1] == 'سفارش موردی' %}
					<tr>
						<td>
							<span class="blue bold">فرستنده:</span>
						</td>
						<td>
							<span>{{details[18]}}</span>
						</td>
						<td>
							<span class="blue bold">تلفن ثابت:</span>
						</td>
						<td>
							<span>{{details[31]}}</span>
						</td>
						<td>
							<span class="blue bold">تلفن همراه:</span>
						</td>
						<td>
							<span>{{details[19]}}</span>
						</td>
						<td>
							<span class="blue bold">کد پستی:</span>
						</td>
						<td>
							<span>{{details[20]}}</span>
						</td>
					</tr>
					<tr>
						<td>
							<span class="blue bold">گیرنده:</span>
						</td>
						<td>
							<span>{{details[3]}}</span>
						</td>
						<td>
							<span class="blue bold">تلفن ثابت:</span>
						</td>
						<td>
							<span>{{details[28]}}</span>
						</td>
						<td>
							<span class="blue bold">تلفن همراه:</span>
						</td>
						<td>
							<span>{{details[4]}}</span>
						</td>
						<td>
							<span class="blue bold">کد پستی:</span>
						</td>
						<td>
							<span>{{details[5]}}</span>
						</td>
					</tr>
				{% else %}
					<tr>
						<td>
							<span class="blue bold">نام خریدار:</span>
						</td>
						<td>
							<span>{{details[3]}}</span>
						</td>
						<td>
							<span class="blue bold">تلفن ثابت:</span>
						</td>
						<td>
							<span>{{details[28]}}</span>
						</td>
						<td>
							<span class="blue bold">تلفن همراه:</span>
						</td>
						<td>
							<span>{{details[4]}}</span>
						</td>
						<td>
							<span class="blue bold">کد پستی:</span>
						</td>
						<td>
							<span>{{details[5]}}</span>
						</td>
					</tr>
				{% endif %}
				<tr>
					<td>
						<span class="blue bold">وضعیت:</span>
					</td>
					{% if code == 'cnl' %}
						<td>
							<span>لغو شده</span>
						</td>
					{% else %}
						<td>
							<span>{{details[14]}}</span>
						</td>
					{% endif %}
					<td>
						<span class="blue bold">سرویس پستی:</span>
					</td>
					<td>
						<span>{{details[6]}}</span>
					</td>
					<td>
						<span class="blue bold">نوع پرداخت:</span>
					</td>
					<td>
						<span>{{details[7]}}</span>
					</td>
					{% if (details[1] != 'سفارش موردی') and (session['vendor_name']) and (not session['constant_wage_flag']) %}
						<td>
							<span class="blue bold">هزینه ارسال:</span>
						</td>
						<td>
							<span> {{details[15] + details[17]}} ریال </span>
						</td>
					{% else %}
						<td>
							<span class="blue bold">کارمزد:</span>
						</td>
						<td>
							<span> {{details[15]}} ریال </span>
						</td>
					{% endif %}
				</tr>
				{% if details[1] == 'سفارش موردی' %}
					<tr>
						<td>
							<span class="blue bold font14">هزینه بسته بندی:</span>
						</td>
						<td>
							<span>{{details[22]}} ریال</span>
						</td>
						<td>
							<span class="blue bold font14">هزینه کارتن:</span>
						</td>
						<td>
							<span>{{details[23]}} ریال</span>
						</td>
						<td>
							<span class="blue bold font14"> هزینه جمع آوری:</span>
						</td>
						<td>
							<span>{{details[24]}} ریال</span>
						</td>
						<td>
							<span class="blue bold font14">هزینه ارسال:</span>
						</td>
						<td>
							<span>{{details[17]}} ریال</span>
						</td>
					</tr>
					{% if details[25] != None %}
						{% if details[25] %}{% set rad='checked' %}{% else %}{% set rad='' %}{% endif %}
						{% if details[26] %}{% set cgd='checked' %}{% else %}{% set cgd='' %}{% endif %}
						<tr>
							<td>
								<span class="blue bold font14">کرایه در مقصد:</span>
							</td>
							<td>
								<span><input type="checkbox" {{rad}} /></span>
							</td>
							<td>
								<span class="blue bold font14">هزینه کالا در مقصد:</span>
							</td>
							<td>
								<span><input type="checkbox" {{cgd}} /></span>
							</td>
							<td>
								<span class="blue bold font14">کاربر پردازش:</span>
							</td>
							<td>
								<span class="font14">{{details[29]}}</span>
							</td>
							<td>
								<span class="blue bold font14">کاربر ثبت کننده سفارش:</span>
							</td>
							<td>
								<span class="font14">{{details[30]}}</span>
							</td>
						</tr>
						<tr>
							<td>
								<span class="blue bold">نشانی:</span>
							</td>
							<td colspan="7">
								<span>{{details[8]}}</span>
							</td>
						</tr>
					{% endif %}
				{% else %}
					{% if details[27] %}{% set grnt='checked' %}{% else %}{% set grnt='' %}{% endif %}
					{% if session['role'] == 'vendor_admin' %}
						<tr>
							<td>
								<span class="blue bold">نشانی:</span>
							</td>
							<td colspan="5">
								<span>{{details[8]}}</span>
							</td>
							<td>
								<span class="blue bold font14">کالای گارانتی:</span>
							</td>
							<td>
								<span><input type="checkbox" {{grnt}} /></span>
							</td>
						</tr>
					{% else %}
						{% if details[35] %}{% set ifCreditPaid='checked' %}{% else %}{% set ifCreditPaid='' %}{% endif %}
						<tr>
							<td>
								<span class="blue bold font14">هزینه ارسال:</span>
							</td>
							<td>
								<span>{{details[17]}} ریال</span>
							</td>
							<td>
								<span class="blue bold font14">کالای گارانتی:</span>
							</td>
							<td>
								<span><input type="checkbox" {{grnt}} /></span>
							</td>
							<td>
								<span class="blue bold font14">واریز وستانو:</span>
							</td>
							<td>
								{% if details[35] %}
								<span><input type="checkbox" {{ifCreditPaid}} /></span><span style="font-size: 12px;">{{details[36]}}</span>
								{% else %}
								<span><input type="checkbox" {{ifCreditPaid}} /></span>
								{% endif %}
							</td>
							<td>
								<span class="blue bold font14">کاربر پردازش:</span>
							</td>
							<td>
								<span class="font14">{{details[29]}}</span>
							</td>
						</tr>
						<tr>
							<td>
								<span class="blue bold">نشانی:</span>
							</td>
							<td colspan="7">
								<span>{{details[8]}}</span>
							</td>
						</tr>
					{% endif %}
				{% endif %}
			</table>
			<fieldset class="p-fieldset">
				<legend>اقلام سفارش</legend>
				<table id="temp-ord-products">
					<tr class="bg-yellow">
						<td class="vw18 right">
							<span>نام کالا </span><span class="font14" style="color: red;">(موجودی انبار)</span>
						</td>
						<td class="vw10">
							<span>قیمت واحد</span>
						</td>
						<td class="vw8">
							<span>وزن</span>
						</td>
						<td class="vw10">
							<span>تعداد</span>
						</td>
						<td class="vw10">
							<span>مجموع قیمت</span>
						</td>
						<td class="vw10">
							<span>تخفیف</span>
						</td>
						<td class="vw10">
							<span>مجموع خرید</span>
						</td>
						<td class="vw18 bg-green">
							<span>مجموع فاکتور</span>
						</td>
					</tr>
					{% for p in details[9] %}
						<tr class="rows">
							{% if p['if_pack'] %}
								<td class="vw18 right font14">
									<table>
										<tr>
											<td class="right">
												<span>{{p['productName']}} </span><span style="color: red;">({{p['inventory_count']}})</span><span> شامل:</span>
											</td>
										</tr>
										{% for pp in p['pack_products'] %}
											<tr>
												<td class="right">
													<span class="font14" style="margin-right: 1vw;">{{pp['count']}} عدد {{pp['productName']}} </span><span style="color: red;">({{pp['invent_count']}})</span>
												</td>
											</tr>
										{% endfor %}
									</table>
								</td>
							{% else %}
								<td class="vw18 right font14">
									<span>{{p['productName']}} </span><span style="color: red;">({{p['inventory_count']}})</span>
								</td>
							{% endif %}
							<td class="vw10">
								<span>{{p['price']}}</span>
							</td>
							<td class="vw8">
								<span>{{p['weight']}}</span>
							</td>
							<td class="vw10">
								<span>{{p['count']}}</span>
							</td>
							<td class="vw10">
								<span>{{p['price']*p['count']}}</span>
							</td>
							<td class="vw10">
								<span>{{p['percentDiscount']}}</span>
							</td>
							{% if p['percentDiscount'] %}
								<td class="vw10">
									<span>{{(p['price']*p['count'])-(p['price']*p['count']*p['percentDiscount']/100)}}</span>
								</td>
							{% else %}
								<td class="vw10">
									<span>{{(p['price']*p['count'])}}</span>
								</td>
							{% endif %}
						</tr>
					{% endfor %}
					<tr class="bg-yellow">
						<td colspan="2">
							<span>مجموع</span>
						</td>
						<td>
							<span>{{details[21]}}</span>
						</td>
						<td>
							<span>{{details[10]}}</span>
						</td>
						<td>
							<span>{{details[11]}}</span>
						</td>
						<td>
							<span>{{details[12]}}</span>
						</td>
						{% if details[12] %}
							<td>
								<span>{{details[11]-(details[11]*details[12]/100)}}</span>
							</td>
							{% if details[1] == 'سفارش موردی' %}
								{% if details[25] != None %}
									{% if details[25] %}
										<td class="vw18 bg-green">
											<span>{{details[15]+details[17]+details[22]+details[23]+details[24]}} ریال</span>
										</td>
									{% elif details[26] %}
										<td class="vw18 bg-green">
											<span>{{details[11]-(details[11]*details[12]/100)}} ریال</span>
										</td>
									{% else %}
										{% if details[7] == 'پرداخت آنلاین' %}
											<td class="vw18 bg-green">
												<span>{{details[15]+details[17]+details[22]+details[23]+details[24]}} ریال</span>
											</td>
										{% else %}
											<td class="vw18 bg-green">
												<span>{{details[33]-(details[11]*details[12]/100)+details[17]}} ریال</span>
											</td>
										{% endif %}
									{% endif %}
								{% else %}
									{% if details[7] == 'پرداخت آنلاین' %}
										{% if details[32] %}
											<td class="vw18 bg-green">
												<span>{{details[15]+details[22]+details[23]+details[24]}} ریال</span>
											</td>
										{% else %}
											<td class="vw18 bg-green">
												<span>{{details[15]+details[17]+details[22]+details[23]+details[24]}} ریال</span>
											</td>
										{% endif %}
									{% else %}
										<td class="vw18 bg-green">
											<span>{{details[11]-(details[11]*details[12]/100)+details[15]+details[17]+details[22]+details[23]+details[24]}} ریال</span>
										</td>
									{% endif %}
								{% endif %}
							{% else %}
								<td class="vw18 bg-green">
									<span>{{details[11]-(details[11]*details[12]/100) + details[15]}} ریال</span>
								</td>
							{% endif %}
						{% else %}
							<td>
								<span>{{details[11]}}</span>
							</td>
							{% if details[1] == 'سفارش موردی' %}
								{% if details[25] != None %}
									{% if details[25] %}
										<td class="vw18 bg-green">
											<span>{{details[15]+details[17]+details[22]+details[23]+details[24]}} ریال</span>
										</td>
									{% elif details[26] %}
										<td class="vw18 bg-green">
											<span>{{details[11]}} ریال</span>
										</td>
									{% else %}
										{% if details[7] == 'پرداخت آنلاین' %}
											<td class="vw18 bg-green">
												<span>{{details[15]+details[17]+details[22]+details[23]+details[24]}} ریال</span>
											</td>
										{% else %}
											<td class="vw18 bg-green">
												<span>{{details[33]+details[17]}} ریال</span>
											</td>
										{% endif %}
									{% endif %}
								{% else %}
									{% if details[7] == 'پرداخت آنلاین' %}
										{% if details[32] %}
											<td class="vw18 bg-green">
												<span>{{details[15]+details[22]+details[23]+details[24]}} ریال</span>
											</td>
										{% else %}
											<td class="vw18 bg-green">
												<span>{{details[15]+details[17]+details[22]+details[23]+details[24]}} ریال</span>
											</td>
										{% endif %}
									{% else %}
										<td class="vw18 bg-green">
											<span>{{details[11]+details[15]+details[17]+details[22]+details[23]+details[24]}} ریال</span>
										</td>
									{% endif %}
								{% endif %}
							{% else %}
								{% if (details[1] != 'سفارش موردی') and (not session['constant_wage_flag']) %}
								<td class="vw18 bg-green">
									<span>{{details[11] + details[15] + details[17]}} ریال</span>
								</td>
								{% else %}
								<td class="vw18 bg-green">
									<span>{{details[11] + details[15]}} ریال</span>
								</td>
								{% endif %}
							{% endif %}
						{% endif %}
					</tr>
				</table>
			</fieldset>
		</fieldset>
		{% if code == 'temp' %}
			<div style="margin-top: 3vh;">
				{% if session['role'] != 'vendor_admin' %}
				<a class="button" href="javascript:processFunction('/confirm-order/{{details[13]}}')" title="تایید و ارسال از طریق شرکت ملی پست" style="background-color: #f3f3f3;">ارسال با شرکت ملی پست</a>
				<!--<a class="button" href="javascript:window.open('/postAvvalParameters/{{details[13]}}/temp', 'postAvvalParameters', 'width=1150,height=700,top=30,left=200');" onclick="closePostAvval()" title="تایید و ارسال از طریق شرکت پست اول" style="background-color: #f3f3f3; margin-right: 1vw;">ارسال با شرکت پست اول</a>-->
				<a class="button" href="javascript:processFunction('/cancel-order/{{details[13]}}')" title="ارسال به سفارشات لغو شده" style="background-color: #f3f3f3; float: left; margin-right: 1vw;">لغو سفارش</a>
				<a class="button" href="javascript:processFunction('/pending-order/{{details[13]}}')" title="ارسال به در انتظار کالا" style="background-color: #f3f3f3; float: left; margin-right: 1vw;">عدم موجودی</a>
				<a class="button" href="/edit-order/{{details[13]}}" title="تغییر در سفارش" style="background-color: #f3f3f3; float: left;">ویرایش سفارش</a>
				{% else %}
				<a class="button" href="javascript:processFunction('/cancel-order/{{details[13]}}')" title="ارسال به سفارشات لغو شده" style="background-color: #f3f3f3;">لغو سفارش</a>
				<a class="button" href="/edit-order/{{details[13]}}" title="تغییر در سفارش" style="background-color: #f3f3f3; float: right; margin-left: 1vw;">ویرایش سفارش</a>
				{% endif %}
			</div>
		{% elif code == 'caseTemp' %}
			<div style="margin-top: 3vh;">
				{% if details[32] %}
				<a class="button" href="javascript:processFunction('/postAvval-confirm-order/{{details[13]}}')" title="تایید و آماده به ارسال" style="background-color: #f3f3f3;">تایید سفارش</a>
				{% else %}
				<a class="button" href="javascript:processFunction('/confirm-order/{{details[13]}}')" title="تایید و آماده به ارسال" style="background-color: #f3f3f3;">تایید سفارش</a>
				{% endif %}
				<a class="button" href="/pdf-generator/{{details[13]}}" title="مشاهده فایل pdf فاکتور" style="background-color: #f3f3f3; margin-right: 2vw;">فاکتور موقت</a>
				<a class="button" href="javascript:processFunction('/cancel-order/{{details[13]}}')" title="ارسال به سفارشات لغو شده" style="background-color: #f3f3f3; float: left; margin-right: 1vw;">لغو سفارش</a>
				<!--<a class="button" href="javascript:processFunction('/pending-order/{{details[13]}}')" title="ارسال به در انتظار کالا" style="background-color: #f3f3f3; float: left; margin-right: 1vw;">عدم موجودی</a>-->
				<a class="button" href="/edit-order/{{details[13]}}" title="تغییر در سفارش" style="background-color: #f3f3f3; float: left;">ویرایش سفارش</a>
			</div>
		{% elif code == 'cnl' %}
			<div style="margin-top: 3vh;">
				{% if session['role'] == 'admin' %}
					<a class="button" href="javascript:processFunction('/delete-order/{{details[13]}}')" title="حذف کامل سفارش" style="background-color: #f3f3f3;">حذف سفارش</a>
				{% endif %}
			</div>
		{% elif code == 'rts' %}
			<div style="margin-top: 3vh;">
				<a class="button" href="javascript:processFunction('/finish-process/{{details[13]}}')" title="پایان فرایند سفارش" style="background-color: #f3f3f3;">پایان فرایند</a>
				{% if details[1] == 'سفارش موردی' %}
					<a class="button" href="/show-pdf/{{details[13]}}" title="مشاهده فایل pdf فاکتور" style="background-color: #f3f3f3; margin-right: 2vw;">مشاهده فاکتور</a>
				{% endif %}
			</div>
		{% elif code == 'today' %}
			<div style="margin-top: 3vh;">
				{% if details[1] == 'سفارش موردی' %}
					<a class="button" href="/show-pdf/{{details[13]}}" title="مشاهده فایل pdf فاکتور" style="background-color: #f3f3f3; margin-right: 2vw;">مشاهده فاکتور</a>
				{% endif %}
			</div>
		{% elif code == 'pnd' %}
			{% if details[14] == 'در انتظار کالا' %}
				<div style="margin-top: 3vh;">
					<a class="button" href="javascript:processFunction('/return-order/{{details[13]}}')" title="بازگشت جهت بررسی مجدد" style="background-color: #f3f3f3;">بازگشت به صف پردازش</a>
				</div>
			{% endif %}
		{% elif code == 'all' %}
			<div style="margin-top: 3vh;">
				{% if details[1] == 'سفارش موردی' %}
					<a class="button" href="/show-pdf/{{details[13]}}" title="مشاهده فایل pdf فاکتور" style="background-color: #f3f3f3; margin-right: 2vw;">مشاهده فاکتور</a>
				{% endif %}
			</div>
		{% elif code == 'search' %}
			<div style="margin-top: 3vh;">
				{% if details[1] == 'سفارش موردی' %}
					{% if details[14] != 'در صف پردازش' %}
						<a class="button" href="/show-pdf/{{details[13]}}" title="مشاهده فایل pdf فاکتور" style="background-color: #f3f3f3; margin-right: 2vw;">مشاهده فاکتور</a>
					{% endif %}
				{% endif %}
			</div>
		{% endif %}

		<script type="text/javascript">

 			function processFunction(url) {
 				//var str = window.location.href
 				//alert(window.location.href)
				const xhr = new XMLHttpRequest();
				xhr.open('GET', url, true);
				xhr.send();

				window.setTimeout(function(){
					if (url.includes('finish-process')) {
						opener.location.href = '/user-pannel/ready-to-ship';
						close();
					} else if (url.includes('delete-order')) {
						opener.location.href = '/user-pannel/canceled-orders';
						close();
					} else if (url.includes('return-order')) {
						opener.location.href = '/user-pannel/pending-orders';
						close();
					} else if ("{{code}}" == 'caseTemp') {
						opener.location.href = '/user-pannel/caseOrderList';
						close();
					} else {
						opener.location.href = '/user-pannel/orderList';
						close();
					}
				}, 2000);
			}

			function closePostAvval() {
				window.setTimeout(function() {
					close();
				}, 1000)
			}
		</script>
    </body>
</html>