<form method="POST" action="">
  <fieldset onclick="notShow()" style="margin-bottom: 0; background: #fafafa;">
    <legend>لطفا سفارش خود را ثبت  کنید:</legend>
    <table id="ordering">
      <thead></thead>
      <tbody>
        <tr>
          <td>
            <fieldset style="background: rgb(255,248,248);">
              <legend>اطلاعات</legend>
              <div>
                <label>سفارش دهنده</label>
                <input id="first_name" type="text" name="first_name" onchange="validator('first_name', 'name')" placeholder="نام" required />
                <input id="last_name" type="text" name="last_name" onchange="validator('last_name', 'name')" placeholder="نام خانوادگی" required />
                <input id="cell_number" type="text" name="cell_number" onchange="validator('cell_number', 'number')" placeholder="شماره موبایل" />
                <input id="phone_number" type="text" name="phone_number" onchange="validator('phone_number', 'phone')" placeholder="تلفن ثابت" />
              </div>
              <div>
                <label>آدرس</label>


                <div id="add-srch" class="dropdown">
                  <div id="myDropdown" class="dropdown-content" style="width: max-content; position: unset; border-radius: 5px;">
                    <input type="text" placeholder="استان" id="myInput" autocomplete="nope" onclick="show()" onkeyup="filter()" size="15">
                    <div id="states" class="dropdown-content" style="display: none;">
                      {% for item in states %}
                        <a href="#" onclick="searchStates('{{item[0]}}')">{{item[1]}}</a>
                      {% endfor %}
                    </div>
                  </div>
                </div>

                <div id="add-srch" class="dropdown">
                  <div id="myDropdown-city" class="dropdown-content" style="width: max-content; position: unset; border-radius: 5px;">
                    <input type="text" placeholder="شهر" id="myInput-city" autocomplete="nope" onclick="showCities()" onkeyup="filterCities()" size="15">
                    <div id="cities" class="dropdown-content" style="display: none;">
                    </div>
                  </div>
                </div>



                <select id="state" style="display: none;" name="stateCode" onchange='cities()' oninput="cities()" required>
                  <option value="" disabled selected>استان</option>
                  {% for item in states %}
                    <option value="{{item[0]}}">{{item[1]}}</option>
                  {% endfor %}
                </select>
                <select id="city" style="display: none;" name="cityCode" required>
                </select>

              </div>
              <div id="address">
                <textarea name="address" placeholder="نشانی دقیق" required></textarea>
              </div>
              <div id="postal_code">
                <input id="postal_code" type="text" name="postal_code" placeholder="کد پستی" />
              </div>
            </fieldset>
          </td>
        </tr>
        <tr>
          <td>
            <fieldset style="background: rgb(255,248,248);">
              <legend>اقلام سفارش</legend>
              <table id="order-0">
                <tr>
                  <th>
                    <span>نام محصول</span>
                  </th>
                  <th>
                    <span class="font14">موجودی</span>
                  </th>
                  <th>
                    <span>تعداد</span>
                  </th>
                  <th>
                    <span>قیمت</span>
                  </th>
                  <th>
                    <span>درصد تخفیف</span>
                  </th>
                  <th>
                    <span>وزن (گرم)</span>
                  </th>
                  <th>
                    <span>عملیات</span>
                  </th>
                </tr>
                <tr id="row1" class="order-0">
                  <td>
                    <div id="add-srch-prdct" class="dropdown">
                      <div id="myDropdown-prdct1" class="dropdown-content" style="width: max-content; position: unset; border-radius: 5px;">
                        <input type="text" placeholder="انتخاب کنید" id="myInput-prdct1" autocomplete="nope" onclick="show_prdct('prdct1')" onkeyup="filter_prdct('myInput-prdct1', 'myDropdown-prdct1')" size="25">
                        <div id="prdct1" class="dropdown-content" style="display: none; max-height: 18vh;">
                          {% for item in inventory %}
                            <a href="#" onclick="searchPrdct('{{item[1]}}', 'myInput-prdct1', 'product1', 'prdct1', 'exist_count1', 'price1', 'discount1', 'weight1')">{{item[0]}}</a>
                          {% endfor %}
                        </div>
                      </div>
                    </div>

                    <select style="display: none;" id="product1" name="product_1" onchange="product('product1')" required>
                      <option value="" disabled selected>(انخاب کنید)</option>
                      {% for item in inventory %}
                        <option value="{{item[1]}}">{{item[0]}}</option>
                        }
                      {% endfor %}
                    </select>
                  </td>
                  <td>
                    <span style="color: red;" id="exist_count1"></span>
                  </td>
                  <td>
                    <input id="count1" type="number" name="count_1" value="1" onchange="anyChange()" size="4" required/>
                  </td>
                  <td>
                    <input id="price1" type="number" name="price_1" onchange="anyChange()" size="6" required/>
                  </td>
                  <td>
                    <input id="discount1" type="number" name="discount_1" onchange="anyChange()" size="6" required/>
                  </td>
                  <td>
                    <input id="weight1" type="number" name="weight_1" onchange="anyChange()" size="6" required/>
                  </td>
                  <td>
                    <a href="javascript:addrow('row1','del')" title="حذف" class="del-box"> - </a>
                    <a href="javascript:addrow('row1', 'add')" title="افزودن" class="add-box"> + </a>
                  </td>
                </tr>
                <tfoot style="display: block;" class="tfoot">
                  <tr class="order-0">
                    <td>
                      <input type="text" name="sum" value="مجموع" size="25" disabled />
                    </td>
                    <td style="width: 200vw;"></td>
                    <td>
                      <input id="count-sum" type="number" name="count_sum" size="4" disabled/>
                    </td>
                    <td>
                      <input id="price-sum" type="number" name="price_sum" size="6" disabled/>
                    </td>
                    <td>
                      <input id="discount-sum" type="number" name="discount_sum" size="6" disabled/>
                    </td>
                    <td>
                      <input id="weight-sum" type="number" name="weight_sum" size="6" disabled/>
                    </td>
                    <td style="width: 200vw;"></td>
                  </tr>
                </tfoot>
              </table>
            </fieldset>
          </td>
        </tr>
        <tr>
          <td>
            <fieldset style="background: rgb(255,248,248);">
              <legend>شیوه ارسال</legend>
              <table id="order-1">
                <tr>
                  <td>
                    <label><input id="radio1" type="radio" name="serviceType" value="2" required/>سفارشی <span id="sefareshi" style="color: green;"></span></label>
                  </td>
                  <td>
                    <label><input id="radio2" type="radio" name="serviceType" value="1" required/>پیشتاز <span id="pishtaz" style="color: green;"></span></label>
                  </td>
                  <td>
                    <label><input type="checkbox" name="free" value="88"/>ارسال رایگان</label>
                  </td>
                </tr>
              </table>
            </fieldset>
          </td>
        </tr>
        <tr>
          <td>
            <fieldset style="background: rgb(255,248,248);">
              <legend>شیوه پرداخت</legend>
              <table id="order-1">
                <tr>
                  <td>
                    <label><input id="payType1" type="radio" name="payType" onchange="getDeliveryPrice()" value="1" checked />پرداخت در محل</label>
                  </td>
                  <td>
                    <label><input id="payType2" type="radio" name="payType" onchange="getDeliveryPrice()" value="2" />پرداخت آنلاین</label>
                  </td>
                </tr>
              </table>
            </fieldset>
          </td>
        </tr>
        {% if (session['role'] == 'vendor_admin') or (session['role'] == 'admin') or (session['role'] == 'office') %}
          <tr>
            <td>
              <label style="color: red; font-weight: bold; margin: 2vw 0;"><input type="checkbox" name="grnt" value="true"/>کالای گارانتی</label>
            </td>
          </tr>
        {% endif %}
      </tbody>
    </table>
    <div style="margin-right: 15px;">
      <input style="font-size: 17px; font-family: BNazanin;" type="submit" value="ثبت سفارش" /> 
    </div>
  </fieldset>
</form>

<script type="text/javascript">
  var show_flag = 0;
  var q=1;
  var i_list = ["row1"];
  var Weight = 0
  var Price = 0
  var Count = 0
  var Discount = 0
  function addrow(id_name, action) {
    var original = document.getElementById(id_name);
    var clone = original.cloneNode(true); // "deep" clone
    if (action == 'add'){
      clone.id = "row" + ++q;
      i_list.push(clone.id);
      for (ii=0; ii<"{{(inventory|length)+2}}"; ii++) {
        var ex = "exist_count"+id_name.substring(3, id_name.length);
        clone.innerHTML = clone.innerHTML.replace(ex, "exist_count"+q);
        var p = "price"+id_name.substring(3, id_name.length);
        clone.innerHTML = clone.innerHTML.replace(p, "price"+q);
        var d = "discount"+id_name.substring(3, id_name.length);
        clone.innerHTML = clone.innerHTML.replace(d, "discount"+q);
        var w = "weight"+id_name.substring(3, id_name.length);
        clone.innerHTML = clone.innerHTML.replace(w, "weight"+q);
      }
      for (ii=0; ii<"{{(inventory|length)+3}}"; ii++) {
        var pr = "product"+id_name.substring(3, id_name.length);
        clone.innerHTML = clone.innerHTML.replace(pr, "product"+q);
      }
      for (ii=0; ii<"{{2*(inventory|length)+6}}"; ii++) {
        var pr = "prdct"+id_name.substring(3, id_name.length);
        clone.innerHTML = clone.innerHTML.replace(pr, "prdct"+q);
      }
      var title = "product_"+id_name.substring(3, id_name.length);
      clone.innerHTML = clone.innerHTML.replace(title, "product_"+q);
      var cou = "count_"+id_name.substring(3, id_name.length);
      clone.innerHTML = clone.innerHTML.replace(cou, "count_"+q);
      var pri = "price_"+id_name.substring(3, id_name.length);
      clone.innerHTML = clone.innerHTML.replace(pri, "price_"+q);
      var dis = "discount_"+id_name.substring(3, id_name.length);
      clone.innerHTML = clone.innerHTML.replace(dis, "discount_"+q);
      var we = "weight_"+id_name.substring(3, id_name.length);
      clone.innerHTML = clone.innerHTML.replace(we, "weight_"+q);
      clone.innerHTML = clone.innerHTML.replace(id_name, clone.id);
      var c = "count"+id_name.substring(3, id_name.length);
      clone.innerHTML = clone.innerHTML.replace(c, "count"+q);
      var str = "row"+id_name.substring(3, id_name.length);
      clone.innerHTML = clone.innerHTML.replace(str, "row"+q);
      original.parentNode.appendChild(clone);
      document.getElementById("exist_count"+q).innerHTML = "";
    } else {
      if (i_list.length > 1) {
        original.parentNode.removeChild(original);
        i_list.splice(i_list.indexOf(id_name), 1);
        anyChange();
      }
    }
  }

  function cities(){
    var state_code = document.getElementById("state").value;
    var city = document.getElementById("city");

    if (state_code) {
      const xhr = new XMLHttpRequest();
      xhr.onreadystatechange = function() {
          if (this.readyState == 4 && this.status == 200) {

            var json = JSON.parse(this.responseText);

            city.options.length = 1;

            for (var i = 0; i < json.Name.length; i++) {
                var opt = document.createElement('option');
                opt.value = json.Code[i];
                opt.innerHTML = json.Name[i];
                city.appendChild(opt);
            }
         }
      }
      xhr.open('GET', '/ajax?code=' + state_code, true);
      xhr.send(); 
    } else {
      city.options.length = 1;
    }
  }

  function product(id_name) {
    var productId = document.getElementById(id_name).value;

    const xhr = new XMLHttpRequest();
    xhr.onreadystatechange = function() {
        if (this.readyState == 4 && this.status == 200) {

          var json = JSON.parse(this.responseText);
          document.getElementById('price'+id_name.substring(7, id_name.length)).value = json.price;
          document.getElementById('weight'+id_name.substring(7, id_name.length)).value = json.weight;
          document.getElementById('discount'+id_name.substring(7, id_name.length)).value = json.discount;

          anyChange();
       }
    }
    xhr.open('GET', '/ajax?code=' + productId, true);
    xhr.send();
  }

  function getDeliveryPrice() {
    var c = document.getElementById('city').value;
    if (document.getElementById('payType1').checked) {
      var pType = document.getElementById('payType1').value;
    } else if (document.getElementById('payType2').checked) {
      var pType = document.getElementById('payType2').value;
    }
    const xhr2 = new XMLHttpRequest();
    xhr2.onreadystatechange = function() {
        if (this.readyState == 4 && this.status == 200) {

          var json = JSON.parse(this.responseText);
          document.getElementById('sefareshi').innerHTML = '(' +json.sefareshi+ ' ریال)';
          document.getElementById('pishtaz').innerHTML = '(' +json.pishtaz+ ' ریال)';
       }
    }
    xhr2.open('GET', '/price-ajax?weight='+Weight+'&price='+Price+'&city='+c+'&pType='+pType, true);
    xhr2.send();
  }

  function refreshWeightPrice() {
    w = 0;
    p = 0;
    c = 0;
    d = 0;

    for (var cc = 0; cc < i_list.length; cc++) {
      index = i_list[cc].substring(3, i_list[cc].length);
      //alert(index)
      if (parseInt(document.getElementById('weight'+index).value)) {

        p_count = parseInt(document.getElementById('count'+index).value);
        p_discount = parseInt(document.getElementById('discount'+index).value);
        p_price = parseInt(document.getElementById('price'+index).value);
        
        w = w + (p_count * parseInt(document.getElementById('weight'+index).value));
        c = c + p_count;
        p = p + (p_count * (p_price - (p_price*(p_discount/100))));
        d = d + (p_count * p_discount);
        
      }
    }
    Weight = w;
    Price = p;
    Count = c;
    Discount = d;
    document.getElementById('count-sum').value = Count;
    document.getElementById('price-sum').value = Price;
    document.getElementById('weight-sum').value = Weight;
    document.getElementById('discount-sum').value = Discount;
  }

  function anyChange() {
    refreshWeightPrice();
    getDeliveryPrice();
  }

  function validator(id_name, type) {
    var data = document.getElementById(id_name).value;
    const xhr = new XMLHttpRequest();
    xhr.onreadystatechange = function() {
        if (this.readyState == 4 && this.status == 200) {

          var json = JSON.parse(this.responseText);
          if (!json.result) {
            document.getElementById(id_name).value = "";
            document.getElementById(id_name).focus();
            if (type == 'name') {
              alert('خطا !\nنام و نام خانوادگی باید فقط شامل حروف فارسی و لاتین باشند!');
            } else if (type == 'number') {
              alert('خطا !\nشماره موبایل به درستی وارد نشده است!');
            } else {
              alert('خطا !\nشماره تلفن ثابت به درستی وارد نشده است!');
            }
            
          }
       }
    }
    xhr.open('GET', '/validator-ajax?data='+data+'&type='+type, true);
    xhr.send();
  }

  function show() {
    show_flag = 1;
    document.getElementById("states").style.display = 'block';
    document.getElementById('cities').style.display = 'none';
    document.getElementById("cities").innerHTML = "";
    document.getElementById("myInput-city").value = "";
  }

  function showCities() {
    show_flag = 1;
    document.getElementById("cities").style.display = 'block';
  }

  function show_prdct(div_id) {
    show_flag = 1;
    document.getElementById(div_id).style.display = 'block';
  }

  function notShow() {
    if (!show_flag) {
      document.getElementById("states").style.display = 'none';
      document.getElementById("cities").style.display = 'none';
      for (i = 1; i < 100; i++) {
        document.getElementById("prdct"+i).style.display = 'none';
      }
    }
    show_flag = 0;
  }

  function filter() {
    var input, filter, ul, tr, a, i;
    input = document.getElementById("myInput");
    filter = input.value.toUpperCase();
    div = document.getElementById("myDropdown");
    a = div.getElementsByTagName("a");
    for (i = 0; i < a.length; i++) {
      txtValue = a[i].textContent || a[i].innerText;
      if (txtValue.toUpperCase().indexOf(filter) > -1) {
        a[i].style.display = "";
      } else {
        a[i].style.display = "none";
      }
    }
  }

  function filterCities() {
    var input, filter, ul, tr, a, i;
    input = document.getElementById("myInput-city");
    filter = input.value.toUpperCase();
    div = document.getElementById("myDropdown-city");
    a = div.getElementsByTagName("a");
    for (i = 0; i < a.length; i++) {
      txtValue = a[i].textContent || a[i].innerText;
      if (txtValue.toUpperCase().indexOf(filter) > -1) {
        a[i].style.display = "";
      } else {
        a[i].style.display = "none";
      }
    }
  }

  function filter_prdct(input_id, div_id) {
    var input, filter, ul, tr, a, i;
    input = document.getElementById(input_id);
    filter = input.value.toUpperCase();
    div = document.getElementById(div_id);
    a = div.getElementsByTagName("a");
    for (i = 0; i < a.length; i++) {
      txtValue = a[i].textContent || a[i].innerText;
      if (txtValue.toUpperCase().indexOf(filter) > -1) {
        a[i].style.display = "";
      } else {
        a[i].style.display = "none";
      }
    }
  }

  function searchStates(code) {
    var city = document.getElementById("city");
    var div = document.getElementById("cities");
    const xhr = new XMLHttpRequest();
    xhr.onreadystatechange = function() {
        if (this.readyState == 4 && this.status == 200) {
          document.getElementById('states').style.display = 'none';
          var json = JSON.parse(this.responseText);

          document.getElementById('myInput').value = json.stateName
          city.options.length = 1;
          //alert(city.options.lenght);

          for (var i = 0; i < json.Name.length; i++) {
            var a = document.createElement('a');
            a.innerHTML = json.Name[i];
            a.id = "a"+i;
            a.href = '#';
            div.appendChild(a);
            (function(name, code){
            a.addEventListener("click", function() {
              document.getElementById('cities').style.display = 'none';
              document.getElementById('myInput-city').value = name;
              document.getElementById('state').value = json.stateCode;
              var opt = document.createElement('option');
              opt.value = code;
              opt.innerHTML = name;
              city.appendChild(opt);
              city.value = code;
            }, false);})(json.Name[i], json.Code[i]);
          }
       } else {
          city.options.length = 1;
       }
    }
    xhr.open('GET', '/ajax?code=' + code, true);
    xhr.send();
  }

  function searchPrdct(code, input_id, select_id, div_id, exist_id, price_id, discount_id, weight_id) {
    const xhr = new XMLHttpRequest();
    xhr.onreadystatechange = function() {
      if (this.readyState == 4 && this.status == 200) {
        document.getElementById(div_id).style.display = 'none';
        var json = JSON.parse(this.responseText);
        document.getElementById(input_id).value = json.productName;
        document.getElementById(select_id).value = json.productId;
        document.getElementById(price_id).value = json.price;
        document.getElementById(discount_id).value = json.discount;
        document.getElementById(weight_id).value = json.weight;
        document.getElementById(exist_id).innerHTML = json.count;
        anyChange();
      }
    }
    xhr.open('GET', '/ajax?code=' + code, true);
    xhr.send();
  }
</script>