<!DOCTYPE html>
<html lang="fa-IR" style="padding: 10px 10px;">
    <head>
        <title>سامانه پستی وستانو</title>
        <!--<meta charset="utf-8" />-->
        <meta content="text/html;charset=UTF-8" http-equiv="Content-Type" />
        <meta name="viewport" content="width=device-width,initial-scale=1.0" />
        <link rel="stylesheet" type="text/css" href="/static/css/vestano.css" />
    </head>
    <body class="card" style="direction: rtl; margin: 0 auto;" onunload="closeWindow()">
    	{% include 'includes/_messages.html' %}
    	<fieldset class="fieldset font16" style="background-color: #bcd1fe; height: 85vh;">
    		<div style="margin-bottom: 2vh; font-weight: bold;">
    			<span>* جزئیات درخواست واریز وجه:</span>
    		</div>
    		<form id="credit-request" method="POST" action="" style="padding: 0 4vw;">
    			<div class="mrg-vh2" style="float: right; width: 25%; margin-right: 4vw;">
    				<label class="">مبلغ درخواستی (ریال):</label>
    				<input id="temp" type="text" value="{{price}}" name="temp" disabled required />
    			</div>
    			<div class="mrg-vh2" style="display: none;">
    				<label class="">مبلغ درخواستی (ریال):</label>
    				<input id="credit_price" type="text" value="{{price}}" name="credit_price" />
    			</div>
    			<div class="mrg-vh2" style="float: right; width: 25%;">
    				<label class="">شماره حساب (بانک ملی):</label>
    				<input id="account_number" type="text" name="account_number" value="{{session['account_number']}}" required disabled />
    			</div>
    			<div class="mrg-vh2" style="float: right; width: 25%;">
    				<label class="">نام صاحب حساب:</label>
    				<input id="account_holder" type="text" name="account_holder" value="{{session['account_holder']}}" required disabled />
    			</div>
    			<div class="mrg-vh2" style="float: right; width: 20%;">
    				<label class="">تعداد سفارشات بستانکار: </label>
    				<input class="red" id="orders_count" type="text" value="{{orderId_list|length}}" name="orders_count" disabled/>
    			</div><br>
    			<!--<div class="mrg-vh6" style="float: right; width: 16%;">
    				<a class="button" href="#" onclick="showDetails()"><span>مشاهده سفارشات</span></a>
    			</div><br>-->
    			<fieldset class="fieldset" style="height:46vh; border: none;">
    				<table id="accounting">
						<thead>
							<tr style="background: yellow;">
								<th class="font12"">
									<span>ردیف</span>
								</th>
								<th class="font12" style="width: 10vw;">
									<span>شناسه سفارش</span>
								</th>
								<th class="font12" style="width: 21vw;">
									<span>کد رهگیری</span>
								</th>
								<th class="font12" style="width: 10vw;">
									<span>مبلغ تمام شده کالا</span>
								</th>
								<th class="font12">
									<span>کارمزد</span>
								</th>
								<th class="font12" style="width: 10vw;">
									<span>بستانکار|بدهکارفروشگاه</span>
								</th>
								<th class="font12 vw8">
									<span>وضعیت</span>
								</th>
								<th class="font12 vw9">
									<span>پرداخت</span>
								</th>
							</tr>
						</thead>
						<tbody class="font14" style="height: 43vh;">
							{% for rec in orders['record'] %}
								<tr class="rows">
									<td>
										<span>{{loop.index}}</span>
									</td>
									<td class="" style="width: 10vw;">
										<span>{{rec[0]}}</span>
									</td>
									<td class="" style="width: 21vw;">
										<a href="javascript:window.open('/orders-details/{{rec[0]}}/req_credit', 'Details', 'width=900,height=400,top=120,left=320');" title="{{('\n'.join(rec[11]))}}"><span class="blue">{{rec[1]}}</span></a>
									</td>
									<td class="" style="width: 10vw;">
										<span>{{rec[2]}}</span>
									</td>
									<td class="">
										<span >{{rec[6]}}</span>
									</td>
									{% if rec[7] < 0 %}
										<td style="width: 10vw;">
											<span class="red">{{0-rec[7]}}</span>
										</td>
									{% else %}
										<td style="width: 10vw;">
											<span class="blue">{{rec[7]}}</span>
										</td>
									{% endif %}
									<td class="vw8">
										<span class="font12">{{rec[12]}}</span>
									</td>
									<td class="vw8">
										<span class="font12">{{rec[10]}}</span>
									</td>
								</tr>
							{% endfor %}
							<tr style="background: rgb(255,255,180);">
								<td colspan="3">
									<span>مجموع</span>
								</td>
								<td>
									<span>{{orders['totalCosts'][0]}}</span>
								</td>
								<td>
									<span >{{orders['totalCosts'][4]}}</span>
								</td>
								{% if orders['totalCosts'][5] < 0 %}
									<td>
										<span class="red">{{0 - orders['totalCosts'][5]}}</span>
									</td>
								{% else %}
									<td>
										<span class="blue">{{orders['totalCosts'][5]}}</span>
									</td>
								{% endif %}
							</tr>
						</tbody>
					</table>
    			</fieldset>
    		</form>
    		<div class="mrg-vh4" style="margin-right: 4vw;">
				<button style="font-size: 17px; font-family: BNazanin;" type="button" onclick="formSubmit()"/>تایید و درخواست وجه</button>
				<span class="font14" style="font-family: B-Roya;">(مبلغ درخواستی پس از بررسی حداکثر تا 2 روز کاری دیگر به حساب شما واریز خواهد شد.)</span>
			</div>
		</fieldset>

		<script type="text/javascript">
			var flag = 0;

			function showDetails() {
				flag = 1;
				document.getElementById("accounting").style.display = 'block';
			}
			
			function closeWindow() {
				window.opener.location.reload();
			}

			function formSubmit() {
				document.getElementById('credit-request').submit();
			}
		</script>
    </body>
</html>