<fieldset class="fieldset" style="background: #fafafa">
	<legend>لطفا یکی از فیلدهای زیر را جهت جستجو انتخاب کنید:</legend>
	{% if (session['role'] != 'vendor_admin') and (sub_item in ['cases']) %}
		<div class="dropdown-content-inventory" style="margin-left: 1vw; border: none; background: none; top: 16vh;">
			<a href="/export-excel-lias/{{sub_item}}" title="تولید خروجی گزارش ثبت" class="export navbar-link xls"><span style="margin-right: 2vw;">گزارش ثبت</span></a>
		</div>
	{% endif %}
	{% if (session['role'] == 'vendor_admin') and (sub_item == 'accounting') %}
		<div class="dropdown-content-inventory" style="margin-left: 1vw; border: none; background: none; top: 16vh;">
			<a href="/export-excel-sellsProducts" title="تولید خروجی به تفکیک محصولات" class="export navbar-link xls"><span style="margin-right: 2vw;">آمار محصولات</span></a>
		</div>
	{% endif %}
	{% include 'includes/_searchTab.html' %}
	{% if not result|length %}
		{% if sub_item == 'all' %}
			<fieldset class="fieldset mrg-vh2" style="border:none; height: 65vh;">
			</fieldset>
		{% elif sub_item == 'cases' %}
			<fieldset class="fieldset mrg-vh2" style="border:none; height: 68vh;">
				<form method="POST" action="">
					<fieldset style="margin-bottom: 0; background: #fff; height: 65vh;">
						<legend>لطفا فیلترهای مناسب را اعمال کنید:</legend>
						<table>
							<tr style="background: #88b5b6;">
								<th colspan="3" class="vw15">
									<label>بازه زمانی جستجو<span class="red">*</span></label>
								</th>
								<th colspan="2" class="vw15">
									<label>محصول</label>
								</th>
							</tr>
							<tr>
								<th colspan="3" class="vw15">
									<span style="margin-left: 1vw;">از</span>
									<input style="margin-bottom: 4vh;" type="text" id="pcal1" class="pdate" name="date_from" onchange="validator('pcal1', 'date')">
									<span style="margin-left: 1vw; margin-right: 3vw;">تا</span>
									<input style="margin-bottom: 4vh;" type="text" id="pcal2" class="pdate" name="date_to" onchange="validator('pcal2', 'date')">
								</th>
								<th colspan="2" class="vw15">
									<select style="margin-bottom: 4vh;" id="product" name="product" style="padding:10px 20px;">
										<option value="" disabled selected>(انتخاب کنید)</option>
										{% for item in case_inventory %}
											<option value="{{item[1]}}">{{item[0]}}</option>
										{% endfor %}
									</select>
								</th>
							</tr>
							<tr style="background: #88b5b6;">
								<th class="vw15">
									<label>شناسه سفارش</label>
								</th>
								<th class="vw15">
									<label>نام فرستنده</label>
								</th>
								<th class="vw15">
									<label>نام گیرنده</label>
								</th>
								<th class="vw15">
									<label>استان مقصد</label>
								</th>
								<th class="vw15">
									<label>شهر مقصد</label>
								</th>
							</tr>
							<tr>
								<th class="vw15" style="text-align: center;">
									<input style="margin-bottom: 4vh;" type="text" id="orderId" name="orderId">
								</th>
								<th class="vw15" style="text-align: center;">
									<input style="margin-bottom: 4vh;" type="text" id="s-name" name="s-name">
								</th>
								<th class="vw15" style="text-align: center;">
									<input style="margin-bottom: 4vh;" type="text" id="r-name" name="r-name">
								</th>
								<th class="vw15">
									<select style="margin-bottom: 4vh;" id="state" name="stateCode" onchange='cities()' style="padding:10px 20px;">
										<option value="" disabled selected>(انتخاب کنید)</option>
										{% for item in states %}
										<option value="{{item[0]}}">{{item[1]}}</option>
										{% endfor %}
									</select>
								</th>
								<th>
									<select style="margin-bottom: 4vh;" id="city" name="cityCode">
	            					</select>
								</th>
							</tr>
							<tr style="background: #88b5b6;">
								<th class="vw15">
									<label>بارکد پستی</label>
								</th>
								<th class="vw15">
									<label>سرویس پستی</label>
								</th>
								<th class="vw15">
									<label>نوع پرداخت</label>
								</th>
								<th class="vw15">
									<label>وضعیت</label>
								</th>
							</tr>
							<tr>
								<th class="vw15" style="text-align: center;">
									<input type="text" id="parcelCode" name="parcelCode">
								</th>
								<th class="vw15">
									<select id="serviceType" name="serviceType" style="padding:10px 20px;">
										<option value="" disabled selected>(انتخاب کنید)</option>
										<option value="پست سفارشی">پست سفارشی</option>
										<option value="پست پیشتاز">پست پیشتاز</option>
									</select>
								</th>
								<th class="vw15">
									<select id="payType" name="payType" style="padding:10px 20px;">
										<option value="" disabled selected>(انتخاب کنید)</option>
										<option value="پرداخت در محل">پرداخت در محل</option>
										<option value="پرداخت آنلاین">پرداخت آنلاین</option>
										<option value="rad">کرایه در مقصد</option>
										<option value="cgd">هزینه کالا در مقصد</option>
									</select>
								</th>
								<th class="vw15">
									<select id="status" name="status" style="padding:10px 20px;">
										<option value="" disabled selected>(انتخاب کنید)</option>
										<option value="0">تحت بررسی</option>
										<option value="1">انصرافی</option>
										<option value="2">آماده ارسال</option>
										<option value="3">اشتباه در آماده به ارسال</option>
										<option value="4">عدم حضور مدیر</option>
										<option value="5">ارسال شده</option>
										<option value="6">عدم قبول</option>
										<option value="7">توزیع شده</option>
										<option value="8">باجه معطله </option>
										<option value="9">توقیفی</option>
										<option value="10">پیش برگشتی</option>
										<option value="11">برگشتی</option>
										<option value="70">تایید مالی</option>
										<option value="71">تسویه حساب</option>
										<option value="80">در صف پردازش</option>
										<option value="81">ارسال شده از وستانو</option>
										<option value="83">لغو شده</option>
									</select>
								</th>
							</tr>
						</table>
						<div class="mrg-vh12" style="margin-right: 15px;">
							<input style="font-size: 17px; font-family: BNazanin;" type="submit" value="انجام جستجو" /> 
						</div>
					</fieldset>
				</form>
			</fieldset>
		{% elif sub_item == 'vendors' %}
			<fieldset class="fieldset mrg-vh2" style="border:none; height: 68vh;">
				<form method="POST" action="">
					<fieldset style="margin-bottom: 0; background: #fff; height: 65vh;">
						<legend>لطفا فیلترهای مناسب را اعمال کنید:</legend>
						<table>
							<tr style="background: #88b5b6;">
								<th colspan="3" class="vw15">
									<label>بازه زمانی جستجو<span class="red">*</span></label>
								</th>
								<th colspan="2" class="vw15">
									<label>محصول</label>
								</th>
							</tr>
							<tr>
								<th colspan="3" class="vw15">
									<span style="margin-left: 1vw;">از</span>
									<input style="margin-bottom: 4vh;" type="text" id="pcal1" class="pdate" name="date_from" onchange="validator('pcal1', 'date')">
									<span style="margin-left: 1vw; margin-right: 3vw;">تا</span>
									<input style="margin-bottom: 4vh;" type="text" id="pcal2" class="pdate" name="date_to" onchange="validator('pcal2', 'date')">
								</th>
								<th colspan="2" class="vw15">
									<select style="margin-bottom: 4vh;" id="product" name="product" style="padding:10px 20px;">
										<option value="" disabled selected>(انتخاب کنید)</option>
										{% for item in inventory %}
											<option value="{{item[1]}}">{{item[0]}}</option>
										{% endfor %}
									</select>
								</th>
							</tr>
							<tr style="background: #88b5b6;">
								<th class="vw15">
									<label>شناسه سفارش</label>
								</th>
								<th class="vw15">
									<label>شرکت فروشنده</label>
								</th>
								<th class="vw15">
									<label>نام خریدار</label>
								</th>
								<th class="vw15">
									<label>استان مقصد</label>
								</th>
								<th class="vw15">
									<label>شهر مقصد</label>
								</th>
							</tr>
							<tr>
								<th class="vw15" style="text-align: center;">
									<input style="margin-bottom: 4vh;" type="text" id="orderId" name="orderId">
								</th>
								{% if session['role'] == 'vendor_admin' %}
									<th class="vw15">
										<select style="margin-bottom: 4vh;" id="vendor" name="vendor" style="padding:10px 20px;">
											<option value="{{session['vendor_name']}}">{{session['vendor_name']}}</option>
										</select>
									</th>
								{% else %}
									<th class="vw15">
										<select style="margin-bottom: 4vh;" id="vendor" name="vendor" style="padding:10px 20px;">
											<option value="" disabled selected>(انتخاب کنید)</option>
											<option value="روژیاپ">روژیاپ</option>
										</select>
									</th>
								{% endif %}
								<th class="vw15" style="text-align: center;">
									<input style="margin-bottom: 4vh;" type="text" id="register-name" name="register-name">
								</th>
								<th class="vw15">
									<select style="margin-bottom: 4vh;" id="state" name="stateCode" onchange='cities()' style="padding:10px 20px;">
										<option value="" disabled selected>(انتخاب کنید)</option>
										{% for item in states %}
										<option value="{{item[0]}}">{{item[1]}}</option>
										{% endfor %}
									</select>
								</th>
								<th>
									<select style="margin-bottom: 4vh;" id="city" name="cityCode">
	            					</select>
								</th>
							</tr>
							<tr style="background: #88b5b6;">
								<th class="vw15">
									<label>بارکد پستی</label>
								</th>
								<th class="vw15">
									<label>سرویس پستی</label>
								</th>
								<th class="vw15">
									<label>نوع پرداخت</label>
								</th>
								<th class="vw15">
									<label>وضعیت</label>
								</th>
								<th class="vw15">
									<label>کالای گارانتی</label>
								</th>
							</tr>
							<tr>
								<th class="vw15" style="text-align: center;">
									<input type="text" id="parcelCode" name="parcelCode">
								</th>
								<th class="vw15">
									<select id="serviceType" name="serviceType" style="padding:10px 20px;">
										<option value="" disabled selected>(انتخاب کنید)</option>
										<option value="پست سفارشی">پست سفارشی</option>
										<option value="پست پیشتاز">پست پیشتاز</option>
									</select>
								</th>
								<th class="vw15">
									<select id="payType" name="payType" style="padding:10px 20px;">
										<option value="" disabled selected>(انتخاب کنید)</option>
										<option value="پرداخت در محل">پرداخت در محل</option>
										<option value="پرداخت آنلاین">پرداخت آنلاین</option>
										<option value="ارسال رایگان">ارسال رایگان</option>
									</select>
								</th>
								<th class="vw15">
									<select id="status" name="status" style="padding:10px 20px;">
										<option value="" disabled selected>(انتخاب کنید)</option>
										<option value="0">تحت بررسی</option>
										<option value="1">انصرافی</option>
										<option value="2">آماده ارسال</option>
										<option value="3">اشتباه در آماده به ارسال</option>
										<option value="4">عدم حضور مدیر</option>
										<option value="5">ارسال شده</option>
										<option value="6">عدم قبول</option>
										<option value="7">توزیع شده</option>
										<option value="8">باجه معطله </option>
										<option value="9">توقیفی</option>
										<option value="10">پیش برگشتی</option>
										<option value="11">برگشتی</option>
										<option value="70">تایید مالی</option>
										<option value="71">تسویه حساب</option>
										<option value="80">در صف پردازش</option>
										<option value="81">ارسال شده از وستانو</option>
										<option value="82">در انتظار کالا</option>
										<option value="83">لغو شده</option>
										<option value="84">حذف از در انتظار کالا</option>
									</select>
								</th>
								<th>
									<input type="checkbox" name="grnt" value="true"/>
								</th>
							</tr>
						</table>
						<div class="mrg-vh12" style="margin-right: 15px;">
							<input style="font-size: 17px; font-family: BNazanin;" type="submit" value="انجام جستجو" /> 
						</div>
					</fieldset>
				</form>
			</fieldset>
		{% elif sub_item == 'accounting' %}
			<fieldset class="fieldset mrg-vh2" style="border:none; height: 68vh;">
				<form method="POST" action="">
					<fieldset style="margin-bottom: 0; background: #fff; height: 65vh;">
						<legend>لطفا فیلترهای مناسب را اعمال کنید:</legend>
						<table>
							<tr style="background: #88b5b6;">
								<th colspan="3" class="vw15">
									<label>بازه زمانی جستجو<span class="red">*</span></label>
								</th>
								<th class="vw15">
									<label>فروشگاه</label>
								</th>
								<th class="vw15">
									<label>محصول</label>
								</th>
							</tr>
							<tr>
								<th colspan="3" class="vw15">
									<span style="margin-left: 1vw;">از</span>
									<input style="margin-bottom: 4vh;" type="text" id="pcal1" class="pdate" name="date_from" onchange="validator('pcal1', 'date')">
									<span style="margin-left: 1vw; margin-right: 3vw;">تا</span>
									<input style="margin-bottom: 4vh;" type="text" id="pcal2" class="pdate" name="date_to" onchange="validator('pcal2', 'date')">
								</th>
								{% if session['role'] == 'vendor_admin' %}
									<th class="vw15">
										<select style="margin-bottom: 4vh;" id="vendor" name="vendor" style="padding:10px 20px;">
											<option value="{{session['vendor_name']}}">{{session['vendor_name']}}</option>
										</select>
									</th>
								{% else %}
									<th class="vw15">
										<select style="margin-bottom: 4vh;" id="vendor" name="vendor" style="padding:10px 20px;">
											<option value="" disabled selected>(انتخاب کنید)</option>
											<option value="روژیاپ">روژیاپ</option>
										</select>
									</th>
								{% endif %}
								<th class="vw15">
									<select style="margin-bottom: 4vh;" id="product" name="product" style="padding:10px 20px;">
										<option value="" disabled selected>(انتخاب کنید)</option>
										{% for item in inventory %}
											<option value="{{item[1]}}">{{item[0]}}</option>
										{% endfor %}
									</select>
								</th>
							</tr>
							<tr style="background: #88b5b6;">
								<th class="vw15">
									<label>شناسه سفارش</label>
								</th>
								<th class="vw15">
									<label>بارکد پستی</label>
								</th>
								<th class="vw15">
									<label>وضعیت درخواست وجه</label>
								</th>
								<th class="vw15">
									<label>وضعیت مرسوله</label>
								</th>
								<th class="vw15">
									<label>نوع پرداخت</label>
								</th>
							</tr>
							<tr>
								<th class="vw15" style="text-align: center;">
									<input style="margin-bottom: 4vh;" type="text" id="orderId" name="orderId">
								</th>
								<th class="vw15" style="text-align: center;">
									<input style="margin-bottom: 4vh;" type="text" id="parcelCode" name="parcelCode">
								</th>
								<th class="vw15">
									<select style="margin-bottom: 4vh;" id="credit-req-status" name="credit-req-status" style="padding:10px 20px;">
										<option value="" disabled selected>(انتخاب کنید)</option>
										<option value="در دست بررسی">در دست بررسی</option>
										<option value="واریز شد">واریز شد</option>
										<option value="رد درخواست">رد درخواست</option>
									</select>
								</th>
								<th class="vw15">
									<select style="margin-bottom: 4vh;" id="status" name="status" style="padding:10px 20px;">
										<option value="" disabled selected>(انتخاب کنید)</option>
										<option value="11">برگشتی</option>
										<option value="70">تایید مالی</option>
										<option value="71">تسویه حساب</option>
									</select>
								</th>
								<th class="vw15">
									<select style="margin-bottom: 4vh;" id="payType" name="payType" style="padding:10px 20px;">
										<option value="" disabled selected>(انتخاب کنید)</option>
										<option value="پرداخت در محل">پرداخت در محل</option>
										<option value="پرداخت آنلاین">پرداخت آنلاین</option>
										<option value="ارسال رایگان">ارسال رایگان</option>
									</select>
								</th>
							</tr>
						</table>
						<div style="margin-right: 15px; margin-top: 14vh;">
							<input style="font-size: 17px; font-family: BNazanin;" type="submit" value="انجام جستجو" />
						</div>
					</fieldset>
				</form>
			</fieldset>
		{% endif %}
	{% else %}
		{% if sub_item == 'cases' %}
			<fieldset class="fieldset mrg-vh2" style="border:none; height: 68vh;">
				<table id="inventory">
					<thead>
						<tr style="background: yellow;">
							<th style="width: 50px;">
								<span>ردیف</span>
							</th>
							<th>
								<span>شناسه سفارش</span>
							</th>
							<th>
								<span>نام فرستنده</span>
							</th>
							<th>
								<span>نام گیرنده</span>
							</th>
							<th>
								<span>استان مقصد</span>
							</th>
							<th>
								<span>تاریخ سفارش</span>
							</th>
							<th>
								<span>ساعت سفارش</span>
							</th>
							<th>
								<span>نحوه پرداخت</span>
							</th>
							<th>
								<span>شماره تلفن همراه</span>
							</th>
							<th>
								<span>وضعیت</span>
							</th>
							<th>
								<span>اقدام</span>
							</th>
							<th style="width: 15px;"></th>
						</tr>
					</thead>
					<tbody id="myDropdown" style="height: 64vh;">
						{% for rec in result %}
							<tr class="rows">
								<td style="width: 50px;">
									<span>{{loop.index}}</span>
								</td>
								<td>
									<a title="{{('\n'.join(rec[9]))}}"><span>{{rec[0]}}</span></a>
								</td>
								<td>
									<span>{{rec[10]}}</span>
								</td>
								<td>
									<span>{{rec[2]}}</span>
								</td>
								<td>
									<span>{{rec[3]}}</span>
								</td>
								<td>
									<span>{{rec[4]}}</span>
								</td>
								<td>
									<span>{{rec[5]}}</span>
								</td>
								<td>
									<span>{{rec[6]}}</span>
								</td>
								<td>
									<span>{{rec[7]}}</span>
								</td>
								<td>
									<span>{{rec[8]}}</span>
								</td>
								<td>
									<a href="javascript:window.open('/orders-details/{{rec[0]}}/search', 'Details', 'width=950,height=500,top=100,left=300');" title=""><span style="color: blue;">جزئیات</span></a>
								</td>
							</tr>
						{% endfor %}
					</tbody>
				</table>
			</fieldset>
		{% elif sub_item == 'vendors' %}
			<fieldset class="fieldset mrg-vh2" style="border:none; height: 68vh;">
				<table id="inventory">
					<thead>
						<tr style="background: yellow;">
							<th style="width: 50px;">
								<span>ردیف</span>
							</th>
							<th>
								<span>شناسه سفارش</span>
							</th>
							<th>
								<span>شرکت فروشنده</span>
							</th>
							<th>
								<span>نام خریدار</span>
							</th>
							<th>
								<span>استان مقصد</span>
							</th>
							<th>
								<span>تاریخ سفارش</span>
							</th>
							<th>
								<span>ساعت سفارش</span>
							</th>
							<th>
								<span>نحوه پرداخت</span>
							</th>
							<th>
								<span>شماره تلفن همراه</span>
							</th>
							<th>
								<span>وضعیت</span>
							</th>
							<th>
								<span>اقدام</span>
							</th>
							<th style="width: 15px;"></th>
						</tr>
					</thead>
					<tbody id="myDropdown" style="height: 64vh;">
						{% for rec in result %}
							<tr class="rows">
								<td style="width: 50px;">
									<span>{{loop.index}}</span>
								</td>
								<td>
									<a title="{{('\n'.join(rec[9]))}}"><span>{{rec[0]}}</span></a>
								</td>
								<td>
									<span>{{rec[1]}}</span>
								</td>
								<td>
									<span>{{rec[2]}}</span>
								</td>
								<td>
									<span>{{rec[3]}}</span>
								</td>
								<td>
									<span>{{rec[4]}}</span>
								</td>
								<td>
									<span>{{rec[5]}}</span>
								</td>
								<td>
									<span>{{rec[6]}}</span>
								</td>
								<td>
									<span>{{rec[7]}}</span>
								</td>
								<td>
									<span>{{rec[8]}}</span>
								</td>
								<td>
									<a href="javascript:window.open('/orders-details/{{rec[0]}}/search', 'Details', 'width=950,height=500,top=100,left=300');" title=""><span style="color: blue;">جزئیات</span></a>
								</td>
							</tr>
						{% endfor %}
					</tbody>
				</table>
			</fieldset>
		{% elif sub_item == 'accounting' %}
			<fieldset class="fieldset mrg-vh2" style="border:none; height: 68vh;">
				{% if session['role'] == 'vendor_admin' %}
					<table id="inventory">
						<thead>
							<tr style="background: yellow;">
								<th class="font12">
									<span>ردیف</span>
								</th>
								<th class="font12" style="width: 10vw;">
									<span>شناسه سفارش</span>
								</th>
								<th class="font12" style="width: 15vw;">
									<span>کد رهگیری</span>
								</th>
								<th class="font12" style="width: 10vw;">
									<span>مبلغ تمام شده کالا</span>
								</th>
								<th class="font12">
									<span>کارمزد</span>
								</th>
								<th class="font12" style="width: 10vw;">
									<span>بستانکار|بدهکارفروشگاه</span>
								</th>
								<th class="font12 vw8">
									<span>وضعیت درخواست وجه</span>
								</th>
								<th class="font12 vw8">
									<span>وضعیت</span>
								</th>
								<th class="font12 vw9">
									<span>پرداخت</span>
								</th>
							</tr>
						</thead>
						<tbody style="height: 64vh;">
							{% for rec in s_v_financial['record'] %}
								<tr class="rows">
									<td>
										<span>{{loop.index}}</span>
									</td>
									<td class="" style="width: 10vw;">
										<span>{{rec[0]}}</span>
									</td>
									<td class="" style="width: 15vw;">
										<a href="javascript:window.open('/orders-details/{{rec[0]}}/v_financial', 'Details', 'width=950,height=500,top=100,left=300');" title="{{('\n'.join(rec[11]))}}"><span class="blue">{{rec[1]}}</span></a>
									</td>
									<td class="" style="width: 10vw;">
										<span>{{rec[2]}}</span>
									</td>
									<td class="">
										<span >{{rec[6]}}</span>
									</td>
									{% if rec[7] < 0 %}
										<td style="width: 10vw;">
											<span class="red">{{0-rec[7]}}</span>
										</td>
									{% else %}
										<td style="width: 10vw;">
											<span class="blue">{{rec[7]}}</span>
										</td>
									{% endif %}
									<td class="vw8">
										<a title="شماره پیگیری: {{rec[14]}}"><span class="font12">{{rec[13]}}</span></a>
									</td>
									<td class="vw8">
										<span class="font12">{{rec[12]}}</span>
									</td>
									<td class="vw8">
										<span class="font12">{{rec[10]}}</span>
									</td>
								</tr>
							{% endfor %}
							<tr style="background: rgb(255,255,180);">
								<td colspan="3">
									<span>مجموع</span>
								</td>
								<td>
									<span>{{s_v_financial['totalCosts'][0]}}</span>
								</td>
								<td>
									<span >{{s_v_financial['totalCosts'][4]}}</span>
								</td>
								{% if s_v_financial['totalCosts'][5] < 0 %}
									<td>
										<span class="red">{{0 - s_v_financial['totalCosts'][5]}}</span>
									</td>
								{% else %}
									<td>
										<span class="blue">{{s_v_financial['totalCosts'][5]}}</span>
									</td>
								{% endif %}
							</tr>
						</tbody>
					</table>
				{% else %}
					<table id="inventory">
						<thead>
							<tr style="background: yellow;">
								<th class="font12" style="width: 4vw;">
									<span>ردیف</span>
								</th>
								<th class="font12">
									<span>شناسه سفارش</span>
								</th>
								<th class="vw20 font12">
									<span>کد رهگیری</span>
								</th>
								<th class="font12">
									<span>مبلغ تمام شده کالا</span>
								</th>
								<th class="font12">
									<span>هزینه ارسال</span>
								</th>
								<th class="font12">
									<span>ارزش افزوده</span>
								</th>
								<th class="font12">
									<span>حق ثبت</span>
								</th>
								<th class="font12">
									<span>کارمزد</span>
								</th>
								<th class="font12">
									<span>بستانکار|بدهکار<br/>فروشگاه</span>
								</th>
								<th class="font12">
									<span>بستانکار|بدهکار<br/>پست</span>
								</th>
								<th class="font12">
									<span>بستانکار|بدهکار<br/>وستانو</span>
								</th>
								<th class="font12">
									<span>وضعیت<br/>درخواست وجه</span>
								</th>
								<th class="font12" style="width: 6vw;">
									<span>وضعیت</span>
								</th>
								<th class="font12">
									<span>پرداخت</span>
								</th>
							</tr>
						</thead>
						<tbody style="height: 64vh;">
							{% for rec in s_financial['record'] %}
								<tr class="rows">
									<td style="width: 4vw;">
										<span>{{loop.index}}</span>
									</td>
									<td class="">
										<span>{{rec[0]}}</span>
									</td>
									<td class="">
										<a href="javascript:window.open('/orders-details/{{rec[0]}}/financial', 'Details', 'width=950,height=500,top=100,left=300');" title="{{('\n'.join(rec[11]))}}"><span class="blue">{{rec[1]}}</span></a>
									</td>
									<td class="">
										<span>{{rec[2]}}</span>
									</td>
									<td class="">
										<span>{{rec[3]}}</span>
									</td>
									<td class="">
										<span >{{rec[4]}}</span>
									</td>
									<td class="">
										<span >{{rec[5]}}</span>
									</td>
									<td class="">
										<span >{{rec[6]}}</span>
									</td>
									{% if rec[7] < 0 %}
										<td>
											<span class="red">{{0-rec[7]}}</span>
										</td>
									{% else %}
										<td>
											<span class="blue">{{rec[7]}}</span>
										</td>
									{% endif %}
									{% if rec[8] < 0 %}
										<td>
											<span class="red">{{0-rec[8]}}</span>
										</td>
									{% else %}
										<td>
											<span class="blue">{{rec[8]}}</span>
										</td>
									{% endif %}
									{% if rec[9] < 0 %}
										<td>
											<span class="red">{{0-rec[9]}}</span>
										</td>
									{% else %}
										<td>
											<span class="blue">{{rec[9]}}</span>
										</td>
									{% endif %}
									<td class="">
										<span class="font12">{{rec[13]}}</span>
									</td>
									<td class="">
										<span class="font12">{{rec[12]}}</span>
									</td>
									<td class="">
										<span class="font12">{{rec[10]}}</span>
									</td>
								</tr>
							{% endfor %}
							<tr style="background: rgb(255,255,180);">
								<td colspan="3">
									<span>مجموع</span>
								</td>
								<td>
									<span>{{s_financial['totalCosts'][0]}}</span>
								</td>
								<td>
									<span>{{s_financial['totalCosts'][1]}}</span>
								</td>
								<td>
									<span>{{s_financial['totalCosts'][2]}}</span>
								</td>
								<td>
									<span>{{s_financial['totalCosts'][3]}}</span>
								</td>
								<td>
									<span >{{s_financial['totalCosts'][4]}}</span>
								</td>
								{% if s_financial['totalCosts'][5] < 0 %}
									<td>
										<span class="red">{{0 - s_financial['totalCosts'][5]}}</span>
									</td>
								{% else %}
									<td>
										<span class="blue">{{s_financial['totalCosts'][5]}}</span>
									</td>
								{% endif %}
								{% if s_financial['totalCosts'][6] < 0 %}
									<td>
										<span class="red">{{0 - s_financial['totalCosts'][6]}}</span>
									</td>
								{% else %}
									<td>
										<span class="blue">{{s_financial['totalCosts'][6]}}</span>
									</td>
								{% endif %}
								{% if s_financial['totalCosts'][7] < 0 %}
									<td>
										<span class="red">{{0 - s_financial['totalCosts'][7]}}</span>
									</td>
								{% else %}
									<td>
										<span class="blue">{{s_financial['totalCosts'][7]}}</span>
									</td>
								{% endif %}
							</tr>
						</tbody>
					</table>
				{% endif %}
			</fieldset>
		{% endif %}
	{% endif %}
</fieldset>
<script type="text/javascript">
	function cities() {
		var state_code = document.getElementById("state").value;
		var city = document.getElementById("city");
		if (state_code) {
			const xhr = new XMLHttpRequest();
			xhr.onreadystatechange = function() {
				if (this.readyState == 4 && this.status == 200) {

					var json = JSON.parse(this.responseText);

					city.options.length = 1;

					for (var i = 0; i < json.Name.length; i++) {
					var opt = document.createElement('option');
						opt.value = json.Code[i];
						opt.innerHTML = json.Name[i];
						city.appendChild(opt);
					}
				}
			}
			xhr.open('GET', '/ajax?code=' + state_code, true);
			xhr.send(); 
		} else {
			city.options.length = 1;
		}
	}

	function validator(id_name, type) {
		var data = document.getElementById(id_name).value;
		const xhr = new XMLHttpRequest();
		xhr.onreadystatechange = function() {
			if (this.readyState == 4 && this.status == 200) {
				var json = JSON.parse(this.responseText);
				if (!json.result) {
					document.getElementById(id_name).value = "";
					document.getElementById(id_name).focus();
					if (type == 'name') {
						alert('خطا !\nنام و نام خانوادگی باید فقط شامل حروف فارسی و لاتین باشند!');
					} else if (type == 'number') {
						alert('خطا !\nشماره موبایل به درستی وارد نشده است!');
					} else if (type == 'date') {
						alert('خطا !\ تاریخ به درستی وارد نشده است!');
					} else {
						alert('خطا !\nشماره تلفن ثابت به درستی وارد نشده است!');
					}
				}
			}
		}
		xhr.open('GET', '/validator-ajax?data='+data+'&type='+type, true);
		xhr.send();
	}

	var objCal1 = new AMIB.persianCalendar( 'pcal1' );
	var objCal2 = new AMIB.persianCalendar( 'pcal2' );
</script>