<section id="footer-links" class="clearfix">
  <div class="container">
    <div class="column">
        <h3>Browse</h3>
        <ul>
            <li><a href="#">Consequat sint voluptate consectetur duis in labore est est consectetur cupidatat.</a></li>
            <li><a href="#">Ad laborum sunt aute anim occaecat exercitation voluptate nulla in aliqua commodo magna.</a></li>
            <li><a href="#">Ut exercitation cillum quis eu consequat do proident minim quis in sint esse laboris velit aute sit.</a></li>
        </ul>
    </div>

    <div class="column">
      <h3>Social</h3>
      <ul>
          <li><a class="social-link twitter" href="https://twitter.com/janantan">توییتر</a></li>
          <li><a class="social-link instagram" href="https://instagram.com/janantan">اینستاگرام</a></li>
          <li><a class="social-link facebook" href="https://facebook.com/janantan">فیسبوک</a></li>
      </ul> 
    </div>
  </div>
</section>