<legend>لطفا فروش انجام شده را وارد کنید:</legend>
<div>
  <label>دسته‌بندی:</label>
    <select name="category" id="category" required>
      <option value="">(انخاب کنید)</option>
      <option value="cosmetics">آرایشی، بهداشتی و سلامت</option>
      <option value="tools">ابزار و یراق</option>
      <option value="home appliances">خانه و آشپزخانه</option>
      <option value="stationery">لوازم تحریر</option>
      <option value="toys">اسباب بازی</option>
      <option value="groceries">خوردنی و آشامیدنی</option>
      <option value="haberdashery">خرازی</option>
    </select>
</div>
<div>         
  <label>عنوان:</label>
  <input id="title" type="text" name="title" required/>
</div>
<div>         
  <label>تعداد - واحد</label>
  <input id="number" type="text" name="number" size="4" required/>
  <select name="unit" id="unit" required>
      <option value="">(انخاب کنید)</option>
      <option value="جعبه">جعبه</option>
      <option value="کارتن">کارتن</option>
      <option value="جین">جین</option>
      <option value="عدد">عدد</option>
      <option value="کیلو">کیلو</option>
      <option value="متر">متر</option>
      <option value="بسته">بسته</option>
      <option value="پاکت">پاکت</option>
    </select>
</div>
<div>         
  <label>مبلغ هر واحد:</label>
  <input id="unit_price" type="text" name="unit_price" required /> تومان
</div>
<div>
  <input type="submit" value="ثبت فروش" /> 
</div>