<fieldset class="st-fieldset-0">
	<div class="st-div-1">
		<span>مشخصات مرسوله (<span id="trackId"></span>)</span>
	</div>
	<div class="st-div-2">
		<div>
			<ul>
				<li>
					<span class="st-span-1">نام فرستنده:</span>
				</li>
				<li>
					<span class="st-span-1">آدرس فرستنده:</span>
				</li>
				<li>
					<span class="st-span-1">نام گیرنده:</span>
				</li>
				<li>
					<span class="st-span-1">شماره همراه گیرنده:</span>
				</li>
				<li>
					<span class="st-span-1">آدرس گیرنده:</span>
				</li>
				<li>
					<span class="st-span-1">کد پستی گیرنده:</span>
				</li>
			</ul>
		</div>
	</div>
	<div class="st-div-3">
		<div>
			<ul>
				<li>
					<span id="senderName" class="st-span-2"></span>
				</li>
				<li>
					<span id="senderAdd" class="st-span-2"></span>
				</li>
				<li>
					<span id="receiverName" class="st-span-2"></span>
				</li>
				<li>
					<span id="receiverCellNumber" class="st-span-2"></span>
				</li>
				<li>
					<span id="receiverAdd" class="st-span-2"></span>
				</li>
				<li>
					<span id="receiverPostalCode" class="st-span-2"></span>
				</li>
			</ul>
		</div>
	</div>
	<div class="st-div-2">
		<ul>
			<li>
				<span class="st-span-1">تاریخ و زمان قبول:</span>
			</li>
			<li>
				<span class="st-span-1">بارکد پستی:</span>
			</li>
			<li>
				<span class="st-span-1">آخرین وضعیت:</span>
			</li>
			<li>
				<span class="st-span-1">نوع سرویس:</span>
			</li>
			<li>
				<span class="st-span-1">وزن:</span>
			</li>
			<li>
				<span class="st-span-1">مرسوله:</span>
			</li>
		</ul>
	</div>
	<div class="st-div-3">
		<ul>
			<li>
				<span id="datetime" class="st-span-2"></span>
			</li>
			<li>
				<span id="parcelCode" class="st-span-2"></span>
			</li>
			<li>
				<span id="status" class="st-span-2"></span>
			</li>
			<li>
				<span id="serviceType" class="st-span-2"></span>
			</li>
			<li>
				<span id="weight" class="st-span-2"></span>
			</li>
			<li>
				<span id="productName" class="st-span-2"><br/></span>
			</li>
		</ul>
	</div>
</fieldset>