<div>
	<div style="position: absolute; top: 9vh;">
		{% if session['role']!='vendor_admin' %}
			<a title="تیکت های دریافتی" href="/user-pannel/tickets"><span id="inbox"></span></a>
			<a title="تیکت های ارسالی" href="/user-pannel/tickets/sent"><span id="outbox"></span></a>
		{% else %}
			<a title="تیکت های دریافتی"><span id="inbox"></span></a>
			<a title="تیکت های ارسالی" href="/user-pannel/tickets"><span id="outbox"></span></a>
		{% endif %}
		<a title="ایجاد تیکت جدید" href="/user-pannel/new-ticket"><span id="new"></span></a>
	</div>
	<div style="position: absolute; top: 9vh; left: 5vw;">
		<a title="بازگشت به صفحه قبل" href="{{request.referrer}}"><span id="back"></span></a>
		{% if session['role']!='vendor_admin' %}
			<a href="" title="پاسخ به تیکت"><span id="reply2"></span></a>
			<a href="#" onclick="forwardTicket()" title="ارجاع تیکت"><span id="forward"></span><span id="s-forward" style="display: none;"></span></a>
			<!--<a href="/user-pannel/tickets/forward/{{ticket_num}}" title="ارجاع تیکت"><span id="forward"></span></a>-->
		{% else %}
			<a title="پاسخ به تیکت"><span id="reply2"></span></a>
			<a title="ارجاع تیکت"><span id="forward"></span></a>
		{% endif %}
	</div>
</div>
<fieldset class="fieldset show-ticket-fieldset" style="height: 77vh; margin-top: 5vh;">
	<legend id="legend">تیکت شماره {{ticket_num[6:]}} :</legend>
	<legend id="forward-legend" style="display: none;">ارجاع تیکت شماره {{ticket_num[6:]}} :</legend>
	<table id="inventory">
		<thead></thead>
		<tbody>
			<tr>
				<td style="border-bottom: 1px solid gray; margin-top: 2vw;">
					<div>
						<div style="float: right; width: 30%;">
							<fieldset style="border: none; padding: 1vh 2vw;">
								<div class="show-ticket-div-1" style="">
									<span>فرستنده:</span>
								</div>
								<div class="show-ticket-div-2">
									{% if ticket_details['sender_departement'] %}
										<a style="color: rgba(21,76,122);" title="نام فرستنده: {{ticket_details['sender_name']}}"><span>واحد {{ticket_details['sender_departement']}} </span></a><span style="color: rgb(162,180,194);">({{ticket_details['sender_username']}})</span>
									{% else %}
										<a style="color: rgba(21,76,122);" title="شماره تماس: {{ticket_details['sender_phone']}}"><span>{{ticket_details['sender_name']}} </span></a><span style="color: rgb(162,180,194);">({{ticket_details['sender_username']}})</span>
									{% endif %}
								</div>
								<div class="show-ticket-div-1">
									<span>گیرنده:</span>
								</div>
								<div class="show-ticket-div-2">
									<span>واحد {{ticket_details['departement']}}</span>
								</div>
								<div class="show-ticket-div-1">
									<span>موضوع:</span>
								</div>
								<div class="show-ticket-div-2">
									<span>{{ticket_details['title']}}</span>
								</div>
								<div class="show-ticket-div-1">
									<span>تاریخ ایجاد:</span>
								</div>
								<div class="show-ticket-div-2">
									<span>{{ticket_details['datetime']}}</span>
								</div>
								<div class="show-ticket-div-1">
									<span>فایل پیوست:</span>
								</div>
								{% if ticket_details['attch_path'] %}
									<div class="show-ticket-div-2">
										<a style="color: blue;" href="/ticket-attachment/{{ticket_details['attch_path']}}"><span>دانلود</span></a>
										<!--<a style="color: blue;" href="http://localhost:5000/{{ticket_details['attch_path'][28:]}}"><span>دانلود</span></a>-->
									</div>
								{% else %}
									<div class="show-ticket-div-2">
										<span>ندارد</span>
									</div>
								{% endif %}
							</fieldset>
						</div>
						<div style="float: right; width: 70%;">
							<fieldset style="border: none; background: #fafafa; padding: 1vh 2vw; min-height: 23vh;">
								{% for line in ticket_details['text'] %}
									<p>
										{{line}}
									</p>
								{% endfor %}
							</fieldset>
						</div>
					</div>
				</td>
			</tr>
			{% if 'forward' in ticket_details %}
				<tr>
					<td>
						<fieldset class="fieldset" style="background: rgb(255,255,230); padding: 1vh 2vw;">
							<div>
								<span style="font-weight: bold; font-style: italic;">
									این تیکت از واحد {{ticket_details['forward']['forward_from'][-1]}} به واحد {{ticket_details['forward']['forward_to'][-1]}} ارجاع شده است.
								</span>
							</div>
							{% if session['role'] != 'vendor_admin' %}
								<div>
									<span>
										توضیحات: 
									</span>
									{% for line in ticket_details['forward']['text'][-1] %}
										<p>
											{{line}}
										</p>
									{% endfor %}
								</div>
							{% endif %}
						</fieldset>
					</td>
				</tr>
			{% endif %}

			{% for i in range(ticket_details['reply']['sender']|length) %}
				<tr id="ticket-replys{{i}}">
					<td>
						<div>
							<span>{{ticket_details['reply']['sender'][i]['name']}}</span>
							<span style="color: rgb(162,180,194);">({{ticket_details['reply']['sender'][i]['username']}})</span>:
							<span style="float: left;">{{ticket_details['reply']['datetime'][i]}}</span>
						</div>
						<div  style="margin-top: 0;">
							{% if (ticket_details['reply']['sender'][i]['name'] == 'پشتیبانی') or (ticket_details['reply']['sender'][i]['name'] != 'واحد '+ ticket_details['sender_departement']) %}
								<fieldset style="border: none; background: rgb(214, 254, 208); padding: 1vh 2vw;">
									{% for line in ticket_details['reply']['text'][i] %}
										<p>
											{{line}}
										</p>
									{% endfor %}
								</fieldset>
							{% else %}
								<fieldset style="border: none; background: #f8e8dd; padding: 1vh 2vw;">
									{% for line in ticket_details['reply']['text'][i] %}
										<p>
											{{line}}
										</p>
									{% endfor %}
								</fieldset>
							{% endif %}
						</div>
					</td>
				</tr>
			{% endfor %}
			{% if (session['role']=='vendor_admin') or ('/tickets/sent' in request.referrer) %}
				{% if ticket_details['support_reply'] == True %}
				<tr>
					<td>
						<form method="POST" action="">
							<div id="ticket-text">
								<textarea id="ticket-reply" name="ticket-reply" placeholder="لطفا پاسخ خود را بنویسید"></textarea>
							</div>
							<div id="forward-from" style="font-weight: bold; display: none;">
								<label>واحد ارجاع  دهنده تیکت:</label>
								<select id="ticket-sender-departement" name="ticket-sender-departement" required>
									<option value="{{ticket_details['departement']}}" selected>{{ticket_details['departement']}}</option>
								</select>
							</div>
							<div id="forward-to" style="font-weight: bold; display: none;">
								<label>واحد ارجاع تیکت را انتخاب کنید:</label>
								<select id="ticket-departement" name="ticket-departement" required>
									<option value="" disabled selected>(انتخاب کنید)</option>
									<option value="management">مدیریت</option>
									<option value="orders">سفارشات</option>
									<option value="inventory">انبارداری</option>
									<option value="accounting">حسابداری</option>
									<option value="technical">فنی</option>
								</select>
							</div>
							</div>
							<div id="forward-text" style="display: none;">
								<textarea id="forward-note" name="forward-note" placeholder="لطفا توضیحات لازم را اینجا بنویسید."></textarea>
							</div>
							<div id="ticket-text-submit">
								<input style="font-size: 17px; font-family: BNazanin;" type="submit" name="button_1" value="ارسال پاسخ" />
							</div>
							<div id="ticket-forward-submit" style="display: none;">
								<input style="font-size: 17px; font-family: BNazanin;" type="submit" name="button_2" value="ارجاع تیکت" />
							</div>
						</form>
					</td>
				</tr>
				{% endif %}
			{% else %}
				{% if ticket_details['sender_reply'] == True %}
				<tr>
					<td>
						<form method="POST" action="">
							<div id="ticket-text">
								<textarea id="ticket-reply" name="ticket-reply" placeholder="لطفا پاسخ خود را بنویسید"></textarea>
							</div>
							<div id="forward-from" style="font-weight: bold; display: none;">
								<label>واحد ارجاع  دهنده تیکت:</label>
								<select id="ticket-sender-departement" name="ticket-sender-departement" required>
									<option value="{{ticket_details['departement']}}" selected>{{ticket_details['departement']}}</option>
								</select>
							</div>
							<div id="forward-to" style="font-weight: bold; display: none;">
								<label>واحد ارجاع تیکت را انتخاب کنید:</label>
								<select id="ticket-departement" name="ticket-departement" required>
									<option value="" disabled selected>(انتخاب کنید)</option>
									<option value="management">مدیریت</option>
									<option value="orders">سفارشات</option>
									<option value="inventory">انبارداری</option>
									<option value="accounting">حسابداری</option>
									<option value="technical">فنی</option>
								</select>
							</div>
							<div id="forward-text" style="display: none;">
								<textarea id="forward-note" name="forward-note" placeholder="لطفا توضیحات لازم را اینجا بنویسید."></textarea>
							</div>
							<div id="ticket-text-submit">
								<input style="font-size: 17px; font-family: BNazanin;" type="submit" name="button_1" value="ارسال پاسخ" />
							</div>
							<div id="ticket-forward-submit" style="display: none;">
								<input style="font-size: 17px; font-family: BNazanin;" type="submit" name="button_2" value="ارجاع تیکت" />
							</div>
						</form>
					</td>
				</tr>
				{% endif %}
			{% endif %}
		</tbody>
	</table>
</fieldset>

<script type="text/javascript">
	function forwardTicket() {
		document.getElementById('ticket-text').style.display = 'none';
		document.getElementById('ticket-text-submit').style.display = 'none';
		document.getElementById('forward').style.display = 'none';
		document.getElementById('legend').style.display = 'none';
		document.getElementById('forward-legend').style.display = 'block';
		document.getElementById('s-forward').style.display = 'block';
		document.getElementById('forward-text').style.display = 'block';
		document.getElementById('ticket-forward-submit').style.display = 'block';
		document.getElementById('forward-from').style.display = 'block';
		document.getElementById('forward-to').style.display = 'block';
		for (i = 0; i < "{{ticket_details['reply']['sender']|length}}"; i++) {
			document.getElementById('ticket-replys'+i).style.display = 'none';
		}
	}
</script>