<div id="login-form">
	<form method="POST" action="">
		<fieldset style="height: 82vh;">
			<legend>بروز رسانی وضعیت مرسولات:</legend>
			<div class="mrg-vh2">
				<label class="right" for="status">لطفا یکی از حالتهای زیر را انتخاب کنید</label>
				<select class="mrg-vh2" style="padding: 10px;" id="status" name="status">
					<option value="0">تحت بررسی</option>
					<option value="1">آماده ارسال، ارسال شده</option>
					<option value="2">توزیع شده، تایید مالی</option>
					<option value="3">سایر وضعیت  ها</option>
				</select>
			</div>
			<div class="mrg-vh4">
				<input style="font-size: 17px; font-family: BNazanin;" type="submit" value="انجام بروزرسانی" />
			</div>
		</fieldset>
	</form>
</div>