{% set home = "color:#fafafa;" %}
{% set temp = "color:#fafafa;" %}
{% set caseTemp = "color:#fafafa;" %}
{% set rts = "color:#fafafa;" %}
{% set pnd = "color:#fafafa;" %}
{% set grnt = "color:#fafafa;" %}
{% set to = "color:#fafafa;" %}
{% set cnl = "color:#fafafa;" %}
{% set c_all = "color:#fafafa;" %}
{% set v_all = "color:#fafafa;" %}
{% set all = "color:#fafafa;" %}
{% set ord = "color:#fafafa;" %}
{% set case = "color:#fafafa;" %}
{% set sts = "color:#fafafa;" %}
{% set mng = "color:#fafafa;" %}
{% set trf = "color:#fafafa;" %}
{% set inv = "color:#fafafa;" %}
{% set finc = "color:#fafafa;" %}
{% set acc = "color:#fafafa;" %}
{% set ticket = "color:#fafafa;" %}
{% set srch = "color:#fafafa;" %}
{% set rgs = "color:#fafafa;" %}
{% set users = "color:#fafafa;" %}
{% set api = "color:#fafafa;" %}

{% if "home" in request.base_url %}
	{% set home = "color:yellow;" %}
{% elif "orderList" in request.base_url %}
	{% set temp = "color:yellow;" %}
{% elif "caseOrderList" in request.base_url %}
	{% set caseTemp = "color:yellow;" %}
{% elif "ready-to-ship" in request.base_url %}
	{% set rts = "color:yellow;" %}
{% elif "pending-orders" in request.base_url %}
	{% set pnd = "color:yellow;" %}
{% elif "guarantee-orders" in request.base_url %}
	{% set grnt = "color:yellow;" %}
{% elif "today-orders" in request.base_url %}
	{% set to = "color:yellow;" %}
{% elif "canceled-orders" in request.base_url %}
	{% set cnl = "color:yellow;" %}
{% elif "case-all-orders" in request.base_url %}
	{% set c_all = "color:yellow;" %}
{% elif "vendors-all-orders" in request.base_url %}
	{% set v_all = "color:yellow;" %}
{% elif "all-orders" in request.base_url %}
	{% set all = "color:yellow;" %}
{% elif "ordering" in request.base_url %}
	{% set ord = "color:yellow;" %}
{% elif "case-orders" in request.base_url %}
	{% set case = "color:yellow;" %}
{% elif "update-status" in request.base_url %}
	{% set sts = "color:yellow;" %}
{% elif "inventory-management" in request.base_url %}
	{% set mng = "color:yellow;" %}
{% elif "inventory-transfer" in request.base_url %}
	{% set trf = "color:yellow;" %}
{% elif "inventory" in request.base_url %}
	{% set inv = "color:yellow;" %}
{% elif "financial" in request.base_url %}
	{% set finc = "color:yellow;" %}
{% elif "accounting" in request.base_url %}
	{% set acc = "color:yellow;" %}
{% elif "ticket" in request.base_url %}
	{% set ticket = "color:yellow;" %}
{% elif "search" in request.base_url %}
	{% set srch = "color:yellow;" %}
{% elif "register" in request.base_url %}
	{% set rgs = "color:yellow;" %}
{% elif "users-management" in request.base_url %}
	{% set users = "color:yellow;" %}
{% elif "api-guide" in request.base_url %}
	{% set api = "color:yellow;" %}
{% endif %}

<div class="tab-fieldset">
	<fieldset class="fieldset-card" style="margin-top: 4vh;">
		<div id="tab">
			<table id="tab-fieldset">
				{% if 'dashboard' in session['access'] %}
					<tr>
						<td>
							<a style={{home}} href="/home">داشبورد</a>
						</td>
					</tr>
				{% endif %}
				{% if 'Ordering' in session['access'] %}
					<tr>
						<td>
							<a style={{ord}} href="/user-pannel/ordering">ثبت سفارش</a>
						</td>
					</tr>
				{% endif %}
				{% if 'caseOrdering' in session['access'] %}
					<tr>
						<td>
							<a style={{case}} href="/user-pannel/case-orders">ثبت سفارش موردی</a>
						</td>
					</tr>
				{% endif %}
				{% if 'processList' in session['access'] %}
					<tr>
						<td>
							<a style={{temp}} href="/user-pannel/orderList">صف پردازش ({{session['temp_orders']}})</a>
						</td>
					</tr>
				{% endif %}
				{% if 'caseProcessList' in session['access'] %}
					<tr>
						<td>
							<a style={{caseTemp}} href="/user-pannel/caseOrderList">صف پردازش موردی ({{session['caseTemp_orders']}})</a>
						</td>
					</tr>
				{% endif %}
				{% if 'todayOrders' in session['access'] %}
					<tr>
						<td>
							<a style={{to}} href="/user-pannel/today-orders">سفارشات امروز ({{session['today_orders']}})</a>
						</td>
					</tr>
				{% endif %}
				{% if 'grntOrders' in session['access'] %}
					<tr>
						<td>
							<a style={{grnt}} href="/user-pannel/guarantee-orders">سفارشات گارانتی ({{session['guarantee_orders']}})</a>
						</td>
					</tr>
				{% endif %}
				{% if 'cnlOrders' in session['access'] %}
					<tr>
						<td>
							<a style={{cnl}} href="/user-pannel/canceled-orders">سفارشات لغو شده ({{session['canceled_orders']}})</a>
						</td>
					</tr>
				{% endif %}
				{% if 'rtsOrders' in session['access'] %}
					<tr>
						<td>
							<a style={{rts}} href="/user-pannel/ready-to-ship">سفارشات آماده ارسال ({{session['ready_to_ship']}})</a>
						</td>
					</tr>
				{% endif %}
				{% if 'pndOrders' in session['access'] %}
					<tr>
						<td>
							<a style={{pnd}} href="/user-pannel/pending-orders">سفارشات در انتظار کالا ({{session['pending_orders']}})</a>
						</td>
					</tr>
				{% endif %}
				{% if 'caseAllOrders' in session['access'] %}
					<tr>
						<td>
							<a style={{c_all}} href="/user-pannel/case-all-orders">همه سفارشات موردی ({{session['case_all_orders']}})</a>
						</td>
					</tr>
				{% endif %}
				{% if ('vendorsAllOrders' in session['access']) and (session['role'] != 'vendor_admin') %}
					<tr>
						<td>
							<a style={{v_all}} href="/user-pannel/vendors-all-orders">همه سفارشات فروشگاهی ({{session['vendors_all_orders']}})</a>
						</td>
					</tr>
				{% endif %}
				{% if 'allOrders' in session['access'] %}
					<tr>
						<td>
							<a style={{all}} href="/user-pannel/all-orders">مشاهده همه سفارشات ({{session['all_orders']}})</a>
						</td>
					</tr>
				{% endif %}
				{% if 'inventory' in session['access'] %}
					<tr>
						<td>
							<a style={{inv}} href="/user-pannel/inventory">انبارداری</a>
						</td>
					</tr>
				{% endif %}
				{% if 'financialRep' in session['access'] %}
					{% if session['role'] != 'vendor_admin' %}
						<tr>
							<td>
								<a style={{finc}} href="/user-pannel/financial/accounting">مالی ({{session['unread_vendor_credit_req']}})</a>
							</td>
						</tr>
					{% else %}
						<tr>
							<td>
								<a style={{finc}} href="/user-pannel/financial/accounting">مالی</a>
							</td>
						</tr>
					{% endif %}
				{% endif %}
				{% if 'financialRep' in session['access'] %}
					<!--<tr>
						<td>
							<a style={{acc}} href="/user-pannel/accounting">حسابداری</a>
						</td>
					</tr>-->
				{% endif %}
				{% if 'requestForStuff' in session['access'] %}
					{% if session['role'] == 'vendor_admin' %}
						<tr>
							<td>
								<a style={{trf}} href="/user-pannel/inventory-transfer/all">حواله به انبار ({{session['unread_inv_transfers']}})</a>
							</td>
						</tr>
					{% elif session['role'] == 'admin' %}
						<tr>
							<td>
								<a style={{trf}} href="/user-pannel/inventory-transfer/listT">حواله به انبار ({{session['unread_inv_transfers']}})</a>
							</td>
						</tr>
					{% endif %}
				{% endif %}
				{% if 'inventManagement' in session['access'] %}
						<tr>
							<td>
								<a style={{mng}} href="/user-pannel/inventory-management/all">مدیریت انبار</a>
							</td>
						</tr>
				{% endif %}
				{% if ('vendorTicket' in session['access']) or ('adminTicket' in session['access']) or ('ordersTicket' in session['access']) or ('inventoryTicket' in session['access']) or ('financialTicket' in session['access']) or ('techTicket' in session['access']) %}
					<tr>
						<td>
							<a style={{ticket}} href="/user-pannel/tickets">تیکت ({{session['unread_tickets']}})</a>
						</td>
					</tr>
				{% endif %}
				{% if 'searchPage' in session['access'] %}
					<tr>
						<td>
							<a style={{srch}} href="/user-pannel/search/all">جستجو</a>
						</td>
					</tr>
				{% endif %}
				{% if ((session['role'] == 'admin') or (session['role'] == 'vendor_admin')) and ('defineUser' in session['access']) %}
					<tr>
						<td>
							<a style={{rgs}} href="/register">ایجاد کاربری</a>
						</td>
					</tr>
				{% endif %}
				{% if ((session['role'] == 'admin') or (session['role'] == 'vendor_admin')) and ('defineUser' in session['access']) %}
					<tr>
						<td>
							<a style={{users}} href="/users-management/Users">مدیریت کاربران</a>
						</td>
					</tr>
				{% endif %}
				{% if (session['role'] == 'admin') or (session['role'] == 'office') %}
					<tr>
						<td>
							<a style={{sts}} href="/update-status">بروزرسانی وضعیت مرسولات</a>
						</td>
					</tr>
				{% endif %}
				<tr>
					<td>
						<a style={{api}} href="/api-guide">دریافت راهنمای وب سرویس</a>
					</td>
				</tr>
			</table>
		</div>
	</fieldset>
</div>