{% set home = "color:#fafafa;" %}
{% set temp = "color:#fafafa;" %}
{% set rts = "color:#fafafa;" %}
{% set to = "color:#fafafa;" %}
{% set cnl = "color:#fafafa;" %}
{% set ord = "color:#fafafa;" %}
{% set sts = "color:#fafafa;" %}
{% set mng = "color:#fafafa;" %}
{% set inv = "color:#fafafa;" %}
{% set acc = "color:#fafafa;" %}
{% set rgs = "color:#fafafa;" %}

{% if "home" in request.base_url %}
	{% set home = "color:yellow;" %}
{% elif "orderList" in request.base_url %}
	{% set temp = "color:yellow;" %}
{% elif "ready-to-ship" in request.base_url %}
	{% set rts = "color:yellow;" %}
{% elif "today-orders" in request.base_url %}
	{% set to = "color:yellow;" %}
{% elif "canceled-orders" in request.base_url %}
	{% set cnl = "color:yellow;" %}
{% elif "ordering" in request.base_url %}
	{% set ord = "color:yellow;" %}
{% elif "update-status" in request.base_url %}
	{% set sts = "color:yellow;" %}
{% elif "inventory-management" in request.base_url %}
	{% set mng = "color:yellow;" %}
{% elif "inventory" in request.base_url %}
	{% set inv = "color:yellow;" %}
{% elif "accounting" in request.base_url %}
	{% set acc = "color:yellow;" %}
{% elif "register" in request.base_url %}
	{% set rgs = "color:yellow;" %}
{% endif %}

<fieldset class="fieldset-card">
	<div id="tab">
		<table>
			<tr>
				<td>
					<a style={{home}} href="/home">داشبورد</a>
				</td>
			</tr>
			<tr>
				<td>
					<a style={{temp}} href="/user-pannel/orderList">صف پردازش ({{session['temp_orders']}})</a>
				</td>
			</tr>
			<tr>
				<td>
					<a style={{rts}} href="/user-pannel/ready-to-ship">سفارشات آماده ارسال ({{session['ready_to_ship']}})</a>
				</td>
			</tr>
			<tr>
				<td>
					<a style={{to}} href="/user-pannel/today-orders">سفارشات امروز ({{session['today_orders']}})</a>
				</td>
			</tr>
			<tr>
				<td>
					<a style={{cnl}} href="/user-pannel/canceled-orders">سفارشات لغو شده ({{session['canceled_orders']}})</a>
				</td>
			</tr>
			<tr>
				<td>
					<a style={{ord}} href="/user-pannel/ordering">ثبت سفارش</a>
				</td>
			</tr>
			<tr>
				<td>
					<a style={{sts}} href="/update-status">بروزرسانی وضعیت مرسولات</a>
				</td>
			</tr>
			<tr>
				<td>
					<a style={{mng}} href="/user-pannel/inventory-management/new">مدیریت انبار</a>
				</td>
			</tr>
			<tr>
				<td>
					<a style={{inv}} href="/user-pannel/inventory">انبارداری</a>
				</td>
			</tr>
			<tr>
				<td>
					<a style={{acc}} href="/user-pannel/accounting">حسابداری</a>
				</td>
			</tr>
			{% if session['role'] == 'admin' %}
				<tr>
					<td>
						<a style={{rgs}} href="/register">ایجاد کاربری</a>
					</td>
				</tr>
			{% endif %}
		</table>
		<!--<a href="/user-pannel/orderList" class="button">صف پردازش ({{session['temp_orders']}})</a>
		<a href="/user-pannel/ordering" class="button">ثبت سفارش</a>
		<a href="/user-pannel/inventory" class="button">انبارداری</a>
		<a href="/user-pannel/accounting" class="button">حسابداری</a>-->
	</div>
</fieldset>