{% extends 'layout.html' %}

{% block body %}
	<div class="footer-content-div">
		<fieldset class="fieldset footer-content-div" style="background: white;">
			<div>
				{% if sub_item == 'about-us' %}
					<p class="footer-content-font">
						درباره ما
					</p>
					<p>
						شرکت سهامی خاص توسعه دانش و فناوری وستا دارای شناسه ملی 14008255881 و شماره ثبت 21871 فعال در زمینه فناوری، حمل و نقل هوشمند، لجستیک، فروشگاهی و ارسال مرسولات به تمام نقاط کشور از شرکت های فناوری فعال کشور می باشد. نرم افزار قدرتمند سامانه پستی وستانو محصول نرم افزاری این شرکت در حوزه لجستیک، انبارداری، حسابداری، ارسال و پست مرسولات می باشد که تحت عنوان "سامانه پستی وستانو" به آدرس اینترنتی <a style="text-decoration: none;" href="http://vestanops.com"><span>	vestanops.com</span></a> در حال فعالیت می باشد، از عمده فعالیت های شرکت ارسال محصولات فروشگاهی وستانو در کمال امنیت، سلامت و پیگیری تا لحظه دریافت محصول و پس از آن توسط مشتری می باشد.
					</p>

				{% elif sub_item == 'customers' %}
					<p class="footer-content-font">
						خدمات مشتریان
					</p>
					<p>
						همگام با تکنولوژی خدمات نرم افزاری، انبار، فروش، لجستیک، ارسال و پست را در اختیار مشتریان گرامی قرار می دهیم.
					</p>

				{% elif sub_item == 'rules' %}
					<p class="footer-content-font">
						قوانین و مقررات
					</p>
					<p>
						این قانون نامه به منظور انجام عملیات صحیح فروش محصولات، لجستیک و ارسال مرسولات و رعایت حقوق فروشنده یا فروشگاه همکار (فرستنده مرسوله) و خریدار (گیرنده مرسوله) در 14 بند در تاریخ 23 تیرماه 1398 توسط شرکت توسعه دانش و فناوری وستا به شناسه ملی 14008255881 مجری، طراح و صاحب امتیاز <a style="text-decoration: none;" href="http://vestanops.com"><span style="color: blue;">	vestanops.com</span></a> (سامانه پستی وستانو)، تنظیم و تدوین گشته است و مفاد آن به طور کلی قابل اجرا و پیگیری می باشد.
					</p>
					<p>
						1- قوانین و مقررات حاضر در راستای در اختیار قراردادن و اجرای خدمات تامین، فروش، انبارداری، حمل و نقل هوشمند، لجستیک و ارسال مرسولات به نقاط مختلف کشور با برند "سامانه پستی وستانو" و خدمات نرم افزاری آدرس اینترنتی <a style="text-decoration: none;" href="http://vestanops.com"><span>	vestanops.com</span></a> می باشد.
					</p>
					<p>
						2- در این قانون نامه فروشنده یا فروشگاه همکار به تمامی افراد (حقیقی، حقوقی) که از خدمات نرم افزاری سامانه پستی وستانو استفاده می کنند اطلاق می شود.
					</p>
					<p>
						3- در این قانون نامه خریدار محصول به تمامی افراد (حقیقی، حقوقی) که دریافت کننده محصول از طریق سامانه پستی وستانو می باشند اطلاق می شود.
					</p>
					<p>
						4- فروشگاه و یا فروشندگان طرف قرارداد باید پیش از آغاز فعالیت با سامانه پستی وستانو نسبت به اخذ قرارداد رسمی با دفتر شرکت توسعه دانش و فناوری وستا با شناسه ملی 14008255881 اقدام نمایند.
					</p>
					<p>
						5- محصولات سامانه پستی وستانو به صورت متنوع عرضه خواهد شد و خریدار متعهد می شود در صورتی که نسبت به محصول نارضایتی دارد ظرف مدت 72 ساعت پس از دریافت با شماره های پشتیبانی سامانه تماس حاصل نماید. در صورت هر گونه اعلام نارضایتی و یا شکایت پس از مدت سه روز از دریافت محصول توسط خریدار هیچگونه شکایت و اعتراضی پذیرفته نمی باشد و خریداری که با استفاده از "سامانه پستی وستانو" از فروشگاه سامانه پستی وستانو، دیگر فروشگاه ها و فروشندگان همکار محصول خود را سفارش داد و تحویل می گیرد متعهد می شود که قوانین و مقررات را به صورت کامل مطالعه نموده و با آگاهی از این قوانین و مقررات اقدام به خرید و ارسال از طریق سامانه پستی وستانو نموده و هر گونه شکایت و اعتراض از جانب خریدار و سفارش دهنده محصول غیر قابل قبول می باشد.
					</p>
					<p>
						6- فروشنده یا فروشگاه همکار متعهد می باشد مرسولات خود را به صورت مشخص با قیمت دقیق و ارسال عکس مرسوله پیش از عملیات فروش به دفتر وستانو با ذکر دقیق آدرس، شماره تلفن، کدپستی فرستنده و خریدار و نوع ارسال(سفارشی، پیشتاز) مربوط به هر مرسوله به پیک های فرستاده شده از طرف سامانه پستی وستانو در روز و ساعت مشخص به انبار وستانو تحویل نماید و در صورت فروش و یا تامین کالا از راه های فروشگاه اینترنتی وستانو باید مرسوله را در روز و ساعت مشخص به وستانو تحویل نماید و به هیچ وجه امکان کنسلی سفارش خریدار وجود نخواهد داشت مگر آنکه خریدار رضایت کتبی خود را به دفتر وستانو ارسال نماید.
					</p>
					<p>
						7- فروشنده یا فروشگاه همکار متعهد می شود به طور کلی مرسولات مجاز پستی را با "سامانه پستی وستانو" ارسال نماید و در صورت فروش و ارسال هرگونه ماده ممنوعه پستی در پوشش مرسوله به فروش رسیده عواقب و پیگرد قانونی آن متوجه فروشنده یا فروشگاه همکار قرارداد می باشد و سامانه پستی وستانو هیچگونه مسئولیتی در قبال آن نخواهد داشت.
					</p>
					<p>
						8- هزینه ارسال مرسولات به فروش رفته برابر تعرفه مشخص پستی بوده علاوه بر آن هزینه پاکت یا کارتن و چسب مورد نیاز بسته بندی و لفاف بندی و هزینه هربار مراجعه و جمع آوری توسط پیک (در صورت استفاده نکردن از انبار) از محل فروشگاه یا ورود محصولات به شهر کرمانشاه (فرودگاه، ترمینال، بابری، پست) برابر تعرفه رسمی اعمال خواهد شد و در صورت تامین کالا و فروش بواسطه خدمات وستانو درصد توافق شده در زمان فروش با وستانو مشخص خواهد شد.
					</p>
					<p>
						9- در صورت فروش و ارسال مرسولات به روش پرداخت در محل حداکثر پس از 15 روز هزینه محصول به حساب رسمی فروشنده و یا فروشگاه توسط سامانه پستی وستانو واریز خواهد شد.
					</p>
					<p>
						10- فروشنده یا فروشگاه همکار متعهد می شود وارد هیچگونه معامله کاری و مالی در خصوص موضوع قرارداد با پیک های معرفی شده از سوی سامانه پستی وستانو نشود، و تنها امورات فروش، ارسال و مالی را باید با سامانه پستی وستانو انجام دهد و هرگونه توافق با پیک از سوی فروشنده یا فروشگاه (چه در زمان همکاری پیک با سامانه پستی وستانو و چه در زمان جدایی پیک از سامانه پستی وستانو) در خصوص موضوع قرارداد خلاف مقررات سامانه فروشگاهی، حمل و نقل هوشمند و لجستیک (سامانه پستی وستانو) بوده و مطابق قرارداد پیگیری قانونی در بر خواهد داشت. 
					</p>
					<p>
						11- سامانه پستی وستانو متعهد می شود در صورت عدم استفاده فروشنده یا فروشگاه از انبار، با استفاده از ناوگان حمل و نقل در اختیار خود عملیات جمع آوری و ارسال مرسولات طرف دوم قرارداد را در ساعت و روز مشخص پس از فروش مرسوله توسط فروشنده یا فروشگاه به انجام رساند.
					</p>
					<p>
						12- کلیه قوانین رسمی کشور در فروش های اینترنتی بر این قانون نامه صادق می باشد و در صورت نقص و خرابی کالا فروشنده یا فروشگاه همکار مطابق قوانین فروشگاه در بازه مشخص شده متعهد به جبران خسارت سامانه پستی وستانو (شامل اعتبار در فروش) و خریدار محصول به صورت تمام و کمال می باشد. (بنابراین فروشنده یا فروشگاه همکار متعهد می شود در فروش و ارسال محصولات خود با سامانه پستی وستانو دقت و تعهد کافی مطابق قرارداد را داشته باشد)
					</p>
					<p>
						13- در صورت هرگونه شکایت و اعتراض خریدار و نیاز به جبران خسارت (شامل خرابی محصول، عدم تطابق با بنر اینترنتی، عدم تطابق با توضیحات درج شده در زمان فروش، عدم ارسال به موقع به دفتر یا انبار وستانو جهت ارسال به مشتری، دریافت هزینه محصول از خریدار و عدم ارسال محصول برای خریدار) و به طور کلی تمامی خسارت ایجاد شده برعهده فروشنده یا فروشگاه می باشد و طرف دوم قرارداد متعهد می شود کم تر از هفت روز کاری خسارت را به خریدار پرداخت نماید و رضایت خریدار را جلب نماید.
					</p>

					<p>
						14- برای فروش و ارسال محصولات گیاهی و دارویی سیب سلامت وزارت بهداشت و برای فروش و ارسال محصولات خوراکی بهره گیری از استانداردهای صحیح روز الزامی می باشد. فروشنده یا فروشگاه متعهد می شود در صورتی که فروش و ارسال محصولات گیاهی، دارویی یا خوراکی را با سامانه پستی وستانو به انجام می رساند و مرسولات را به انبار سامانه پستی وستانو تحویل داده و یا از پیک وستانو در همان بازه زمانی فروش و ارسال به منظور عملیات لجستیکی و تحویل محصول به سامانه پستی وستانو استفاده نماید، هرگونه خسارت به خریدار (شامل جانی و بیماری ناشی از استفاده از محصول فروشنده یا فروشگاه همکار) به طور کلی متوجه فروشنده یا فروشگاه همکار خواهد بود و هیچگونه تعهد و خسارتی متوجه سامانه پستی وستانو نخواهد بود و فروشنده یا فروشگاه همکار متعهد می شود در تمامی مراجع قانونی پاسخگو و متعهد باشد و تمامی عواقب و خسارات را عهده دار باشد و سامانه پستی وستانو اجازه در اختیار قراردادن اطلاعات طرف دوم قرارداد و خریدار محصول را به مراجع قانونی برای خود محفوظ نگه میدارد.
					</p>

				{% elif sub_item == 'guide' %}
					<p class="footer-content-font">
						راهنمای استفاده
					</p>
					<p>
						ابتدا باید قوانین و مقررات مربوط به سامانه پستی وستانو را از بخش قوانین و مقررات به صورت کامل مطالعه نموده و سپس به منظور دریافت خدمات با واحد پشتیبانی با شماره 38229253-083 تماس حاصل فرمایید و یا مشخصات و درخواست خود را به ایمیل <a style="text-decoration: none;" href="mailto:vestaco98@gmail.com"><span>
						vestaco98@gmail.com
					</span></a> ارسال نمایید.
					</p>

				{% elif sub_item == 'complaints' %}
					<div>
						<p class="footer-content-font">
							ثبت شکایات
						</p>
						<p>
							هموطن گرامی در صورتی که خرید یا ارسال و دریافت محصول خود را با سامانه پستی وستانو انجام داده اید و نسبت به آن انتقاد، پیشنهاد و یا شکایتی دارید، لطفا از طریق ارسال فرم زیر به دفتر سامانه پستی وستانو اقدام نمایید که همکاران بازرسی در اسرع وقت با شما تماس حاصل نمایند.
						</p>
					</div>
					<div class="new-ticket-fieldset" style="height: unset;">
						<form method="POST" action="">
							<div>
								<label>نام و نام خانوادگی<span> *</span></label>
								<input id="complaints-name" type="text" name="complaints-name" placeholder="" required size="30" />
							</div>
							<div>
								<label>شماره تماس<span> *</span></label>
								<input id="complaints-phone" type="text" name="complaints-phone" onchange="phoneValidator('complaints-phone', 'phone')" placeholder="" required size="30" />
							</div>
							<div>
								<label>ایمیل</label>
								<input id="complaints-email" type="email" name="complaints-email" placeholder="" size=30"" />
							</div>
							<div style="clear:both;">
								<label>توضیحات<span> *</span></label>
								<textarea rows="5" cols="50" id="complaints-text" name="complaints-text" placeholder="" required></textarea>
							</div>
							<div style="margin-top: 3vh;">
								<input style="font-size: 17px; font-family: BNazanin;" type="submit" value="تایید و ارسال" />
							</div>
						</form>
					</div>

				{% elif sub_item == 'contact' %}
					<p class="footer-content-font">
						تماس با ما
					</p>
					<p>
						083-38280883 
					</p>
					<p>
						09187206130
					</p>
					<p>
						09187206140
					</p>
					<a style="text-decoration: none;" href="mailto:vestaco98@gmail.com"><p>
						vestaco98@gmail.com
					</p></a>
					<p>
						نشانی: کرمانشاه، کرمانشاه، الهیه، ابتدای بلوار استاد بهزاد، سامانه پستی وستانو
					</p>
					<p>
						ساختمان انبار و پردازش مرکزی: کرمانشاه، کرمانشاه، الهیه، خیابان رز، سامانه پستی وستانو
					</p>
				{% elif sub_item == 'software' %}
					<p class="footer-content-font">
						نرم افزار
					</p>
					<p>
						در اختیار قراردادن نرم افزار با قابلیت ثبت سفارش، فضای انبارداری، حسابداری، ارسال آسان سفارشات فروشگاه از طریق وب سرویس به نرم افزار و پردازش سریع و ارسال از طریق تیم پشتیبانی و پیگیری مرسوله از طریق نرم افزار تا زمان تحویل به دریافت کننده به صورت رایگان
					</p>

				{% elif sub_item == 'inventory' %}
					<p class="footer-content-font">
						استفاده از فضای انبار
					</p>
					<p>
						اگر فضایی برای فروش محصولات خود ندارید می توانید محصولات خود را به انبار سامانه پستی وستانو بسپارید و تنها بر روی فروش خود تمرکز کنید
					</p>

				{% elif sub_item == 'sell' %}
					<p class="footer-content-font">
						فروش کالا
					</p>
					<p>
						می توانید محصولات و کالاهای خود را از طریق فضاهای فروشی که وستانو در اختیار شما قرار خواهد داد به فروش برسانید. همینطور می توانید زنجیره تامین محصولات خود را با وستانو همیشگی نمایید.
					</p>

				{% elif sub_item == 'send' %}
					<p class="footer-content-font">
						ارسال کالا
					</p>
					<p>
						کالا و محصولات را متناسب با روش فروش با یکی از سرویس های پرداخت آنلاین، پرداخت در محل، پرداخت هزینه کالا در مقصد و یا کرایه ارسال در مقصد به دست مشتری (گیرنده) می رسانیم.
					</p>

				{% endif %}
			</div>
		</fieldset>
	</div>
	<div class="footer-div">
		{% include 'includes/_footer.html' %}
	</div>
	<div class="mobile-footer-div">
		{% include 'includes/_mobileFooter.html' %}
	</div>
	<script type="text/javascript">
	function phoneValidator(id_name, type) {
		var data = document.getElementById(id_name).value;
		const xhr = new XMLHttpRequest();
		xhr.onreadystatechange = function() {
			if (this.readyState == 4 && this.status == 200) {

				var json = JSON.parse(this.responseText);
				if (!json.result) {
					document.getElementById(id_name).value = "";
					document.getElementById(id_name).focus();
					if (type == 'name') {
						alert('خطا !\nنام و نام خانوادگی باید فقط شامل حروف فارسی و لاتین باشند!');
					} else {
						alert('خطا !\nشماره تماس به درستی وارد نشده است!');
					}
				}
			}
		}
		xhr.open('GET', '/validator-ajax?data='+data+'&type='+type, true);
		xhr.send();
	}
</script>
{% endblock %}