{% extends 'layout.html' %}

{% block body %}
	<div id="flash" class="container" style="display: none;">
		<div class="alert alert-error" id="f-message">
			سفارشی با این شماره رهگیری موجود نیست!
		</div>
	</div>
	<div onclick="nowShowSubmit()">
		<!--<div class="div0">
			<figure style="margin: -1vh 0;">
				<img id="bg-img" src="/static/img/first page.jpg" alt="vestano company" />
			</figure>
		</div>-->
		<div style="margin-bottom: 7vh; background: #eee;"></div>
		<div class="div1">
			<form>
				<div align="center" class="div2">
					<h3>رهگیری مرسوله</h3>
					<input id="shipment-track" class="navbar-link fp-search fp-st" type="search" name="shipment-track" onclick="showSubmit()" autocomplete="off" placeholder="شماره پیگیری"  />
					<div id="div1-2" class="div1-2" style="display: none;">
						<a href="#" class="button" onclick="shipmentTrack()"><span>جستجوی مرسوله</span></a>
				    </div>
				</div>
			</form>
		</div>
		<div class="div3"></div>
		<div id="st-div-0" class="st-div-0">
			{% include 'includes/_shipmentTrack.html' %}
		</div>
		<div class="div3"></div>
		<div class="footer-div">
			{% include 'includes/_footer.html' %}
		</div>
		<div class="mobile-footer-div">
			{% include 'includes/_mobileFooter.html' %}
		</div>
	</div>

	<script type="text/javascript">
		var show_flag = 0;
		var x = document.getElementById("flash");
		var persianNumbers = [/۰/g, /۱/g, /۲/g, /۳/g, /۴/g, /۵/g, /۶/g, /۷/g, /۸/g, /۹/g];
		var arabicNumbers  = [/٠/g, /١/g, /٢/g, /٣/g, /٤/g, /٥/g, /٦/g, /٧/g, /٨/g, /٩/g];

		function showSubmit() {
			show_flag = 1;
			document.getElementById("div1-2").style.display = 'block';
		}

		function nowShowSubmit() {
			if (!show_flag) {
				document.getElementById("div1-2").style.display = 'none';
			}
			show_flag = 0;
		}

		function fixNumbers(str) {

			if (typeof str === 'string') {
				for (var i=0; i<10; i++) {
					str = str.replace(persianNumbers[i], i).replace(arabicNumbers[i], i);
				}
			}
			return str;
		}

		function shipmentTrack() {
			track_id = document.getElementById('shipment-track').value;
			track_id = fixNumbers(track_id);
		    const xhr = new XMLHttpRequest();
		    xhr.onreadystatechange = function() {
		      if (this.readyState == 4 && this.status == 200) {
		      	var json = JSON.parse(this.responseText);
		      	if (json.success) {
		      		document.getElementById("st-div-0").style.display = 'block';
		      		document.getElementById('trackId').innerHTML = json.trackId;
			        document.getElementById('senderName').innerHTML = json.senderName;
			        document.getElementById('senderAdd').innerHTML = json.senderAdd;
			        document.getElementById('receiverName').innerHTML = json.receiverName;
			        document.getElementById('receiverAdd').innerHTML = json.receiverAdd;
			        document.getElementById('receiverCellNumber').innerHTML = json.receiverCellNumber;
			        document.getElementById('receiverPostalCode').innerHTML = json.receiverPostalCode;
			        document.getElementById('datetime').innerHTML = json.datetime;
			        document.getElementById('parcelCode').innerHTML = json.parcelCode;
			        document.getElementById('productName').innerHTML = json.products;
			        document.getElementById('weight').innerHTML = json.weight;
			        document.getElementById('serviceType').innerHTML = json.serviceType;
			        document.getElementById('status').innerHTML = json.status;
		      	} else {
		      		x.style.display = 'block';
		      		setTimeout(function(){ x.style.display = "none" }, 5000);
		      	}
		      }
		    }
		    xhr.open('GET', '/shipmentTrack-ajax?track_id=' + track_id, true);
		    xhr.send();
		  }
	</script>
{% endblock %}