<!DOCTYPE html>
<html lang="fa-IR">
    <head>
        <title>سامانه پستی وستانو</title>
        <!--<meta charset="utf-8" />-->
        <meta content="text/html;charset=UTF-8" http-equiv="Content-Type" />
        <meta name="description" content="سامانه پستی وستانو"  />
        <meta name="viewport" content="width=device-width,initial-scale=1.0" />
        <link rel="stylesheet" type="text/css" href="/static/css/vestano.css" />
        <link rel="shortcut icon" href="{{ url_for('static', filename='icon.ico') }}">
    </head>
    <body>
        <header id="main-header" class="clearfix">
            {% if 'username' in session %}
                {% include 'includes/_navbar.html' %}            
            {% endif %}
        </header>

        {% if request.url_rule.rule[1] %}
            {% include 'includes/_messages.html' %}
        {% endif %}
        {% block body %}{% endblock %}

        <!--{% include 'includes/_footer.html' %}-->

        
    </body>
</html>