{% extends 'layout.html' %}

<div class="container">
	<main class="card">
		{% block body %}
			<div style="margin-top: 2vh;">
				{% include 'includes/_fpMessage.html' %}
			</div>
			<!--<div onclick="defaultOpacity()">
				<aside id="first-statement" class="clearfix">
					<figure>
						<img id="bg-img" src="/static/img/first page.jpg" alt="vestano company" height="600" />
						<img id="bg-img" src="/static/img/bgpic.jpg" alt="vestano company" height="600" />
					</figure>
				</aside>
			</div>-->
			<div>
				<figure>
					<img id="fp-vestano" src="/static/img/fp-vestano2.png" alt="vestano post system" width="250" height="160" />
				</figure>
			</div>
			<div style="position: fixed; top: 50vh; left: 13vw;">
				<fieldset style="width: 21vw; height: 30vh; border: none;">
					<p style="font-family: B-Roya; text-align: justify; font-size: 15px; font-weight: bold;">
                        سامانه فروشگاهی، حمل و نقل هوشمند و لجستیک وستانو به منظور ارسال محصولات وستانو و سیستم همکاری در فروش در امنیت و سلامت کامل               
                    </p>
				</fieldset>
			</div>
			{% include 'includes/_fpLogin.html' %}

			<script type="text/javascript">
				function defaultOpacity() {
					document.getElementById("bg-img").style.opacity = "0.8";
					document.getElementById("fp-login").style.background = "#0b4158";
					//document.getElementById("fp-login-a").style.color = "#222";
					document.getElementById("register").style.background = "none";
					document.getElementById("register").style.background = "no-repeat left";
					document.getElementById("register").style.backgroundImage = "url(/static/img/icon/register.png)";
				}
			</script>
		{% endblock %}
	</main>
</div>