{% extends 'layout.html' %}

<div class="container">
	<main class="card">
		{% block body %}
			<div style="margin-top: 2vh;">
				{% include 'includes/_fpMessage.html' %}
			</div>
			{% include 'includes/_fpLogin.html' %}
			<!--<div onclick="defaultOpacity()">
				<aside id="first-statement" class="clearfix">
					<figure>
						<img id="bg-img" src="/static/img/first page.jpg" alt="vestano company" height="600" />
						<img id="bg-img" src="/static/img/bgpic.jpg" alt="vestano company" height="600" />
					</figure>
				</aside>
			</div>-->
			<!--<div>
				<figure>
					<img id="fp-vestano" src="/static/img/fp-vestano2.png" alt="vestano post system" width="250" height="160" />
				</figure>
			</div>-->
			<div class="login-div">
				<fieldset style="width: 25vw; height: 30vh; border: none;">
					<div style="font-family: B-Roya; text-align: justify; font-size: 22px; font-weight: bold;">
						<span>
							سامانه پستی وستانو
						</span>
					</div>
					<p style="font-family: B-Roya; text-align: justify; font-size: 20px; font-weight: bold;">
                        سامانه فروشگاهی، حمل و نقل هوشمند و لجستیک وستانو به منظور ارسال محصولات وستانو و سیستم همکاری در فروش در امنیت و سلامت کامل               
                    </p>
				</fieldset>
			</div>
			<!--<div class="mobile-login-div">
				<fieldset style="width: 70vw; border: none;">
					<p style="font-family: B-Roya; text-align: justify; font-size: 15px; font-weight: bold;">
                        سامانه فروشگاهی، حمل و نقل هوشمند و لجستیک وستانو به منظور ارسال محصولات وستانو و سیستم همکاری در فروش در امنیت و سلامت کامل               
                    </p>
				</fieldset>
			</div>-->

			<div class="div6" style="position: fixed; bottom: 0; width: 100%; padding-bottom: 1vh;">
				<span style="color: black;">&copy; کلیه حقوق این سایت متعلق به شرکت توسعه دانش و فناوری وستا به شناسه ملی 14008255881 می باشد.</span>
			</div>
			

			<script type="text/javascript">
				function defaultOpacity() {
					document.getElementById("bg-img").style.opacity = "0.8";
					document.getElementById("fp-login").style.background = "#0b4158";
					//document.getElementById("fp-login-a").style.color = "#222";
					document.getElementById("register").style.background = "none";
					document.getElementById("register").style.background = "no-repeat left";
					document.getElementById("register").style.backgroundImage = "url(/static/img/icon/register.png)";
				}
			</script>
		{% endblock %}
	</main>
</div>