{% extends 'layout.html' %}

{% include 'includes/_logo.html' %}

{% block body %}
	<div class="container">
  		<main class="card">
			<div id="login-form">
				<section>
					<form method="POST" action="">
						<fieldset>
							<legend>لطفا ثبت نام کنید</legend>
		                    <div>					
								<label for="username">نام</label>
								<input id="username" type="text" name="name" />
							</div>
		                    
		                    <div>
								<label for="email">پست الکترونیکی</label>
								<input id="email" type="email" name="email" required />
							</div>
		                    
							<div>					
								<label for="username">نام کاربری</label>
								<input id="username" type="text" name="username" placeholder="e.g. John" required />
							</div>

							<div>
								<label for="password">گذرواژه</label>
								<input id="password" type="password" name="password" required />
							</div>
		                    
		                    <div>
								<label for="password">تکرار گذرواژه</label>
								<input id="password" type="password" name="confirm" required />
							</div>
						</fieldset>

						<div>
							<input type="submit" value="ثبت نام" />	
						</div>			
					</form>
				</section>
			</div>
		</main>
	</div>
{% endblock %}