{% extends 'layout.html' %}

{% include 'includes/_logo.html' %}

{% block body %}
	<div class="container">
		{% include 'includes/_tab.html' %}
  		<main class="card">
			<div id="login-form">
				<section>
					<form method="POST" action="">
						<fieldset style="height: 80vh;">
							<legend>لطفا ثبت نام کنید</legend>
							<table id="registering">
								<tr>
				                    <td>					
										<label class="right" for="name">نام و نام خانوادگی</label>
										<input id="name" type="text" name="name" required />
									</td>
								</tr>
								{% if session['role'] != 'vendor_admin' %}
									<tr>
					                    <td>					
											<label class="right" for="vendor-name">نام فروشگاه</label>
											<input id="vendor-name" type="text" name="vendor-name" onkeyup="enableAccontData()" oncontextmenu="enableAccontData()" />
										</td>
										<td>
											<label style="margin-right: 2vw;"><input id="api_user" type="checkbox" name="api_user" value="api" onchange="apiUser('api_user')">کاربر وب سرویس</label>
										</td>
										<td>
											<label style="margin-right: 2vw;"><input id="if_constant_wage" type="checkbox" name="if_constant_wage" value="yes" disabled onchange="constantWage('if_constant_wage')"> کارمزد ثابت</label>
										</td>
									</tr>
									<tr id="account-number-tr" style="display: none;">
					                    <td>					
											<label class="right" for="account-number">شماره حساب فروشگاه (بانک ملی)</label>
											<input id="account-number" type="text" name="account-number" />
										</td>
					                    <td>					
											<label style="margin-right: 2vw;" class="right" for="account-holder">نام صاحب حساب</label>
											<input style="margin-right: 2vw;" id="account-holder" type="text" name="account-holder" />
										</td>
									</tr>
									<tr id="constant_wage" style="display: none;">
					                    <td>					
											<label class="right" for="distributive">کارمزد توزیعی</label>
											<input id="distributive" type="number" placeholder="ریال" name="distributive" />
										</td>
					                    <td>					
											<label style="margin-right: 2vw;" class="right" for="returned">کارمزد برگشتی</label>
											<input style="margin-right: 2vw;" id="returned" type="number" placeholder="ریال" name="returned" />
										</td>
									</tr>
								{% endif %}
								<tr>			                    
				                    <td>
										<label class="right" for="email">پست الکترونیکی</label>
										<input id="email" type="email" name="email" />
									</td>
									<td>
										<label style="margin-right: 2vw;" class="right" for="phone">تلفن</label>
										<input style="margin-right: 2vw;" id="phone" type="text" name="phone" />
									</td>
								</tr>
								<tr>				                    
									<td>					
										<label class="right" for="username">نام کاربری</label>
										<input id="username" type="text" name="username" required />
									</td>
								</tr>
								<tr>
									<td>
										<label class="right" for="password">کلمه عبور</label>
										<input id="password" type="password" name="password" required />
									</td>
								</tr>
								<tr>				                    
				                    <td>
										<label class="right" for="password">تکرار کلمه عبور</label>
										<input id="password" type="password" name="confirm" required />
									</td>
								</tr>
								{% if session['role'] != 'vendor_admin' %}
									<tr>
										<td>
											<label class="right" for="role">سطح کاربری</label>
											<select id="role" name="role" onchange="defaultAccess()">
												<option value="">(انتخاب کنید)</option>
												<option value="admin">مدیر</option>
												<option value="office">دفتر</option>
												<option value="vendor_admin">مدیر فروشگاه</option>
												<option value="support">پشتیبانی</option>
											</select>
										</td>
									</tr>
								{% endif %}
								<tr>
									<td>
										<label style="margin-bottom: 2vh;" class="right" for="access">سطوح دسترسی</label>
									</td>
								</tr>
								{% if session['role'] == 'vendor_admin' %}
									<tr class="access">
										<td>
											<label><input id="access2" type="checkbox" name="access" value="Ordering">ثبت سفارش</label>
										</td>
										<td>
											<label><input id="access4" type="checkbox" name="access" value="processList">صف پردازش (فروشگاه)</label>
										</td>
										<td>
											<label><input id="access5" type="checkbox" name="access" value="todayOrders">سفارشات امروز</label>
										</td>
										<td>
											<label><input id="access6" type="checkbox" name="access" value="cnlOrders">سفارشات لغو شده</label>
										</td>
										<td>
											<label><input id="access8" type="checkbox" name="access" value="pndOrders">سفارشات در انتظار کالا</label>
										</td>
										<td>
											<label><input id="access9" type="checkbox" name="access" value="grntOrders">سفارشات گارانتی</label>
										</td>
										<td>
											<label><input id="access12" type="checkbox" name="access" value="allOrders">مشاهده همه سفارشات</label>
										</td>
										<td>
											<label><input id="access14" type="checkbox" name="access" value="requestForStuff">درخواست حواله و خروج از انبار</label>
										</td>
										<td>
											<label><input id="access17" type="checkbox" name="access" value="newStuff">افزودن کالای جدید</label>
										</td>
										<td>
											<label><input id="access18" type="checkbox" name="access" value="incStuff">افزودن کالای موجود</label>
										</td>
										<td>
											<label><input id="access19" type="checkbox" name="access" value="editStuff">ویرایش کالا</label>
										</td>
										<td>
											<label><input id="access20" type="checkbox" name="access" value="newPack">ایجاد بسته</label>
										</td>
										<td>
											<label><input id="access21" type="checkbox" name="access" value="releaseStuff">خروج از انبار</label>
										</td>
										<td>
											<label><input id="access22" type="checkbox" name="access" value="searchStuff">جستجو در انبار</label>
										</td>
										<td>
											<label><input id="access23" type="checkbox" name="access" value="inventory">انبارداری</label>
										</td>
										<td>
											<label><input id="access24" type="checkbox" name="access" value="financialRep">صفحه مالی</label>
										</td>
										<td>
											<label><input id="access25" type="checkbox" name="access" value="accounting">حسابداری</label>
										</td>
										<td>
											<label><input id="access26" type="checkbox" name="access" value="vendorCredit">بستانکاری فروشگاه</label>
										</td>
										<td>
											<label><input id="access27" type="checkbox" name="access" value="creditList">لیست درخواست های واریز وجه</label>
										</td>
										<td>
											<label><input id="access28" type="checkbox" name="access" value="paidList">مبالغ واریزی</label>
										</td>
										<td>
											<label><input id="access29" type="checkbox" name="access" value="vendorTicket">تیکت فروشگاه</label>
										</td>
										<td>
											<label><input id="access35" type="checkbox" name="access" value="incCredit">افزایش اعتبار </label>
										</td>
										<td>
											<label><input id="access36" type="checkbox" name="access" value="dashboard">داشبورد</label>
										</td>
										<td>
											<label><input id="access37" type="checkbox" name="access" value="defineUser">ایجاد کاربری</label>
										</td>
										<td>
											<label><input id="access38" type="checkbox" name="access" value="searchPage">صفحه جستجو</label>
										</td>
										<td>
											<label><input id="access40" type="checkbox" name="access" value="searchInVendors">جستجو - سفارشات فروشگاهی</label>
										</td>
										<td>
											<label><input id="access41" type="checkbox" name="access" value="searchInAccounting">جستجو - حسابداری</label>
										</td>
									</tr>
								{% else %}
									<tr class="access">
										<td>
											<label><input id="access1" type="checkbox" name="access" value="caseOrdering">ثبت سفارش موردی</label>
										</td>
										<td>
											<label><input id="access2" type="checkbox" name="access" value="Ordering">ثبت سفارش</label>
										</td>
										<td>
											<label><input id="access3" type="checkbox" name="access" value="caseProcessList">صف پردازش (موردی)</label>
										</td>
										<td>
											<label><input id="access4" type="checkbox" name="access" value="processList">صف پردازش (فروشگاه)</label>
										</td>
										<td>
											<label><input id="access5" type="checkbox" name="access" value="todayOrders">سفارشات امروز</label>
										</td>
										<td>
											<label><input id="access6" type="checkbox" name="access" value="cnlOrders">سفارشات لغو شده</label>
										</td>
										<td>
											<label><input id="access7" type="checkbox" name="access" value="rtsOrders">سفارشات آماده ارسال</label>
										</td>
										<td>
											<label><input id="access8" type="checkbox" name="access" value="pndOrders">سفارشات در انتظار کالا</label>
										</td>
										<td>
											<label><input id="access9" type="checkbox" name="access" value="grntOrders">سفارشات گارانتی</label>
										</td>
										<td>
											<label><input id="access10" type="checkbox" name="access" value="caseAllOrders">همه سفارشات موردی</label>
										</td>
										<td>
											<label><input id="access11" type="checkbox" name="access" value="vendorsAllOrders">همه سفارشات فروشگاهی</label>
										</td>
										<td>
											<label><input id="access12" type="checkbox" name="access" value="allOrders">مشاهده همه سفارشات</label>
										</td>
										<td>
											<label><input id="access13" type="checkbox" name="access" value="inventManagement">مدیریت انبار</label>
										</td>
										<td>
											<label><input id="access14" type="checkbox" name="access" value="requestForStuff">درخواست حواله و خروج از انبار</label>
										</td>
										<td>
											<label><input id="access15" type="checkbox" name="access" value="caseNewStuff">افزودن کالای موردی</label>
										</td>
										<td>
											<label><input id="access16" type="checkbox" name="access" value="caseEditStuff">ویرایش کالای موردی</label>
										</td>
										<td>
											<label><input id="access17" type="checkbox" name="access" value="newStuff">افزودن کالای جدید</label>
										</td>
										<td>
											<label><input id="access18" type="checkbox" name="access" value="incStuff">افزودن کالای موجود</label>
										</td>
										<td>
											<label><input id="access19" type="checkbox" name="access" value="editStuff">ویرایش کالا</label>
										</td>
										<td>
											<label><input id="access20" type="checkbox" name="access" value="newPack">ایجاد بسته</label>
										</td>
										<td>
											<label><input id="access21" type="checkbox" name="access" value="releaseStuff">خروج از انبار</label>
										</td>
										<td>
											<label><input id="access22" type="checkbox" name="access" value="searchStuff">جستجو در انبار</label>
										</td>
										<td>
											<label><input id="access23" type="checkbox" name="access" value="inventory">انبارداری</label>
										</td>
										<td>
											<label><input id="access24" type="checkbox" name="access" value="financialRep">صفحه مالی</label>
										</td>
										<td>
											<label><input id="access25" type="checkbox" name="access" value="accounting">حسابداری</label>
										</td>
										<td>
											<label><input id="access26" type="checkbox" name="access" value="vendorCredit">بستانکاری فروشگاه</label>
										</td>
										<td>
											<label><input id="access27" type="checkbox" name="access" value="creditList">لیست درخواست های واریز وجه</label>
										</td>
										<td>
											<label><input id="access28" type="checkbox" name="access" value="paidList">مبالغ واریزی</label>
										</td>
										<td>
											<label><input id="access29" type="checkbox" name="access" value="vendorTicket">تیکت فروشگاه</label>
										</td>
										<td>
											<label><input id="access30" type="checkbox" name="access" value="adminTicket">تیکت مدیریت</label>
										</td>
										<td>
											<label><input id="access31" type="checkbox" name="access" value="ordersTicket">تیکت سفارشات</label>
										</td>
										<td>
											<label><input id="access32" type="checkbox" name="access" value="inventoryTicket">تیکت انبارداری</label>
										</td>
										<td>
											<label><input id="access33" type="checkbox" name="access" value="financialTicket">تیکت حسابداری</label>
										</td>
										<td>
											<label><input id="access34" type="checkbox" name="access" value="techTicket">تیکت فنی</label>
										</td>

										<td>
											<label><input id="access35" type="checkbox" name="access" value="incCredit">افزایش اعتبار </label>
										</td>
										<td>
											<label><input id="access36" type="checkbox" name="access" value="dashboard">داشبورد</label>
										</td>
										<td>
											<label><input id="access37" type="checkbox" name="access" value="defineUser">ایجاد کاربری</label>
										</td>
										<td>
											<label><input id="access42" type="checkbox" name="access" value="wageManagement">مدیریت کارمزدها</label>
										</td>
										<td>
											<label><input id="access38" type="checkbox" name="access" value="searchPage">صفحه جستجو</label>
										</td>
										<td>
											<label><input id="access39" type="checkbox" name="access" value="searchInCases">جستجو - سفارشات موردی</label>
										</td>
										<td>
											<label><input id="access40" type="checkbox" name="access" value="searchInVendors">جستجو - سفارشات فروشگاهی</label>
										</td>
										<td>
											<label><input id="access41" type="checkbox" name="access" value="searchInAccounting">جستجو - حسابداری</label>
										</td>
									</tr>
								{% endif %}
								<tr>
									<td style="padding-top: 1vh; text-align: right;">
										<input style="font-size: 17px; font-family: BNazanin;" type="submit" value="ایجاد کاربری" />
									</td>
								</tr>
							</table>
						</fieldset>

					</form>
				</section>
			</div>
		</main>
	</div>

	<script type="text/javascript">
		function apiUser(id_name) {
			var check = document.getElementById(id_name).checked;
			if (check == true) {
				document.getElementById('if_constant_wage').disabled = false;
				document.getElementById('role').disabled = true;
				document.getElementById('account-number').disabled = true;
				document.getElementById('account-holder').disabled = true;
				document.getElementById('role').value = "";
				document.getElementById('account-number').value = "";
				document.getElementById('account-holder').value = "";
				for (i = 1; i < 43; i++) {
					document.getElementById('access'+i).disabled = true;
					document.getElementById('access'+i).checked = false;
				}
			} else {
				document.getElementById('if_constant_wage').disabled = true;
				document.getElementById('if_constant_wage').checked = false;
				document.getElementById('constant_wage').style.display = 'none';
				document.getElementById('role').disabled = false;
				document.getElementById('account-number').disabled = false;
				document.getElementById('account-holder').disabled = false;
				for (i = 1; i < 43; i++) {
					document.getElementById('access'+i).disabled = false;
				}
			}

		}

		function defaultAccess() {
			var role = document.getElementById('role').value;
			if (role == 'admin') {
				for (i = 1; i < 43; i++) {
					document.getElementById('access'+i).checked = true;
				}
			} else if (role == 'office') {
				for (i = 1; i < 43; i++) {
					document.getElementById('access'+i).checked = true;
				}
				for (i = 24; i <= 37; i++) {
					document.getElementById('access'+i).checked = false;
				}
				document.getElementById('access14').checked = false;
				document.getElementById('access41').checked = false;
				document.getElementById('access42').checked = false;
			} else if (role == 'vendor_admin') {
				for (i = 1; i < 43; i++) {
					document.getElementById('access'+i).checked = true;
				}
				for (i = 30; i <= 34; i++) {
					document.getElementById('access'+i).checked = false;
				}
				document.getElementById('access1').checked = false;
				document.getElementById('access3').checked = false;
				document.getElementById('access7').checked = false;
				document.getElementById('access10').checked = false;
				document.getElementById('access11').checked = false;
				document.getElementById('access13').checked = false;
				document.getElementById('access15').checked = false;
				document.getElementById('access16').checked = false;
				document.getElementById('access39').checked = false;
				document.getElementById('access42').checked = false;
			} else if (role == 'support') {
				for (i = 1; i < 43; i++) {
					document.getElementById('access'+i).checked = false;
				}
				for (i = 38; i < 42; i++) {
					document.getElementById('access'+i).checked = true;
				}
				document.getElementById('access5').checked = true;
				document.getElementById('access6').checked = true;
				document.getElementById('access8').checked = true;
				document.getElementById('access9').checked = true;
				document.getElementById('access12').checked = true;
				document.getElementById('access23').checked = true;
			}
		}

		function enableAccontData() {
			document.getElementById('account-number-tr').style.display = 'block';
			document.getElementById('account-number').required = true;
			document.getElementById('account-holder-tr').style.display = 'block';
			document.getElementById('account-holder').required = true;
		}

		function constantWage(id_name) {
			var check = document.getElementById(id_name).checked;
			if (check == true) {
				document.getElementById('constant_wage').style.display = 'block';
			} else {
				document.getElementById('constant_wage').style.display = 'none';
			}
		}
	</script>
{% endblock %}