{% extends 'layout.html' %}

{% include 'includes/_logo.html' %}

{% block body %}
	<div class="container">
		{% include 'includes/_tab.html' %}
  		<main class="card">
			<div class="dropdown-content-inventory">
				<input type="text" class="navbar-link invent-search" id="myInput-inventory" onkeyup="filter()" size="25">
			</div>
			{% if session['role'] != 'vendor_admin' %}
				{% include 'includes/_usersManagementTab.html' %}
			{% endif %}
			{% if (sub_item == 'Users') or (sub_item == 'office') or (sub_item == 'api') %}
				{% if session['role'] != 'vendor_admin' %}
				<fieldset class="fieldset" style="margin-top: 1vh; height: 75vh;">
				{% else %}
				<fieldset class="fieldset" style="margin-top: 3vh; height: 80vh;">
				{% endif %}
					<legend>مدیریت کاربران:</legend>
					<table id="inventory">
						<thead>
							<tr style="background: yellow;">
								<th style="width: 4vw;">
									<span>ردیف</span>
								</th>
								<th>
									<span>نام و نام خانوادگی</span>
								</th>
								<th>
									<span>نام کاربری</span>
								</th>
								<th>
									<span>سطح کاربری</span>
								</th>
								<th style="width: 14vw;">
									<span>پست الکترونیکی</span>
								</th>
								<th>
									<span>تلفن</span>
								</th>
								<th>
									<span>تاریخ ایجاد</span>
								</th>
								<th>
									<span>اقدام</span>
								</th>
								<th style="width: 1vw;"></th>
							</tr>
						</thead>
						<tbody id="myDropdown" style="height: 68vh;">
							{% for rec in data %}
							{% if session['role'] != 'vendor_admin' %}
								{% if session['username'] == rec['username'] %}
								<tr id="rows" class="border-bottom" onclick="usersDetail('{{rec['username']}}')" style="background: #81fc81;">
								{% else %}
								<tr id="rows" class="border-bottom" onclick="usersDetail('{{rec['username']}}')">
								{% endif %}
							{% else %}
								{% if session['username'] == rec['username'] %}
								<tr class="border-bottom" style="background: #81fc81;">
								{% else %}
								<tr id="rows" class="border-bottom" onclick="usersDetail('{{rec['username']}}')">
								{% endif %}
							{% endif %}
									<td style="width: 4vw;">
										<span>{{loop.index}}</span>
									</td>
									<td>
										<span>{{rec['name']}}</span>
									</td>
									<td>
										<span class="font14">{{rec['username']}}</span>
									</td>
									{% if ('ایجاد کاربری' not in rec['access']) and (rec['role'] == 'مدیر فروشگاه' ) %}
										{% if session['role'] == 'vendor_admin' %}
										<td>
											<a title="{{('\n'.join(rec['access']))}}"><span>کاربر</span></a>
										</td>
										{% else %}
										<td>
											<a title="{{('\n'.join(rec['access']))}}"><span>کاربر فروشگاه</span></a>
										</td>
										{% endif %}
									{% else %}
										<td>
											<a title="{{('\n'.join(rec['access']))}}"><span>{{rec['role']}}</span></a>
										</td>
									{% endif %}
									<td style="width: 14vw;">
										<span class="font14">{{rec['email']}}</span>
									</td>
									<td>
										<span>{{rec['phone']}}</span>
									</td>
									<td>
										<span>{{rec['created_date']}}</span>
									</td>
									{% if session['username'] == rec['username'] %}
										<td id="no-action" onclick="tdOnclick()">
							              <span style="float: unset; margin: auto;" id="delete"></span>
							            </td>
							        {% else %}
							        	<td id="no-action" onclick="tdOnclick()">
							              <a id="delete-user" href="/delete-user/{{rec['username']}}" onclick="return confirm('از حذف این کاربر مطمئن هستید؟')" title="حذف کاربر"><span style="float: unset; margin: auto;" id="delete"></span></a>
							            </td>
							        {% endif %}
								</tr>
							{% endfor %}
						</tbody>
					</table>
				</fieldset>
			{% elif sub_item == 'vendors' %}
				<fieldset class="fieldset" style="margin-top: 1vh; height: 75vh;">
					<legend>مدیریت کاربران:</legend>
					<table id="inventory">
						<thead>
							<tr style="background: yellow;">
								<th style="width: 4vw;">
									<span>ردیف</span>
								</th>
								<th>
									<span>نام و نام خانوادگی</span>
								</th>
								<th>
									<span class="font14">نام کاربری</span>
								</th>
								<th>
									<span>سطح کاربری</span>
								</th>
								<th>
									<span>نام فروشگاه</span>
								</th>
								<th>
									<span>تلفن</span>
								</th>
								<th>
									<span>شماره حساب</span>
								</th>
								<th>
									<span>نام صاحب حساب</span>
								</th>
								<th>
									<span>تاریخ ایجاد</span>
								</th>
								<th>
									<span>اقدام</span>
								</th>
								<th style="width: 1vw;"></th>
							</tr>
						</thead>
						<tbody id="myDropdown" style="height: 68vh;">
							{% for rec in data %}
								<tr id="rows" class="border-bottom" onclick="usersDetail('{{rec['username']}}')">
									<td style="width: 4vw;">
										<span>{{loop.index}}</span>
									</td>
									<td>
										<span>{{rec['name']}}</span>
									</td>
									<td>
										<span>{{rec['username']}}</span>
									</td>
									{% if 'ایجاد کاربری' in rec['access'] %}
										<td>
											<a title="{{('\n'.join(rec['access']))}}"><span>{{rec['role']}}</span></a>
										</td>
									{% else %}
										<td>
											<a title="{{('\n'.join(rec['access']))}}"><span>کاربر</span></a>
										</td>
									{% endif %}
									<td>
										<span>{{rec['vendor_name']}}</span>
									</td>
									<td>
										<span>{{rec['phone']}}</span>
									</td>
									<td>
										<span>{{rec['account_number']}}</span>
									</td>
									<td>
										<span>{{rec['account_holder']}}</span>
									</td>
									<td>
										<span>{{rec['created_date']}}</span>
									</td>
									<td id="no-action" onclick="tdOnclick()">
						              <a href="/delete-user/{{rec['username']}}" onclick="return confirm('از حذف این کاربر مطمئن هستید؟')" title="حذف کاربر"><span style="float: unset; margin: auto;" id="delete"></span></a>
						            </td>
								</tr>
							{% endfor %}
						</tbody>
					</table>
				</fieldset>
			{% elif sub_item == 'wage' %}
				<fieldset class="fieldset" style="margin-top: 1vh; height: 75vh;">
					<legend>مدیریت کارمزدها:</legend>
					<form method="POST" action="">
						<table class="wage-table">
							<tr style="background: yellow; height: 7vh;">
								<th style="text-align: center; width: 10vw;">
									<span>وزن (کیلوگرم)</span>
								</th>
								<th>
									<span>کمتر از 10</span>
								</th>
								<th>
									<span>10 تا 15</span>
								</th>
								<th>
									<span>15 تا 20</span>
								</th>
								<th>
									<span>20 تا 25</span>
								</th>
								<th>
									<span>25 تا 30</span>
								</th>
								<th>
									<span>بیشتر از 30</span>
								</th>
							</tr>
							<tr>
								<th style="text-align: center; width: 10vw; background: #ffff9e;">
									<span>پرداخت آنلاین (ریال)</span>
								</th>
								<td>
									<input style="text-align: center;" id="onlineLT10" type="number" name="onlineLT10" value="{{wage_result['online']['LT10']}}" required />
								</td>
								<td>
									<input style="text-align: center;" id="online10_15" type="number" name="online10_15" value="{{wage_result['online']['10-15']}}" required />
								</td>
								<td>
									<input style="text-align: center;" id="online15_20" type="number" name="online15_20" value="{{wage_result['online']['15-20']}}" required />
								</td>
								<td>
									<input style="text-align: center;" id="online20_25" type="number" name="online20_25" value="{{wage_result['online']['20-25']}}" required />
								</td>
								<td>
									<input style="text-align: center;" id="online25_30" type="number" name="online25_30" value="{{wage_result['online']['25-30']}}" required />
								</td>
								<td>
									<input style="text-align: center;" id="onlineGT30" type="number" name="onlineGT30" value="{{wage_result['online']['GT30']}}" required />
								</td>
							</tr>
							<tr>
								<th style="text-align: center; width: 10vw; background: #ffff9e;">
									<span>پرداخت در محل (ریال)</span>
								</th>
								<td>
									<input style="text-align: center;" id="codLT10" type="number" name="codLT10" value="{{wage_result['cod']['LT10']}}" required />
								</td>
								<td>
									<input style="text-align: center;" id="cod10_15" type="number" name="cod10_15" value="{{wage_result['cod']['10-15']}}" required />
								</td>
								<td>
									<input style="text-align: center;" id="cod15_20" type="number" name="cod15_20" value="{{wage_result['cod']['15-20']}}" required />
								</td>
								<td>
									<input style="text-align: center;" id="cod20_25" type="number" name="cod20_25" value="{{wage_result['cod']['20-25']}}" required />
								</td>
								<td>
									<input style="text-align: center;" id="cod25_30" type="number" name="cod25_30" value="{{wage_result['cod']['25-30']}}" required />
								</td>
								<td>
									<input style="text-align: center;" id="codGT30" type="number" name="codGT30" value="{{wage_result['cod']['GT30']}}" required />
								</td>
							</tr>
							<tr>
								<th style="text-align: center; width: 10vw; background: #ffff9e;">
									<span>هزینه کالا در مقصد (ریال)</span>
								</th>
								<td>
									<input style="text-align: center;" id="cgdLT10" type="number" name="cgdLT10" value="{{wage_result['cgd']['LT10']}}" required />
								</td>
								<td>
									<input style="text-align: center;" id="cgd10_15" type="number" name="cgd10_15" value="{{wage_result['cgd']['10-15']}}" required />
								</td>
								<td>
									<input style="text-align: center;" id="cgd15_20" type="number" name="cgd15_20" value="{{wage_result['cgd']['15-20']}}" required />
								</td>
								<td>
									<input style="text-align: center;" id="cgd20_25" type="number" name="cgd20_25" value="{{wage_result['cgd']['20-25']}}" required />
								</td>
								<td>
									<input style="text-align: center;" id="cgd25_30" type="number" name="cgd25_30" value="{{wage_result['cgd']['25-30']}}" required />
								</td>
								<td>
									<input style="text-align: center;" id="cgdGT30" type="number" name="cgdGT30" value="{{wage_result['cgd']['GT30']}}" required />
								</td>
							</tr>
							<tr>
								<th style="text-align: center; width: 10vw; background: #ffff9e;">
									<span>کرایه در مقصد (ریال)</span>
								</th>
								<td>
									<input style="text-align: center;" id="radLT10" type="number" name="radLT10" value="{{wage_result['rad']['LT10']}}" required />
								</td>
								<td>
									<input style="text-align: center;" id="rad10_15" type="number" name="rad10_15" value="{{wage_result['rad']['10-15']}}" required />
								</td>
								<td>
									<input style="text-align: center;" id="rad15_20" type="number" name="rad15_20" value="{{wage_result['rad']['15-20']}}" required />
								</td>
								<td>
									<input style="text-align: center;" id="rad20_25" type="number" name="rad20_25" value="{{wage_result['rad']['20-25']}}" required />
								</td>
								<td>
									<input style="text-align: center;" id="rad25_30" type="number" name="rad25_30" value="{{wage_result['rad']['25-30']}}" required />
								</td>
								<td>
									<input style="text-align: center;" id="radGT30" type="number" name="radGT30" value="{{wage_result['rad']['GT30']}}" required />
								</td>
							</tr>
						</table>
						<div style="margin: 6vh 1.5vw;">
							<input style="font-size: 17px; font-family: BNazanin;" type="submit" value="ثبت کنید" /> 
						</div>
					</form>
				</fieldset>
			{% endif %}
		</main>
	</div>

	<script type="text/javascript">
		function filter() {
			var input, value, tr, div, i;
			input = document.getElementById("myInput-inventory");
			value = input.value.toUpperCase();
			div = document.getElementById("myDropdown");
			tr = div.getElementsByTagName("tr");
			if (isNaN(value)) {
				for (i = 0; i < (tr.length); i++) {
					span = tr[i].getElementsByTagName("span");
					txtValue = span[1].textContent;
					if (txtValue.toUpperCase().indexOf(value) > -1) {
						tr[i].style.display = "";
					} else {
						txtValue = span[2].textContent;
						if (txtValue.toUpperCase().indexOf(value) > -1) {
							tr[i].style.display = "";
						} else {
							txtValue = span[3].textContent;
							if (txtValue.toUpperCase().indexOf(value) > -1) {
								tr[i].style.display = "";
							} else {
								txtValue = span[4].textContent;
								if (txtValue.toUpperCase().indexOf(value) > -1) {
									tr[i].style.display = "";
								} else {
									txtValue = span[7].textContent;
									if (txtValue.toUpperCase().indexOf(value) > -1) {
										tr[i].style.display = "";
									} else {
										tr[i].style.display = "none";
									}
								}
							}
						}
					}
				}
			} else {
				for (i = 0; i < (tr.length); i++) {
					span = tr[i].getElementsByTagName("span");
					txtValue = span[5].textContent;
					if (txtValue.toUpperCase().indexOf(value) > -1) {
						tr[i].style.display = "";
					} else {
						txtValue = span[6].textContent;
						txtValue = txtValue.replace(/\s/g, '');
						if (txtValue.toUpperCase().indexOf(value) > -1) {
							tr[i].style.display = "";
						} 
						else {
							txtValue = span[6].textContent;
							txtValue = txtValue.replace(/\s/g, '');
							if (txtValue.toUpperCase().indexOf(value) > -1) {
								tr[i].style.display = "";
							} else {
								tr[i].style.display = "none";
							}
						}
					}
				}
				span = tr[0].getElementsByTagName("span");
				txtValue = span[5].textContent;
				txtValue = txtValue.replace(/\s/g, '');
				//alert(txtValue)
			}
		}

		function reverse_date_1(s) {
			s = s.split("/").reverse().join("/");
			return s;
		}

		function reverse_date_2(s) {
			s = s.split(" / ").reverse().join(" / ");
			return s;
		} 

		function reverse_time(s) {
			s = s.split(":").reverse().join(":");
			return s;
		}

		function usersDetail(username) {
			window.open("/users-detail/"+username, 'User Details', 'width=1300,height=500,top=100,left=125');
		}

		function tdOnclick() {
			event.cancelBubble=true;
		}
	</script>
{% endblock %}