{% extends 'layout.html' %}

{% include 'includes/_logo.html' %}

{% block body %}
  <div class="container">
    {% include 'includes/_tab.html' %}
    {% if item == "ordering" or item == "case-orders" %}
      <main class="card" style="margin-top: 0; padding-bottom: 0;">
    {% else %}
      <main class="card" style="margin-top: 0;">
    {% endif %}
      <div id="login-form">        
        <section>
          {% if item == "orderList" %}
            {% include 'includes/_tempOrders.html' %}
          {% elif item == "readyToShip" %}
            {% include 'includes/_readyToShip.html' %}
          {% elif item == "todayOrders" %}
            {% include 'includes/_todayOrders.html' %}
          {% elif item == "cnlOrders" %}
            {% include 'includes/_canceledOrders.html' %}
          {% elif item == "pendingOrders" %}
            {% include 'includes/_pendingOrders.html' %}
          {% elif item == "allOrders" %}
            {% include 'includes/_allOrders.html' %}
          {% elif item == "ordering" %}
            {% include 'includes/_ordering.html' %}
          {% elif item == "case-orders" %}
            {% include 'includes/_caseOrders.html' %}
          {% elif item == "inventManagement" %}
            {% include 'includes/_inventManagement.html' %}
          {% elif item == "inventory" %}
            {% include 'includes/_inventory.html' %}
          {% elif item == "accounting" %}
            {% include 'includes/_accounting.html' %}
          {% endif %}
        </section>    
      </div>
    </main>
  </div>
{% endblock %}