<div>
  <p>
    براساس تازه‌ترین داده‌های بنیاد سنجش و ارزیابی سلامت وابسته به دانشگاه واشنگتن، در تمامی کشورهای جهان به استثنای سه کشور زن‌ها بیشتر از مردها عمر می‌کنند.<br/>
این سه کشور استثنایی عبارتند از کویت، جمهوری کنگو و موریتانی.<br/>
تحقیق بنیاد ارزیابی و نگارش سلامت در سال ۲۰۱۶، نشان می‌دهد که امید به زندگی زنان در سراسر جهان حدود پنج سال و نیم بیشتر از مردهاست.
با درنظر گرفتن آمارهای سازمان بهداشت جهانی، این اختلاف طول عمر زنها با مردها قابل توجه و سوال برانگیز است. آمارهایی که نشان می دهد استرس و اضطرابی که زنها در طول عمر تجربه می‌کنند بیشتر از مردهاست. آنها در طول زندگی دست‌کم دو برابر مردها دچار افسردگی می‌شوند و در مقایسه با مردها، از حقوق انسانی و مزایای اقتصادی کمتری برخوردارند. با همه اینها، زن‌ها در مقابل مرگ سرسخت‌تر هستند. هنوز کسی نمی‌داند دقیقا چه عاملی باعث شده عمر زنها طولانی‌تر از مردهای همسنشان باشد اما تحقیقات در مورد عواملی که می‌توانند در این روند نقش داشته باشد در جریان است.<br/>
  </p>
  <figure>
    <img src="/static/img/omidzanan.jpg" alt="امید  به زندگی در زنان" />
  </figure>
  <p>
تفاوتهای ژنتیک<br/>
آمار مرگ و میر نوزدان نشان می‌دهند که دخترها با امتیازی نسبت به پسرها متولد می‌شوند.<br/>
تقریبا در همه کشورهای جهان و در دوره‌های تاریخی مختلف، نوزادان دختر در شرایط سخت و کشنده بیشتر از پسرها مقاومت کرده‌اند. به همین خاطر تعداد نوزادان پسری که در دوره طفولیت می‌میرند، بیشتر از دخترهاست.
تحقیقات تازه‌ای که دانشگاه جنوبی دانمارک انجام داده، نشان می‌دهد استقامت بدن زن در شرایط سخت بیشتر از مرد است. محققان با بررسی آماری در مقاطع تاریخی مختلف می‌گویند زنها در زمان شیوع بیماری‌های واگیردار یا قحطی بیشتر از مردها دوام آورده‌اند.<br/>
دکتر مازیار اشرفیان بناب، متخصص ژنتیک می‌گوید: «زنها دو کروموزوم ایکس دارند و مردها یک کروموزوم ایکس و یک ایگرگ. این یعنی زنها یک ظرفیت جبرانی در کروموزوم جفت دارند. به عبارتی داشتن کروموزوم ایکس اضافی به آنها ایمنی مضاعف داده است.»


  </p>
</div>
<details>
  <summary>بیشتر بخوانید</summary>
  <p>
    دلایل رفتاری و فرهنگی<br/>
یک دلیل سنتی برای طولانی‌تر بودن امید به زندگی زنها، اختلاف رفتاری است.<br/>
بر اساس آمار سازمان بهداشت جهانی، مردها بیشتر از زنها سیگار می‌کشند، مشروب می‌خورند و در موقعیت‌های خطرناک قرار می‌گیرند. همچنین مرگ و میر بر اثر تصادف در بین مردها خیلی بیشتر از زنهاست.<br/>
سازمان بهداشت جهانی همچنین می‌گوید که تقریبا در تمامی کشورهای جهان آمار خودکشی مردها بیشتر از زنهاست. عده‌ای از محققان عامل این اختلاف رفتاری را تفاوت میزان هورمون تستوسترون می‌دانند.<br/>
با این حال فقط بخشی از تفاوت‌های زن و مرد ریشه‌های زیست‌ساختی دارند و بسیاری از آنها حاصل عوامل تربیتی است.<br/>
زن‌ها آسانتر احساساتشان را بیان می‌کنند و در صورت نیاز، تقاضای کمک می‌کنند در حالی که به مردها یاد داده می‌شود خوددار باشند و از بیان احساسات تا حد ممکن بپرهیزند. مثلا به مردها از کودکی یاد می‌دهند مرد که گریه نمی‌کند در حالی که اشک ریختن زن، منافاتی با زنانگی او ندارد.<br/>
داده‌های بنیاد سنجش و ارزیابی سلامت نشان می‌دهد که در بعضی از کشورهای جهان اختلاف طول عمر بین زن و مرد به حدود ۱۱ سال می‌رسد. این اختلافات عمده بیشتر در کشورهای اروپای شرقی و روسیه است. منطقه ای که مردها اغلب الکل زیادی می نوشند و شرایط کاری نامطلوبی دارند.<br/>
این اطلاعات و آمار نشان می‌هد که تعداد زنانی که در دوران پیری همسرانشان را از دست می دهند به نسبت بیشتر از مردان است. به‌خصوص با درنظر گرفتن فرهنگ غالب که معمولا مردها شریک زندگی‌شان را از بین زنان جوانتر از خودشان انتخاب می کنند.<br/>
اگر رفاه اجتماعی پایین باشد و زنها از لحاظ اقتصادی وابسته به همسرانشان باشند، نتیجه این خواهد شد که زنان دوران پیری را با ناامنی‌های مالی سپری خواهند کرد.<br/>
مثالی دیگر در ژاپن که رفاه اجتماعی نسبتا مناسب است، زنان ژاپنی با میانگین ۸۶ سال بیش از تمامی انسانهای روی کره خاکی عمر می کنند.<br/>
حالا جامعه ژاپن با بحران تنهایی در دوران پیری روبرو شده و هر روز تعدادی از سالخورده‌ها در تنهایی و عزلت در آپارتمانهای‌شان می‌میرند.<br/>
با این حال نتیجه مرگ زودهنگام مردها، برقراری تعادل در تعداد زن و مردهای جهان است. آمارهای بانک جهانی نشان می‌دهد که اگرچه تعداد پسرهایی که هر روز متولد می‌شوند بیشتر از دخترهاست، اما در نهایت جمعیت زنان و مردان در جهان تقریبا مساوی است.<br/>
منبع:  
      <a href="https://bbcpersian.com">بی‌بی‌سی</a>

  </p>
</details>